{% extends "main/main.html" %} {% block title %} | Account Dashboard{% endblock%}
{% block headStyle %}
<style>
  .panel_toolbox {
    min-width: 0;
  }
  .count{
    cursor: pointer;
  }
  form strong{
    cursor: pointer;
  }
</style>

{% endblock %}
{% block content %}
<!-- page content -->
<div class="right_col" role="main">
  <!-- top tiles -->
  <div class="row w-100" style="display: inline-block">
    <div class="tile_count">
      
      <div class="col-md-2 col-sm-4 tile_stats_count">
        <span class="count_top">Driver Dispute</span>
        <div class="count">{{disputeCount}}</div>
      </div>
      <div class="col-md-2 col-sm-4 tile_stats_count">
        <span class="count_top">Driver Reimbursement</span>
        <div class="count">{{reimbursementCount}}</div>
      </div>
      <div class="col-md-2 col-sm-4 tile_stats_count">
        <form action="{% url 'Account:ShiftDetails' id=3 %}" method="POST" id="preStartNotFilled">
          {% csrf_token %}
          <input type="hidden" name="startDate" id="preStartNotFilledStartDate">
          <input type="hidden" name="endDate" id="preStartNotFilledEndDate">
          <span class="count_top">Pre-start not filled </span>
          <div class="count ">{{preStartPendingCount}}</div>
        </form>
      </div>
      <div class="col-md-2 col-sm-4 tile_stats_count">
        <form action="{% url 'Account:ShiftDetails' id=0 %}" method="POST" id="completedShift">
          {% csrf_token %}
          <input type="hidden" name="startDate" id="completedShiftStartDate">
          <input type="hidden" name="endDate" id="completedShiftEndDate">
          <span class="count_top">Shift Completed</span>
          <div class="count">{{completedShiftsCount}}</div>
        </form>
      </div>
      <div class="col-md-2 col-sm-4 tile_stats_count">
        <form action="{% url 'Account:ShiftDetails' id=2 %}" method="POST" id="preStartForm">
          {% csrf_token %}
          <input type="hidden" name="startDate" id="preStartStartDate">
          <input type="hidden" name="endDate" id="preStartEndDate">
          <span class="count_top">Ongoing shifts </span>
          <div class="count">{{continueShiftsCount}}</div>
        </form></form>
      </div>
      <div class="col-md-2 col-sm-4 tile_stats_count">
        <span class="count_top">Total shifts</span>
        <div class="count green">{{totalShiftsCount}}</div>
      </div>
      
    </div>
  </div>

  <div class="row my-3">
    <div class="col-md-6 col-sm-6">
      <div class="x_panel tile  overflow_hidden">
        <div class="x_title">
          <h2>Last month report overview</h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <table style="width:100%">
            <tr>
              <td class="w-50">
                <canvas class="canvasDoughnutCustom" height="160" width="160" style="margin: 1.4em"></canvas>
              </td>
              <td>
                <table class="tile_info">
                  <tr>
                    <td>
                      <p><i class="fa fa-square green"></i>Short-paid report</p>
                    </td>
                    <td>{{shortPaidCount}}</td>
                  </tr>
                  <tr>
                    <td>
                      <p><i class="fa fa-square purple"></i>Write-of report</p>
                    </td>
                    <td>{{writeOfCount}}</td>
                  </tr>
                  <tr>
                    <td>
                      <p><i class="fa fa-square aero"></i>Reconciliation shifts </p>
                    </td>
                    <td>{{reconciliationCount}}</td>
                  </tr>
                  <tr>
                    <td>
                      <p><i class="fa fa-square dark"></i>Total Reports </p>
                    </td>
                    <td>{{reportCount}}</td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <form action="{% url 'Appointment:driverPreStartTable1' failed=1 %}" id="last3DaysFailedPreStarts" method="POST">
            {% csrf_token %}
            <input type="hidden" id="last3DaysFailedPreStartsStartDate" name="startDate">
            <input type="hidden" id="last3DaysFailedPreStartsEndDate" name="endDate">
            <strong><i class="fa-solid fa-right-long"></i> View drivers who have not filled their pre-starts in the past 3 days</strong>
          </form>
          <form action="{% url 'Account:ShiftDetails' id=2 %}" id="driverShiftNotEndedForm" method="POST">
            {% csrf_token %}
            <input type="hidden" id="driverShiftNotEndedFormStartDate" name="startDate">
            <input type="hidden" id="driverShiftNotEndedFormEndDate" name="endDate">
            <strong><i class="fa-solid fa-right-long"></i> View drivers who have not ended their shifts in the past week</strong>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6">
      <div class="x_panel">
        <div class="x_title">
          <h2> Escalation overview</h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <ul class="nav nav-tabs justify-content-between bar_tabs" id="myTab" role="tablist">
            <!-- <li class="nav-item">
              <a class="nav-link active" id="opened-tab" data-toggle="tab" href="#opened" role="tab" aria-controls="opened" aria-selected="true">Opened</a>
            </li> -->
            <h6>
              Currently opened Escalation: <b>{{openedEscalationCount}}</b>
            </h6>
            <li class="nav-item">
              <a class="nav-link active" id="old-tab" data-toggle="tab" href="#old1" role="tab" aria-controls="old" aria-selected="false">Old</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <!-- <div class="tab-pane fade show active" id="opened" role="tabpanel" aria-labelledby="opened-tab">
              <div>
                <h2 class="count font-weight-bold text-center border d-inline-block rounded-circle m-auto" style="padding: 2rem 2.4rem;">{{preStartPendingCount}}</h2>
              </div>
            </div> -->

            <div class="tab-pane fade show active" id="old1" role="tabpanel" aria-labelledby="old-tab">

              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Client Name</th>
                    <th scope="col">Raise Date</th>
                    <th scope="col">Last mail</th>
                    <th scope="col">Amount</th>
                  </tr>
                </thead>
                <tbody>
                  {% for escalation in oldEscalation %}
                    <tr>
                      <td class="text-capitalize">{{escalation.clientName.name}}</td>
                      <td>{{escalation.escalationDate}}</td>
                      <td>{{escalation.lastMailDate}}</td>
                      <td>{{escalation.escalationAmount}}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /top tiles -->
</div>
<!-- /page content -->
{% endblock %}

{% block footerStyleEnd %}
<script>
  $(document).ready(function(){
    canvasDoughnutSet()
  });

  $('#completedShift .count').on('click', function(){
    setDate("completedShiftStartDate")
    setDate("completedShiftEndDate")
    $("#completedShift").submit()
  })
  $('#preStartForm .count').on('click', function(){
    setDate("preStartStartDate")
    setDate("preStartEndDate")
    $("#preStartForm").submit()
  })
  $('#preStartNotFilled .count').on('click', function(){
    setDate("preStartNotFilledStartDate")
    setDate("preStartNotFilledEndDate")
    $("#preStartNotFilled").submit()
  })

  function canvasDoughnutSet() {
    if (
      "undefined" != typeof Chart &&
      (console.log("init_chart_doughnut"), $(".canvasDoughnutCustom").length)
    ) {
      var a = {
        type: "doughnut",
        tooltipFillColor: "rgba(51, 51, 51, 0.55)",
        data: {
          labels: ["Reconciliation", "Write-off", "Short-paid"],
          datasets: [
            {
              data: ["{{reconciliationCount}}", "{{writeOfCount}}", "{{shortPaidCount}}"],
              backgroundColor: [
                "#BDC3C7",
                "#9B59B6",
                "#26B99A",
              ],
              hoverBackgroundColor: [
                "#CFD4D8",
                "#B370CF",
                "#36CAAB",
              ],
            },
          ],
        },
        options: { legend: !1, responsive: !1 },
      };
      $(".canvasDoughnutCustom").each(function () {
        var e = $(this);
        new Chart(e, a);
      });
    }
  }

  $('#last3DaysFailedPreStarts strong').on('click', function(){
    var today = new Date();

    var todayFormatted = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2);
    $('#last3DaysFailedPreStartsEndDate').val(todayFormatted);

    var threeDaysAgo = new Date(today);
    threeDaysAgo.setDate(threeDaysAgo.getDate() - 3);

    var threeDaysAgoFormatted = threeDaysAgo.getFullYear() + '-' + ('0' + (threeDaysAgo.getMonth() + 1)).slice(-2) + '-' + ('0' + threeDaysAgo.getDate()).slice(-2);
    $('#last3DaysFailedPreStartsStartDate').val(threeDaysAgoFormatted);
    $('#last3DaysFailedPreStarts').submit()
  })

  $('#driverShiftNotEndedForm strong').on('click', function(){
    var currentDate = new Date();
    var sevenDaysBefore = new Date();
    sevenDaysBefore.setDate(sevenDaysBefore.getDate() - 7);
    
    var formattedCurrentDate = currentDate.toISOString().substr(0, 10);
    var formattedSevenDaysBefore = sevenDaysBefore.toISOString().substr(0, 10);
    
    $('#driverShiftNotEndedFormEndDate').val(formattedCurrentDate);
    $('#driverShiftNotEndedFormStartDate').val(formattedSevenDaysBefore);
    $('#driverShiftNotEndedForm').submit()
  })
</script>
{% endblock %}