{% extends "main/main.html" %} {% block title %} | Account Dashboard{% endblock%}
{% block headStyle %}
<style>
  .panel_toolbox {
    min-width: 0;
  }
</style>

{% endblock %}
{% block content %}
<!-- page content -->
<div class="right_col" role="main">
  <!-- top tiles -->
  <div class="row w-100" style="display: inline-block">
    <div class="tile_count">
      
      <div class="col-md-2 col-sm-4 tile_stats_count">
        <span class="count_top">Driver Dispute</span>
        <div class="count">{{disputeCount}}</div>
       
      </div>
      <div class="col-md-2 col-sm-4 tile_stats_count">
        <span class="count_top">Driver Reimbursement</span>
        <div class="count">{{reimbursementCount}}</div>
        
      </div>
      <div class="col-md-2 col-sm-4 tile_stats_count">
        <span class="count_top">Pre-start not filled </span>
        <div class="count ">{{preStartPendingCount}}</div>
        
      </div>
      <div class="col-md-2 col-sm-4 tile_stats_count">
        <span class="count_top">Shift Completed</span>
        <div class="count">{{completedShiftsCount}}</div>
        
      </div>
      <div class="col-md-2 col-sm-4 tile_stats_count">
        <span class="count_top">Pre-start completed </span>
        <div class="count">{{continueShiftsCount}}</div>
        
      </div>
      <div class="col-md-2 col-sm-4 tile_stats_count">
        <span class="count_top">Total shifts</span>
        <div class="count green">{{totalShiftsCount}}</div>
        
      </div>
      
    </div>
  </div>

  <div class="row my-3">
    <div class="col-md-6 col-sm-6">
      <div class="x_panel tile  overflow_hidden">
        <div class="x_title">
          <h2>Last month report overview</h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <table style="width:100%">
            <tr>
              <td class="w-50">
                <canvas class="canvasDoughnutCustom" height="160" width="160" style="margin: 1.4em"></canvas>
              </td>
              <td>
                <table class="tile_info">
                  <tr>
                    <td>
                      <p><i class="fa fa-square green"></i>Short-paid report</p>
                    </td>
                    <td>{{shortPaidCount}}</td>
                  </tr>
                  <tr>
                    <td>
                      <p><i class="fa fa-square purple"></i>Write-of report</p>
                    </td>
                    <td>{{writeOfCount}}</td>
                  </tr>
                  <tr>
                    <td>
                      <p><i class="fa fa-square aero"></i>Reconciliation shifts </p>
                    </td>
                    <td>{{reconciliationCount}}</td>
                  </tr>
                  <tr>
                    <td>
                      <p><i class="fa fa-square dark"></i>Total Reports </p>
                    </td>
                    <td>{{reportCount}}</td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6">
      <div class="x_panel">
        <div class="x_title">
          <h2> Escalation overview</h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <ul class="nav nav-tabs justify-content-between bar_tabs" id="myTab" role="tablist">
            <!-- <li class="nav-item">
              <a class="nav-link active" id="opened-tab" data-toggle="tab" href="#opened" role="tab" aria-controls="opened" aria-selected="true">Opened</a>
            </li> -->
            <h6>
              Currently opened Escalation: <b>{{openedEscalationCount}}</b>
            </h6>
            <li class="nav-item">
              <a class="nav-link active" id="old-tab" data-toggle="tab" href="#old1" role="tab" aria-controls="old" aria-selected="false">Old</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <!-- <div class="tab-pane fade show active" id="opened" role="tabpanel" aria-labelledby="opened-tab">
              <div>
                <h2 class="count font-weight-bold text-center border d-inline-block rounded-circle m-auto" style="padding: 2rem 2.4rem;">{{preStartPendingCount}}</h2>
              </div>
            </div> -->

            <div class="tab-pane fade show active" id="old1" role="tabpanel" aria-labelledby="old-tab">

              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Client Name</th>
                    <th scope="col">Raise Date</th>
                    <th scope="col">Last mail</th>
                    <th scope="col">Amount</th>
                  </tr>
                </thead>
                <tbody>
                  {% for escalation in oldEscalation %}
                    <tr>
                      <td class="text-capitalize">{{escalation.clientName.name}}</td>
                      <td>{{escalation.escalationDate}}</td>
                      <td>{{escalation.lastMailDate}}</td>
                      <td>{{escalation.escalationAmount}}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /top tiles -->
</div>
<!-- /page content -->
{% endblock %}

{% block footerStyleEnd %}
<script>
  $(document).ready(function(){
    canvasDoughnutSet()
  });
  function canvasDoughnutSet() {
    if (
      "undefined" != typeof Chart &&
      (console.log("init_chart_doughnut"), $(".canvasDoughnutCustom").length)
    ) {
      var a = {
        type: "doughnut",
        tooltipFillColor: "rgba(51, 51, 51, 0.55)",
        data: {
          labels: ["Reconciliation", "Write-off", "Short-paid"],
          datasets: [
            {
              data: [{{reconciliationCount}}, {{writeOfCount}}, {{shortPaidCount}}],
              backgroundColor: [
                "#BDC3C7",
                "#9B59B6",
                "#26B99A",
              ],
              hoverBackgroundColor: [
                "#CFD4D8",
                "#B370CF",
                "#36CAAB",
              ],
            },
          ],
        },
        options: { legend: !1, responsive: !1 },
      };
      $(".canvasDoughnutCustom").each(function () {
        var e = $(this);
        new Chart(e, a);
      });
    }
  }
</script>
{% endblock %}