{% extends "main/main.html" %} 
{% load static %} 
{% block title %} | Driver Docket {% endblock %} 
{% block headStyle %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<style>
    .cuatom-continer {
        margin: 0 5rem;
    }

    .errorMsg {
        font-size: 0.7rem;
        color: rgb(255, 0, 0);
        margin-top: 0.3rem;
        list-style-type: none;
    }

    .isInvalid {
        border: 1px solid rgb(255, 0, 0) !important;
        border-radius: 7px !important;
    }

    @media (max-width: 576px) {
        .cuatom-continer {
            margin: 0;
        }
    }

    @media (max-width: 768px) {
        .cuatom-continer {
            margin: 0;
        }
    }
</style>
{% endblock %} {% block content %}
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <form class="" method="POST" action="{% if errorId %}{% url 'Account:driverDocketErrorEntrySave' tripId=tripObj.id errorId=errorId%}{% else %}{% url 'Account:driverDocketEntrySave' tripId=tripObj.id%}{% endif %}" novalidate enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="x_title">
                        <h2 class="text-primary"> Load #1</h2>
                        <div class="float-right">
                            <input type="radio" id="tippingToYard" name="returnToYard" style="margin-top: .8rem;"
                                onclick="returnToYard_(this)" {% if item.tippingToYard %} checked {% endif %}>
                            <label for="tippingToYard" class="ml-2" style="margin-right: 1rem; padding-top:0.7rem;">Tipping To
                                Yard</label>
                            <input type="radio" id="returnToYard" name="returnToYard" style="margin-top: .8rem;"
                                onclick="returnToYard_(this)" {% if item.returnToYard %} checked {% endif %}>
                            <label for="returnToYard" class="ml-2" style="margin-right: 1rem; padding-top:0.7rem;">Return To
                                Yard</label>
                            <i class="fa fa-close text-danger ml-2" style="font-size: 1.2rem;" id="resetRadio"
                                onclick="resetRadio()"></i>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="custom-continer">
                            <div class="col-md-4 col-sm-4">
                                <label for="docketNumber">Docket Number :<span class="required">*</span></label>
                                <div class="field item form-group">
                                    <input class="form-control" type="text" name="docketNumber" required='required'
                                        style="padding: 0.25rem 0.2rem;" id="docketNumber">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <label for="docketFile">DocketFile :<span class="required">*</span></label>
                                <div class="field item form-group">
                                    <input class="form-control" type="file" name="docketFile" style="padding: 0.25rem 0.2rem;"
                                        required="required" id="docketFile">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 ">
                                <label for="basePlant">BasePlant :<span class="required">*</span></label>
                                <div class="field item form-group">
                                    <select name="basePlant" class="form-control">
                                        {% for basePlant_ in basePlants %}
                                        <option value="{{ basePlant_.id }}" {% if docket.basePlant == basePlant_.id %}selected="selected" {% endif %}>{{ basePlant_.basePlant }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <label for="noOfKm">Number Of Km:<span class="required">*</span></label>
                                <div class="field item form-group">
                                    <input class="form-control" type="number" name="noOfKm" required='required'
                                        style="padding: 0.25rem 0.2rem;" id="noOfKm">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <label for="transferKM">Transfer Km :<span class="required">*</span></label>
                                <div class="field item form-group">
                                    <input class="form-control" type="number" name="transferKM" required='required'
                                        style="padding: 0.25rem 0.2rem;" id="transferKM">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <label for="returnQty">Return Qty:<span class="required">*</span></label>
                                <div class="field item form-group">
                                    <input class="form-control" type="number" name="returnQty" required='required'
                                        style="padding: 0.25rem 0.2rem;" id="returnQty" disabled>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <label for="returnKm">Return Km:<span class="required">*</span></label>
                                <div class="field item form-group">
                                    <input class="form-control" type="number" name="returnKm" required='required'
                                        style="padding: 0.25rem 0.2rem;" id="returnKm" disabled>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <label for="waitingTimeStart">Waiting Time Start :<span class="required">*</span></label>
                                <input type="checkbox" class="float-right" id="waitingCheck" name="waitingCheck" value="1"
                                      onclick="waitingCheckFun(this)">
                                <div class="field item form-group">
                                    <input class="form-control" type="time" name="waitingTimeStart" 
                                        style="padding: 0.25rem 0.2rem;" readonly id="waitingTimeStart" onchange="openWaitingTimeEnd(this)">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <label for="waitingTimeEnd">Waiting Time End :<span class="required">*</span></label>
                                <div class="field item form-group">
                                    <input class="form-control" type="time" name="waitingTimeEnd" 
                                        style="padding: 0.25rem 0.2rem;" id="waitingTimeEnd" readonly
                                        onchange="countTotalWaitingTime(this,{{tripObj.id}})">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <label for="totalWaitingInMinute">Total Waiting In Minute :<span class="required">*</span></label>
                                <div class="field item form-group">
                                    <input class="form-control" readonly type="number" name="totalWaitingInMinute" 
                                        style="padding: 0.25rem 0.2rem;" id="totalWaitingInMinute">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <label for="surcharge_type">Surcharge Type:<span class="required">*</span></label>
                                <div class="field item form-group">
                                    <select name="surcharge_type" class="form-control">
                                        {% for surcharge in surcharges %}
                                        <option value="{{surcharge.id}}" {% if docket.surchargeType == surcharge.id %} selected {% endif %}>
                                            {{surcharge.surcharge_Name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <label for="surcharge_duration">Surcharge Duration :<span class="required">*</span></label>
                                <div class="field item form-group">
                                    <input class="form-control" type="number" name="surcharge_duration" required='required'
                                        style="padding: 0.25rem 0.2rem;" id="surcharge_duration">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <label for="cubicMl">Cubic Meter :<span class="required">*</span></label>
                                <div class="field item form-group">
                                    <input class="form-control" type="number" name="cubicMl" required="required"
                                        style="padding: 0.25rem 0.2rem;" id="cubicMl">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <label for="standByStartTime">StandBy Start Time :<span class="required">*</span></label>
                                <input type="checkbox" class="float-right" id="standByCheck" name="standByCheck" value="standByCheck"
                                        onclick="standByCheckFun(this)" >
                                <div class="field item form-group">
                                    <input class="form-control" type="time" name="standByStartTime" readonly
                                        style="padding: 0.25rem 0.2rem;" id="standByStartTime" onchange="openStandByEnd(this)">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <label for="standByEndTime">StandBy End Time :<span class="required">*</span></label>
                                <div class="field item form-group">
                                    <input class="form-control" type="time" readonly name="standByEndTime"
                                        style="padding: 0.25rem 0.2rem;" id="standByEndTime"
                                        onchange="countStandBySlot(this, {{ tripObj.id }})">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <label for="standBySlot">Stand By Slot :<span class="required">*</span></label>
                                <div class="field item form-group">
                                    <input class="form-control" readonly type="number" name="standBySlot"
                                        style="padding: 0.25rem 0.2rem;" id="standBySlot">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <label for="others">Others :<span class="required">*</span></label>
                                <div class="field item form-group">
                                    <input class="form-control" type="number" name="others" style="padding: 0.25rem 0.2rem;"
                                        required="required" id="others">
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <label for="comment{{docket.id}}">Comment :<span class="required">*</span></label>
                                <div class="field item form-group">
                                    <textarea placeholder="comment" name="comment" class="form-control">{{docket.comment}}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-12 text-right py-2 position-sticky" style ="bottom:3%;">
                        <button type='submit' style="margin: 0px;" class="btn btn-sm btn-default px-3">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
{% endblock %}

{% block footerStyle %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{% static 'Dashboard/vendors/validator/multifield.js' %}"></script>
<script src="{% static 'Dashboard/vendors/validator/validator.js' %}"></script>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"
    integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    const csrftoken = $("[name=csrfmiddlewaretoken]").val();

    // A "<form>" element is optionally passed as an argument, but is not a must
    var validator = new FormValidator({
        "events": ['blur', 'input', 'change']
    }, document.forms[0]);
    // on form "submit" event
    document.forms[0].onsubmit = function (e) {
        var submit = true,
            validatorResult = validator.checkAll(this);
        console.log(validatorResult);
        return !!validatorResult.valid;
    };
    // on form "reset" event
    document.forms[0].onreset = function (e) {
        validator.reset();
    };
    // stuff related ONLY for this demo page:
    $('.toggleValidationTooltips').change(function () {
        validator.settings.alerts = !this.checked;
        if (this.checked)
            $('form .alert').remove();
    }).prop('checked', false);

    function returnToYard_(data){
        let selected = $(`#${data.id}`).is(':checked')
        if(selected){
            $('#returnQty').removeAttr('disabled')
            $('#returnKm').removeAttr('disabled')
        }else{
            $('#returnQty').attr('disabled',true)
            $('#returnKm').attr('disabled',true)
        }
    }

    $("#resetRadio").click(function(){
        $("input[type='radio']").removeAttr('checked')
        $('#returnQty').attr('disabled',true)
        $('#returnKm').attr('disabled',true)
    });

    function waitingCheckFun(data){
        let selected = $(`#waitingCheck`).is(':checked')
        if(selected == 1){
            $(`#waitingTimeStart`).removeAttr('readonly').attr('required',true)
            $(`#waitingTimeEnd`).attr('required',true)
        }else{
            $(`#waitingTimeStart`).attr('readonly',true)
            $(`#waitingTimeStart`).removeAttr('required').val('')
            $(`#waitingTimeEnd`).removeAttr('required').val('')
            $(`#totalWaitingInMinute`).removeAttr('required').val('')
        }
    }

    
   
    function standByCheckFun(tag){
        let selected = $(`#standByCheck`).is(':checked')

        if(selected){
            $(`#standByStartTime`).removeAttr('readonly').attr('required',true)
            $(`#standByEndTime`).attr('required',true)
        }else{
            $(`#standByStartTime`).attr('readonly',true).removeAttr('required').val('')
            $(`#standByEndTime`).attr('readonly',true).removeAttr('required').val('')
            $(`#standBySlot`).removeAttr('required').val('')
        }
    }
    function openWaitingTimeEnd(lineData){
        let waitingTimeStart = lineData.value 
        if(waitingTimeStart){
            $(`#waitingTimeEnd`).removeAttr('readonly');
        }
    }
    function openStandByEnd(lineData){
        let standByEndTime = lineData.value 
        if(standByEndTime){
            $(`#standByEndTime`).removeAttr('readonly');
        }
    }

    function countTotalWaitingTime(lineData,tripId){
        let waitingTimeStart = $(`#waitingTimeStart`).val()
        let waitingTimeEnd = lineData.value
        console.log(waitingTimeStart,waitingTimeEnd) 
        if(waitingTimeStart && waitingTimeEnd){
            $.ajax({
                type: "POST",
                url: "/account/driverDocket/waitingTime/count/",
                data: {
                    tripId : tripId,
                    waitingTimeEnd : waitingTimeEnd,
                    waitingTimeStart : waitingTimeStart,
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function (data) {
                    console.log(data.totalWaitingTime)
                    $(`#totalWaitingInMinute`).val(data.totalWaitingTime)
                },
            });
        }
    }

    function countStandBySlot(lineData,tripId){
        let standByStartTime = $(`#standByStartTime`).val()
        let standByEndTime = $(`#standByEndTime`).val()
        console.log(tripId)
        if(standByStartTime && standByEndTime){
            $.ajax({
                type: "POST",
                url: "/account/driverDocket/standByTime/count/",
                data: {
                    tripId : tripId,
                    standByStartTime : standByStartTime,
                    standByEndTime : standByEndTime,
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function (data) {
                    console.log(data.totalWaitingTime)
                    $(`#standBySlot`).val(data.standBySlot)
                },
            });
        }
    }
</script>
{% endblock %} 