{% extends "main/main.html" %} {% load static %} {% block title %} | Edit leave
request {% endblock %} {% block headStyle %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<style>
    .cuatom-continer {
        margin: 0 5rem;
    }

    .errorMsg {
        font-size: 0.7rem;
        color: rgb(255, 0, 0);
        margin-top: 0.3rem;
        list-style-type: none;
    }

    .isInvalid {
        border: 1px solid rgb(255, 0, 0) !important;
        border-radius: 7px !important;
    }

    @media (max-width: 576px) {
        .cuatom-continer {
            margin: 0;
        }
    }

    @media (max-width: 768px) {
        .cuatom-continer {
            margin: 0;
        }
    }
</style>
{% endblock %} {% block content %}
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <form class="" method="POST" action="{% url 'Account:driverDocketEntrySave' ids=id%}" novalidate enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="x_panel">
                        <div class="x_title">
                            <h2> Add Driver Docket Form Trip :-{{id}}</h2>
                    
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="custom-continer">
                    
                                <!-- shiftDate docketNumber docketFile  -->
                                <div class="col-md-4 col-sm-4">
                                    <label for="shiftDate">ShiftDate :<span class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control" " type="date" name="shiftDate" required='required'
                                            style="padding: 0.25rem 0.2rem;" id="shiftDate">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <label for="docketNumber">Docket Number :<span class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control" " type=" text" name="docketNumber" required='required'
                                            style="padding: 0.25rem 0.2rem;" id="docketNumber">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <label for="docketFile">DocketFile :<span class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control" value="" type="file" name="docketFile" required='required' style="padding: 0.25rem 0.2rem;"
                                            id="docketFile">
                                    </div>
                    
                                </div>
                                <!-- basePlant noOfKm  transferKM  -->
                                <div class="col-md-4 col-sm-4 ">
                                    <label for="basePlant">basePlant :<span class="required">*</span></label>
                                    <div class="field item form-group">
                                        <select name="basePlant" class="form-control">
                                            {% for basePlant_ in basePlants %}
                                            <option value="{{ basePlant_.basePlant }}">{{ basePlant_.basePlant }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <label for="noOfKm">No Of Km:<span class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control" type="number" name="noOfKm" required='required'
                                            style="padding: 0.25rem 0.2rem;" id="noOfKm">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <label for="transferKM">Transfer Km :<span class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control" type="number" name="transferKM" required='required'
                                            style="padding: 0.25rem 0.2rem;" id="transferKM">
                                    </div>
                                </div>
                                <!-- returnKm    waitingTimeInMinutes    minimumLoad -->
                                <div class="col-md-4 col-sm-4">
                                    <label for="returnKm">Return Km:<span class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control" type="number" name="returnKm" required='required'
                                            style="padding: 0.25rem 0.2rem;" id="returnKm">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <label for="waitingTimeInMinutes">Waiting Time In Minutes :<span class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control" type="number" name="waitingTimeInMinutes" required='required'
                                            style="padding: 0.25rem 0.2rem;" id="waitingTimeInMinutes">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <label for="minimumLoad">Minimum Load :<span class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control" type="number" required = "required" name="minimumLoad" style="padding: 0.25rem 0.2rem;"
                                            id="minimumLoad">
                                    </div>
                                </div>
                    
                                <!-- surcharge_type    surcharge_duration    cubicMl -->
                                <div class="col-md-4 col-sm-4">
                                    <label for="surcharge_type">Surcharge Type:<span class="required">*</span></label>
                                    <div class="field item form-group">
                                        <select name="surcharge_type" class="form-control">
                                            <option value="fixed normal">fixed normal</option>
                                            <option value="fixed sunday">fixed sunday</option>
                                            <option value="fixed public holiday">fixed public holiday</option>
                                            <option value="per cubic meters normal">per cubic meters normal</option>
                                            <option value="per cubic meters sunday">per cubic meters sunday</option>
                                            <option value="per cubic meters public holiday">per cubic meters public holiday
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <label for="surcharge_duration">Surcharge Duration :<span class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control" type="number" name="surcharge_duration" required='required'
                                            style="padding: 0.25rem 0.2rem;" id="surcharge_duration">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <label for="cubicMl">Cubic Meter :<span class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control" type="number" name="cubicMl" required = "required" style="padding: 0.25rem 0.2rem;"
                                            id="cubicMl">
                                    </div>
                                </div>
                    
                                <!-- minLoad    standByPerHalfHourDuration    others -->
                                <div class="col-md-4 col-sm-4">
                                    <label for="minLoad">Surcharge Min Load :<span class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control" type="number" name="minLoad" required='required'
                                            style="padding: 0.25rem 0.2rem;" id="minLoad">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <label for="standByPerHalfHourDuration">SandBy Per Half Hour Duration :<span
                                            class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control" type="number" name="standByPerHalfHourDuration" required='required'
                                            style="padding: 0.25rem 0.2rem;" id="standByPerHalfHourDuration">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <label for="others">Others :<span class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control" type="number" name="others" required = "required" style="padding: 0.25rem 0.2rem;"
                                            id="others">
                                    </div>
                                </div>
                                <div class="col-md-12 text-right p-0">
                                    <button type='submit' style="margin: 8px;" class="btn btn-primary px-4">Submit</button>
                                </div>
                    
                            </div>
                    
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->

{% block footerStyle %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{% static 'Dashboard/vendors/validator/multifield.js' %}"></script>
<script src="{% static 'Dashboard/vendors/validator/validator.js' %}"></script>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"
    integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    // initialize a validator instance from the "FormValidator" constructor.
    // A "<form>" element is optionally passed as an argument, but is not a must
    var validator = new FormValidator(
        {
            events: ["blur", "input", "change"],
        },
        document.forms[0]
    );
    // on form "submit" event
    document.forms[0].onsubmit = function (e) {
        var submit = true,
            validatorResult = validator.checkAll(this);
        console.log(validatorResult);
        return !!validatorResult.valid;
    };
    // on form "reset" event
    document.forms[0].onreset = function (e) {
        validator.reset();
    };
    // stuff related ONLY for this demo page:
    $(".toggleValidationTooltips")
        .change(function () {
            validator.settings.alerts = !this.checked;
            if (this.checked) $("form .alert").remove();
        })
        .prop("checked", false);
</script>
{% endblock %} {% endblock %}