{% extends "main/main.html" %}
{% load static %}
{% block title %} | Escalation Details {% endblock %}

{% block content %}
<div class="right_col">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Escalation Details</h2>
                    <div class="float-right d-flex flex-wrap justify-content-end">
                        <div class="mx-1">
                            <input type="radio" id="internal" name="escalation"{% if escalationObj %} disabled {% endif %} value="Internal" {% if escalationObj.escalationType == 'Internal' %}checked {% endif %} required>
                            <label for="internal">Internal Escalation</label>
                        </div>
                        <div class="mx-1">
                            <input type="radio"{% if escalationObj %} disabled {% endif %} {% if escalationObj.escalationType == 'External' or escalationObj.escalationType == ''  %}checked {% endif %} name="escalation" value="External" id="external" required>
                            <label for="external" >External Escalation</label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-12">
                        <label class="col-form-label" for="userId">Raised by <span
                                class="required">*</span></label>
                        <input type="text" id="userId" name="userId"
                            required="required" class="form-control" readonly
                            value="{{escalationObj.userId}}">
                    </div>
                    <div class="col-md-4 col-12">
                        <label class="col-form-label" for="escalationDate">Escalation Date
                            <span class="required">*</span></label>
                        <input type="date" id="escalationDate"
                            name="escalationDate" required="required" class="form-control"
                            value="{{escalationObj.escalationDate}}" readonly>
                    </div>
                    
                    <div class="col-md-3 col-12">
                        <label for="clientName" class="col-form-label">Client name</label>
                        <input type="text" id="clientName"
                            name="clientName" required="required" class="form-control"
                            value="{{escalationObj.clientName}}" readonly>
                        </select>
                    </div>
                    <div class="col-md-2 col-12">
                        <label for="escalationAmount" class="col-form-label">Escalation Total Amount</label>
                        <input type="number" id="escalationAmount"
                            name="escalationAmount" required="required" class="form-control"
                            value="{{escalationObj.escalationAmount}}" readonly>
                        </select>
                    </div>
                    <div class="col-md-12 col-12">
                        <label for="Remark" class="col-form-label">Remark</label>
                            <textarea required="required" name='remark' id="remark" disabled
                             class="form-control" data-validate-length-range="20" placeholder="Minimum 20 characters" rows="3">{{ escalationObj.remark }}</textarea></div>
                    </div>
                    <hr class="m-3">
                    {% if manuallyEscalationDocketObj %}
                    <div class="row">
                        <div class="col-md-3 col-12">
                            <label class="col-form-label" for="docketNumber">Docket number
                                <span class="required">*</span></label>
                            <input type="text" id="docketNumber"
                                name="docketNumber" required="required" class="form-control"
                                value="{{manuallyEscalationDocketObj.docketNumber}}" readonly>
                        </div>
                        <div class="col-md-4 col-12">
                            <label class="col-form-label" for="docketDate">Docket date <span
                                    class="required">*</span></label>
                            <input type="date" id="docketDate" name="docketDate"
                                required="required" class="form-control" readonly
                                value="{{manuallyEscalationDocketObj.docketDate}}">
                        </div>
                        <div class="col-md-3 col-12">
                            <label for="clientName" class="col-form-label">Client name</label>
                            <input type="text" id="clientName"
                                name="clientName" required="required" class="form-control"
                                value="{{escalationObj.clientName}}" readonly>
                        </div>
                        <div class="col-md-2 col-12">
                            <label for="clientName" class="col-form-label">Client name</label>
                            <br>
                            <a href="/{{manuallyEscalationDocketObj.invoiceFile}}" class="d-inline-block mt-2 text-primary" target="_blanck">Docket image here</a>

                        </div>
                        
                    </div>
                    {% else %}
                    {% for docket in reconciliationDockets %}
                    <div class="row">
                        <div class="col-md-3 col-12">
                            <label class="col-form-label" for="docketNumber{{docket.id}}">Docket number
                                <span class="required">*</span></label>
                            <input type="number" id="docketNumber{{docket.id}}"
                                name="docketNumber{{docket.id}}" required="required" class="form-control"
                                value="{{docket.docketNumber}}" readonly>
                        </div>
                        <div class="col-md-4 col-12">
                            <label class="col-form-label" for="docketDate{{docket.id}}">Docket date <span
                                    class="required">*</span></label>
                            <input type="date" id="docketDate{{docket.id}}" name="docketDate{{docket.id}}"
                                required="required" class="form-control" readonly
                                value="{{docket.docketDate}}">
                        </div>
                        <div class="col-md-3 col-12">
                            <label for="clientName{{docket.id}}" class="col-form-label">Client name</label>
                            <select class="form-control" required id="clientName{{docket.id}}" disabled name="clientName{{docket.id}}">
                                <option value="" disabled selected>Select Client Name</option>
                                {% for clientName in clientNames %}
                                <option value="{{ clientName.clientId }}" {% if docket.clientId == clientName.clientId %} selected {% endif %}>{{ clientName.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-2 col-12 d-flex">
                            <span style="cursor:pointer" class="align-self-center" onclick="getDifference({{docket.id}})">View Difference <i class="fa-solid fa-angle-right"></i></span>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% if oldMail %}
                    <h4 class="mt-3">Conversations:</h4>
                        <div style="max-height: 58vh; overflow-y: auto;" class="border rounded px-3 py-1">
                            <div class="container-fluid">
                                <div class="row my-2">

                                    {% for mail in oldMail %}
                                        <div class="col-md-7 col-12 rounded p-3 my-2 {% if mail.mailType == 'Send' %}bg-default-sky ml-auto{% else %}bg-light{% endif %}">
                                            <div>
                                                <span class="font-weight-bolder text-default">To :</span>
                                                <span>{{mail.mailTo}}</span>
                                            </div>
                                            <div>
                                                <span class="font-weight-bolder text-default">From :</span>
                                                <span>{{mail.mailFrom}}</span>
                                            </div>
                                            <div>
                                                <span class="font-weight-bold text-default">Subject :</span>
                                                <span>{{mail.mailSubject}}</span>
                                            </div>
                                            <div>
                                                <span class="font-weight-bold text-default">Description :</span>
                                                <span>{{mail.mailDescription}}</span>
                                            </div>
                                            {% if mail.mailAttachment %}
                                                <div>
                                                    <span class="font-weight-bold text-default">Mail attachment :</span>
                                                    <span><a href="/{{mail.mailAttachment}}" target="_blank" class="text-dark">Mail Attachment Here</a></span>
                                                </div>
                                            {% endif %}

                                        </div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                        {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="costModal" tabindex="-1" role="dialog" aria-labelledby="costModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Difference: </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table align-middle">
                        <thead>
                            <tr>
                                <th scope="col">Cost</th>
                                <th scope="col">Driver</th>
                                <th scope="col">RCTI</th>
                                <th scope="col">Difference</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Content will come here -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block footerStyleEnd %}
<script>
    const csrftoken = $("[name=csrfmiddlewaretoken]").val();

    function getDifference(id) {
        $.ajax({
            type: "POST",
            url: "/account/reconciliation/get/difference/",
            data: {
                reconciliationId: id,
            },
            dataType: "json",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            },
            success: function (data) {
                if (data.status) {
                    let tableContent = ''
                    $.each(data.params, function (key, value) {
                        tableContent += `<tr>`
                        tableContent += `<th scope="row" class="text-capitalize">${key}</th>`
                        tableContent += `<td>${value[0]}</td>`
                        tableContent += `<td>${value[1]}</td>`
                        tableContent += `<td>${value[2]}</td>`
                        tableContent += `</tr>`
                    });
                    $(".modal-body table tbody").empty().append(tableContent)
                    $('#costModal').modal('show')
                }
            }
        });
    }
</script>
{% endblock %}