{% extends "main/main.html" %}
{% load static %}
{% block title %} | Escalation form {% endblock %}

{% block content %}
<div class="right_col">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <form  action = "{% url 'Account:manuallyEscalationForm1Save' %}" method="POST" class="form-horizontal form-label-left" enctype="multipart/form-data">

                <div class="x_title">
                    <h2>Escalation form</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <!-- Smart Wizard -->
                    <div id="wizard" class="form_wizard wizard_horizontal">
                        {% comment %} <ul class="wizard_steps anchor p-0">
                            <li>
                                <a href="javascript:void(0)" class="selected" isdone="1" rel="1">
                                    <span class="step_no">1</span>
                                    <span class="step_descr">
                                        <br>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="disabled" isdone="0" rel="2">
                                    <span class="step_no">2</span>
                                    <span class="step_descr">
                                        <br>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="disabled" isdone="0" rel="3">
                                    <span class="step_no">3</span>
                                    <span class="step_descr">
                                        <br>
                                    </span>
                                </a>
                            </li>
                        </ul>
                         {% endcomment %}
                            {% csrf_token%}
                            
                            <div class="form-group row">
                                <label class="col-form-label col-md-3 col-sm-3 label-align"
                                    for="docketNumber">Docket number <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input class="form-control" minlength="3" maxlength="10" {% if escalationDocketObj %} readonly {% endif %}   type="text" value="{{escalationDocketObj.docketNumber}}"
                                            name="docketNumber" required='required' style="padding: 0.25rem 0.2rem;"
                                            id="docketNumber">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-3 col-sm-3 label-align"
                                    for="docketDate">Docket date <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input class="form-control" {% if escalationDocketObj %} readonly {% endif %}  value="{{escalationDocketObj.docketDate}}"   type="date"  
                                            name="docketDate" required='required' style="padding: 0.25rem 0.2rem;"
                                            id="docketDate">
                                </div>
                                
                            </div>

                            <div class="form-group row">
                                <label for="clientName"
                                    class="col-form-label col-md-3 col-sm-3  label-align">Client name</label>
                                <div class="col-md-6 col-sm-6 ">
                                    <select class="form-control" {% if escalationDocketObj %} readonly {% endif %}    required id="clientName"  name="clientName">
                                        <option value="" disabled selected>Select Client Name</option>
                                        {% for clientName in clientNames %}
                                        {% if escalationObj %}
                                        <option value="{{ clientName.clientId }}" {% if clientName.id == escalationObj.clientName.id %} selected {% endif %}>{{ clientName.name }}</option>
                                        {% else %}
                                        <option value="{{ clientName.clientId }}" >{{ clientName.name }}</option>

                                        {% endif %}
                                        {% endfor %}

                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-3 col-sm-3 label-align"
                                    for="invoiceFile">Invoice File <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    {% comment %} {% if escalationDocketObj.invoiceFile %}
                                    <a href="/{{escalationDocketObj.invoiceFile}}" class="d-inline-block mt-2 text-primary" target="_blanck">Docket image here</a>

                                    {% else %} {% endcomment %}
                                    
                                    <input class="form-control"   type="file"   
                                            name="invoiceFile" required='required' style="padding: 0.25rem 0.2rem;"
                                            id="invoiceFile">
                                    {% comment %} {% endif %} {% endcomment %}
                                    
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-3 col-sm-3 label-align"
                                    for="escalationAmount">Escalation Amount <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input class="form-control" {% if escalationObj.escalationAmount != None %} disabled {% endif %} value="{{escalationObj.escalationAmount}}"   type="number"   
                                            name="escalationAmount" required='required' style="padding: 0.25rem 0.2rem;"
                                            id="escalationAmount">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="clientName"
                                    class="col-form-label col-md-3 col-sm-3  label-align">Escalation Type</label>
                                <div class="col-md-6 col-sm-6 ">
                                    <select class="form-control"  {% if escalationObj.escalationType == 'External' or  escalationObj.escalationType == 'Internal'  %}  disabled {% endif %} required id="escalation"  name="escalation">
                                        <option value="" disabled selected>Select Escalation Type</option>
                                        <option value="Internal" {% if escalationObj.escalationType == 'Internal' %} selected {% endif %} >Internally Closed</option>
                                        <option value="External" {% if escalationObj.escalationType == 'External' %} selected {% endif %} >Forword to Client</option>
                                        
                                    </select>
                                </div>
                            </div>

                            <div class="float-right">
                                <button type="submit" class="buttonNext btn btn-default">Next</button>
                            </div>

                        <!-- End SmartWizard Content -->
                    </div>
                </div>
            </div>
        </form>

        </div>
    </div>
</div>

{% endblock %}
