{% extends "main/main.html" %}
{% load static %}
{% block title %} | Escalation form {% endblock %}

{% block headStyle %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<style>
    label{
        margin-bottom: 0.1rem;
    }
</style>

{% endblock %}


{% block content %}
<div class="right_col">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Escalation form</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form action="#" method="POST" class="form-horizontal form-label-left" enctype="multipart/form-data">
                    {% csrf_token%}
                    <div class="row">
                        <div class="col-md-4 my-1">
                            <label for="docketNumber">Docket number <span class="required">*</span></label>
                            <input class="form-control" minlength="3" maxlength="10" {% if escalationDocketObj %} readonly {% endif %}   type="text" value="{{escalationDocketObj.docketNumber}}"
                                    name="docketNumber" required='required' style="padding: 0.25rem 0.2rem;" id="docketNumber">
                        </div>
                        <div class="col-md-4 my-1">
                            <label  for="docketDate">Docket date <span class="required">*</span></label>
                            <input class="form-control" {% if escalationDocketObj %} readonly {% endif %}  value="{{escalationDocketObj.docketDate}}"   type="date"  
                                        name="docketDate" required='required' style="padding: 0.25rem 0.2rem;" id="docketDate">
                        </div>
                        <div class="col-md-4 my-1">
                            <label for="clientName">Client name</label>
                            <select class="form-control" {% if escalationDocketObj %} readonly {% endif %}    required id="clientName"  name="clientName">
                                <option value="" disabled selected>Select Client Name</option>
                                {% for clientName in clientNames %}
                                    {% if escalationObj %}
                                        <option value="{{ clientName.clientId }}" {% if clientName.id == escalationObj.clientName.id %} selected {% endif %}>{{ clientName.name }}</option>
                                    {% else %}
                                        <option value="{{ clientName.clientId }}" >{{ clientName.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-4 my-1">
                            <label for="invoiceFile">Invoice File <span class="required">*</span></label>
                            <input class="form-control" type="file" name="invoiceFile" required='required' style="padding: 0.25rem 0.2rem;" id="invoiceFile">
                        </div>
                        <div class="col-md-4 my-1">
                            <label for="truckId">Truck no <span class="required">*</span></label>
                            <select class="form-control" required id="truckId" name="truckId">
                                <option value="" disabled selected>Select Truck</option>
                                {% for truckObj in truckConnectionObj %}
                                <option value="{{truckObj.id}}">{{truckObj.clientTruckId}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-4 my-1">
                            <label for="escalation">Escalation Type</label>
                            <select class="form-control" {% if escalationObj.escalationType == 'External' or  escalationObj.escalationType == 'Internal'  %}  disabled {% endif %} required id="escalation"  name="escalation">
                                <option value="" disabled selected>Select Escalation Type</option>
                                <option value="Internal" {% if escalationObj.escalationType == 'Internal' %} selected {% endif %} >Internally Closed</option>
                                <option value="External" {% if escalationObj.escalationType == 'External' %} selected {% endif %} >Forward to Client</option>  
                            </select>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-3 col-sm-3 my-1">
                            <div class="d-flex justify-content-between">
                                <label for="enableCallOutFees">Call Out Fees</label>
                                <input type="checkbox" id="enableCallOutFees" onchange="handleCheckbox(this,'callOutFees')">
                            </div>
                            <div class="input-group">
                                <input class="form-control" 
                                        type="number" 
                                        name="callOutFees" 
                                        id="callOutFees" 
                                        readonly >
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 my-1">
                            <div class="d-flex justify-content-between">
                                <label for="enableDemurrageFees">Demurrage Fees</label>
                                <input type="checkbox" id="enableDemurrageFees" onchange="handleCheckbox(this,'demurrageFees')">
                            </div>
                            <div class="input-group">
                                <input class="form-control" 
                                        type="number" 
                                        name="demurrageFees" 
                                        id="demurrageFees" 
                                        readonly>
                            </div>
                        </div>
                        
                        <div class="col-md-3 col-sm-3 my-1">
                            <div class="d-flex justify-content-between">
                                <label for="enableCancellationFees">Cancellation Fees</label>
                                <input type="checkbox" id="enableCancellationFees" onchange="handleCheckbox(this,'cancellationFees')">
                            </div>
                            <div class="input-group">
                                <input class="form-control" 
                                        type="number" 
                                        name="cancellationFees" 
                                        id="cancellationFees" 
                                        readonly>
                            </div>
                        </div>
                        
                        <div class="col-md-3 col-sm-3 my-1">
                            <div class="d-flex justify-content-between">
                                <label for="enableTransferKmFees">Transfer Km Fees</label>
                                <input type="checkbox" id="enableTransferKmFees" onchange="handleCheckbox(this,'transferKmFees')">
                            </div>
                            <div class="input-group">
                                <input class="form-control" 
                                        type="number" 
                                        name="transferKmFees" 
                                        id="transferKmFees" 
                                        readonly>
                            </div>
                        </div>
                        
                        <div class="col-md-3 col-sm-3 my-1">
                            <div class="d-flex justify-content-between">
                                <label for="enableWaitingTimeFees">Waiting Time Fees</label>
                                <input type="checkbox" id="enableWaitingTimeFees" onchange="handleCheckbox(this,'waitingTimeFees')">
                            </div>
                            <div class="input-group">
                                <input class="form-control" 
                                        type="number" 
                                        name="waitingTimeFees" 
                                        id="waitingTimeFees" 
                                        readonly>
                            </div>
                        </div>
                        
                        <div class="col-md-3 col-sm-3 my-1">
                            <div class="d-flex justify-content-between">
                                <label for="enableStandByFees">StandBy Fees</label>
                                <input type="checkbox" id="enableStandByFees" onchange="handleCheckbox(this,'standByFees')">
                            </div>
                            <div class="input-group">
                                <input class="form-control" 
                                        type="number" 
                                        name="standByFees" 
                                        id="standByFees" 
                                        readonly>
                            </div>
                        </div>
                        
                        <div class="col-md-3 col-sm-3 my-1">
                            <div class="d-flex justify-content-between">
                                <label for="enableReturnFees">Return Fees</label>
                                <input type="checkbox" id="enableReturnFees" onchange="handleCheckbox(this,'returnFees')">
                            </div>
                            <div class="input-group">
                                <input class="form-control" 
                                        type="number" 
                                        name="returnFees" 
                                        id="returnFees" 
                                        readonly>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 my-1">
                            <div class="d-flex justify-content-between">
                                <label for="enableCustomFees">Custom</label>
                                <input type="checkbox" checked id="enableCustomFees" onchange="handleCheckbox(this,'customFees')">
                            </div>
                            <div class="input-group">
                                <input class="form-control" 
                                        type="number" 
                                        name="customFees" 
                                        id="customFees" 
                                        required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mt-3 text-right">
                            <button type="submit" class=" btn btn-sm btn-default px-3">Next</button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block footerStyle %}

<script>
    function handleCheckbox(checkBox, id) {
        var isChecked = $(`#${checkBox.id}`).prop("checked");
        var inputElement = $(`#${id}`);

        // Add or remove attributes based on checkbox state
        if (isChecked) {
            inputElement.prop("required", true);
            inputElement.prop("readonly", false);
        } else {
            inputElement.prop("required", false);
            inputElement.prop("readonly", true);
        }
    }

</script>
{% endblock %} 




