*.pyc
*.py[co]
*.sqlite3
db.sqlite3
docketFiles
DriverEntry
DriverTripCsvDownload
RCTIInvoice
finalloadSheet
Temp_Load_Sheet
.zip
PastTripsEntry
runserver.py
nginx_waitress





manuallyEscalation

breakFiles
mailAttachment
preStartImages
reimbursementFiles

Report
tempRCTIInvoice
uplodedRctiPdf

fleetInformation.json
.txt
ReportFiles
data.json
driverLocationFiles

sendEmailOnPreStartAndShiftEndNotFilled.py
sendEmailOnPreStartAndShiftEndNotFilled.txt

shiftImg
GearBox
toll