<div class="col-md-3 left_col menu_fixed">
  <div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
      <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>PNR Group</span></a>
    </div>

    <div class="clearfix"></div>

    <!-- menu profile quick info -->
    <div class="profile clearfix">
      <div class="profile_pic">
        <!-- <img src="static/Dashboard/images/img.jpg" alt="..." class="img-circle profile_img">  -->
      </div>
      <div class="profile_info">
        <span>Welcome,</span>
        <h2>John Doe</h2>
      </div>
    </div>
    <!-- /menu profile quick info -->

    <br />

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        {% if user.is_active and user.is_staff %}
        {% if request.session.user_type == 'Driver' %}
        <ul class="nav side-menu">
          <li class=""><a href="{% url 'index'%}"><i class="fa fa-laptop"></i> Dashboard</a></li>
          <li class=""><a href="{% url 'Account:getForm1'%}"><i class="fa fa-laptop"></i> DriverTrip</a></li>
        </ul>
        {%else%}
        {% if request.session.user_type == 'Accounts' or request.session.user_type == 'SuperUser' %}
        <ul class="nav side-menu">
          <li class=""><a href="{% url 'Account:index'%}"><i class="fa fa-laptop"></i> Dashboard</a></li>
          {% if request.session.user_type == 'SuperUser' %}
          <li class=""><a href="{% url 'Account:getForm1'%}"><i class="fa fa-laptop"></i> DriverTrip</a></li>
          {% comment %} <li class=""><a href="{% url 'Account:getForm2'%}"><i class="fa fa-laptop"></i> DriverTrip</a></li> {% endcomment %}
          {% endif %}
          <li>
            <a><i class="fa fa-home"></i> Account <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              {% comment %} <li><a href="{% url 'Account:getForm1'%}">Driver Form1</a></li>
              <li><a href="{% url 'Account:getForm2'%}">Driver Form2</a></li> {% endcomment %}
              <li><a href="{% url 'Account:driverentry'%}">Driver Entry(CSV)</a></li>
              <li><a href="{% url 'Account:rcti'%}">RCTI</a></li>
            </ul>
          </li>
          <li>
            <a><i class="fa fa-home"></i> Account Table<span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li class=""><a href="{% url 'Account:basePlantTable'%}"><i class="fa fa-laptop"></i>BasePlant</a></li>
              <li class=""><a href="{% url 'Account:rctiTable'%}"><i class="fa fa-laptop"></i> RCTI </a></li>
              <li class=""><a href="{% url 'Account:driverTripsTable'%}"><i class="fa fa-laptop"></i> Driver Trip </a></li>

            </ul>
          </li>
          <li>
            <a><i class="fa fa-home"></i> Leave details <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li class=""><a href="{% url 'gearBox:leaveReq'%}"><i class="fa fa-laptop"></i> Leave Request</a></li>
              <li class=""><a href="{% url 'gearBox:natureOfLeaves'%}"><i class="fa fa-laptop"></i> Nature of leave</a></li>
            </ul>
          </li>
        
          
        </ul>
        {% endif %}
        {% endif %}


        {% endif %}


        <!-- <li><a><i class="fa fa-edit"></i> Forms <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a href="form.html">General Form</a></li>
                <li><a href="form_advanced.html">Advanced Components</a></li>
                <li><a href="form_validation.html">Form Validation</a></li>
                <li><a href="form_wizards.html">Form Wizard</a></li>
                <li><a href="form_upload.html">Form Upload</a></li>
                <li><a href="form_buttons.html">Form Buttons</a></li>
              </ul>
            </li>
            <li><a><i class="fa fa-desktop"></i> UI Elements <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a href="general_elements.html">General Elements</a></li>
                <li><a href="media_gallery.html">Media Gallery</a></li>
                <li><a href="typography.html">Typography</a></li>
                <li><a href="icons.html">Icons</a></li>
                <li><a href="glyphicons.html">Glyphicons</a></li>
                <li><a href="widgets.html">Widgets</a></li>
                <li><a href="invoice.html">Invoice</a></li>
                <li><a href="inbox.html">Inbox</a></li>
                <li><a href="calendar.html">Calendar</a></li>
              </ul>
            </li>
            <li><a><i class="fa fa-table"></i> Tables <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a href="tables.html">Tables</a></li>
                <li><a href="tables_dynamic.html">Table Dynamic</a></li>
              </ul>
            </li>
            <li><a><i class="fa fa-bar-chart-o"></i> Data Presentation <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a href="chartjs.html">Chart JS</a></li>
                <li><a href="chartjs2.html">Chart JS2</a></li>
                <li><a href="morisjs.html">Moris JS</a></li>
                <li><a href="echarts.html">ECharts</a></li>
                <li><a href="other_charts.html">Other Charts</a></li>
              </ul>
            </li>
            <li><a><i class="fa fa-clone"></i>Layouts <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a href="fixed_sidebar.html">Fixed Sidebar</a></li>
                <li><a href="fixed_footer.html">Fixed Footer</a></li>
              </ul>
            </li> -->
        </ul>
      </div>

    </div>
    <!-- /sidebar menu -->

    <!-- /menu footer buttons -->
    <div class="sidebar-footer hidden-small">
      <a data-toggle="tooltip" data-placement="top" title="Settings">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="FullScreen">
        <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="Lock">
        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
      </a>
    </div>
    <!-- /menu footer buttons -->
  </div>
</div>