{% extends "Trip_details/main/main.html" %}
{% load static %}
{% block title %}Driver Trip Form 1{% endblock title %}

{% block headStyle %} 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />      
    <style>
        .select2.select2-container{
            width:100%!important;
        }
        .select2-selection.select2-selection--single{
            height:auto!important;
        } 
        .select2-selection__rendered{
            padding:0.3rem 0.5rem !important;
        }
        .select2-container--default .select2-selection--single .select2-selection__arrow {
            height: auto!important;
            top: 1.15em!important;
            right: 0.8em!important;
        }
    </style>
{% endblock %}
{% block content %}
<div class="container mt-2" id="container">
    <div class="card border-0">
        <div class="card-body">
            <h5 class="card-title text-uppercase text-default">Select client and truck number</h5>
            <hr>  
            <form action="{% url 'Account:clientAndTruckDataSave' id=shiftObj.id %}" method="POST" id="clientForm">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="col-md-12">
                            <label for="clientId">Client:<label>
                        </div>
                        <div class="col-md-12">
                            {% if clientName %}
                                <input type="text" value="{{clientName}}" class="form-control"  name="clientId" id="clientId" readonly>
                            {% else %}
                                <select name="clientId" class="form-control" id="clientId" required>
                                    <option value="" disabled selected>Select Client Name</option>
                                    {% for client_name in client_ids %}
                                    <option value="{{ client_name }}">{{ client_name }}</option>
                                    {% endfor %}
                                </select>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div>
                            <label for="truckNum">Truck:<label>
                        </div>
                            {% if truckNum %}
                                <input type="text" value="{{truckNum}}" class="form-control"  name="truckNum" id="truckNum" readonly>
                            {% else %}
                                <select id="truckNum" class="form-control" disabled name="truckNum" required>
                                    <option value="">Select an Item</option>
                                </select>
                            {% endif %}
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col-md-3 col-sm-3">
                        <label for="startOdometers">Odometers Start</label>
                        <input type="number" class="form-control" id="startOdometers" name="startOdometers" required> 
                    </div>
                    <!-- <div class="col-md-3 col-sm-3">
                        <label for="endOdometers">Odometers End</label>
                        <input type="number" class="form-control" id="endOdometers" name="endOdometers" required> 
                    </div> -->
                    <div class="col-md-3 col-sm-3">
                        <label for="startEngineHours">Engine Hours Start</label>
                        <input type="number" class="form-control" id="startEngineHours" name="startEngineHours" required> 
                    </div>
                    <!-- <div class="col-md-3 col-sm-3">
                        <label for="endEngineHours">Engine Hours End</label>
                        <input type="number" class="form-control" id="endEngineHours" name="endEngineHours" required> 
                    </div> -->
                </div>
                <input type="submit" id="submit" value="Next" class="btn btn-sm btn-default float-end px-4"/>
            </form>
        </div>
    </div>
</div>

{% endblock %}
{% block footerStyleEnd %}
<!-- select2 for searching dropdown -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"
    integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    const csrftoken = $("[name=csrfmiddlewaretoken]").val();
    $(document).ready(function() {
        $(".js-example-basic-single").append(
            `<option value="AL">Alabama</option>
            <option value="WY">Wyoming</option>`
        );
        $('#clientId').select2();
        $('#truckNum').select2();
        
        $("#clientId").on("change", function () {
            let clientId = $(this).val();
            let shiftId = "{{ shiftObj.id }}"
            
            if (clientId) {
                $("#truckNum").prop("disabled", false);
                $("#truckNum").html('<option value="">Loading...</option>');
                $.ajax({
                    type: "POST",
                    url: "/account/getTrucks/",
                    data: {
                        clientName: $(this).val(),
                        shiftId: shiftId
                    },
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    },
                    success: function (data) {
                        $("#truckNum").html('<option value="">Select an Item</option>');
                        data.trucks.forEach(function (item) {
                            $("#truckNum").append(
                                // `<option value="${item}"  >${item}</option>`
                                `<option value="${item}" ${item.includes('Occupied') ? 'disabled' : ''}>${item}</option>`
                            );
                        });
                        $("#truckNum").trigger("change.select2");
                
                        if (data.docket) {
                        $("#nextBtn").val("Submit");
                        } else {
                        $("#nextBtn").val("Next");
                        }
                    },
                });
            }
        });

    });
</script>
{% endblock  %}