{% extends "Trip_details/main/main.html" %}
{% load static %}
{% block title %}Driver Trip Form 1{% endblock title %}

{% block headStyle %} 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />      
    <style>
        .select2.select2-container{
            width:100%!important;
        }
        .select2-selection.select2-selection--single{
            height:auto!important;
        } 
        .select2-selection__rendered{
            padding:0.3rem 0.5rem !important;
        }
        .select2-container--default .select2-selection--single .select2-selection__arrow {
            height: auto!important;
            top: 1.15em!important;
            right: 0.8em!important;
        }
        .btn-outline-danger{
            font-size: 0.75em;
            padding: 0.3em 0.5em;
        }
    </style>
{% endblock %}
{% block content %}
<div class="container mt-2" id="container">
    <div class="card border-0">
        <div class="card-body">
            <h6 class="card-title text-uppercase text-default d-inline-block">Select client and truck number</h6>
            {% if trips %}
            <span class="btn btn-sm btn-outline-danger float-end" id="endShift">End Shift</span>
            {% endif %}

            <hr>  
            <form action="{% url 'Account:clientAndTruckDataSave' id=shiftObj.id %}" method="POST" id="clientForm">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="col-md-12">
                            <label for="clientId">Client:<label>
                        </div>
                        <div class="col-md-12">
                            {% if clientName %}
                                <input type="text" value="{{clientName}}" class="form-control"  name="clientId" id="clientId" readonly>
                            {% else %}
                                <select name="clientId" class="form-control" id="clientId" required>
                                    <option value="" disabled selected>Select Client Name</option>
                                    {% for client_name in client_ids %}
                                    <option value="{{ client_name }}">{{ client_name }}</option>
                                    {% endfor %}
                                </select>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div>
                            <label for="truckNum">Truck:<label>
                        </div>
                            {% if truckNum %}
                                <input type="text" value="{{truckNum}}" class="form-control"  name="truckNum" id="truckNum" readonly>
                            {% else %}
                                <select id="truckNum" class="form-control" disabled name="truckNum" required>
                                    <option value="">Select an Item</option>
                                </select>
                            {% endif %}
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col-md-4 col-sm-4">
                        <label for="startOdometers">Odometers Start</label>
                        <input type="number" class="form-control" id="startOdometers" name="startOdometers" required> 
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <label for="startEngineHours">Engine Hours Start</label>
                        <input type="number" class="form-control" id="startEngineHours" name="startEngineHours" required> 
                    </div>
                    <div class="col-md-4 col-sm-4 d-flex align-items-end justify-content-end">
                        <input type="submit" id="submit" value="Next" class="btn btn-sm btn-default float-end px-4"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" role="dialog" id="endShiftModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <form action="{% url 'Account:endShift' shiftId=shiftObj.id %}" novalidate method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="curDateTime" id="curDateTime">
            <div class="modal-header py-2">
                <h6>End Shift</h6>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5 col-sm-5">
                        <label for="endShiftImg">Upload image:</label>
                        <input type="file" class="form-control" id="endShiftImg" name="endShiftImg" capture="camera" required> 
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <label for="comment">Comment</label>
                        <textarea class="form-control" id="comment" name="comment" rows="1" required placeholder="Add your reason to end shift."></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer py-2">
                <button type="button" class="btn btn-sm btn-outline-secondary" id="cancelBtn" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-sm btn-default">End shift</button>
            </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}

{% block footerStyleEnd %}
<!-- select2 for searching dropdown -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"
    integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    const csrftoken = $("[name=csrfmiddlewaretoken]").val();
    $(document).ready(function() {
        $(".js-example-basic-single").append(
            `<option value="AL">Alabama</option>
            <option value="WY">Wyoming</option>`
        );
        $('#clientId').select2();
        $('#truckNum').select2();
        $('#endShiftModal #cancelBtn').on('click', function(){
          $('#endShiftModal').modal('hide')  
        })

        $('#endShiftModal form').submit(function (e) {
            setDateTime("curDateTime")
            let isValid = true
            $('#endShiftModal form input[required], #endShiftModal form textarea[required]').each(function(){
                if($(this).val() == ''){
                    $(this).addClass('is-invalid')
                    isValid = false
                    return
                }else{
                    $(this).removeClass('is-invalid')
                }
            })
            if(!isValid){
                e.preventDefault();
            }
        });
        
        $("#clientId").on("change", function () {
            let currentDate = new Date();    
            var year = currentDate.getFullYear();
            var month = ("0" + (currentDate.getMonth() + 1)).slice(-2);
            var day = ("0" + currentDate.getDate()).slice(-2);
            var hours = ("0" + currentDate.getHours()).slice(-2);
            var minutes = ("0" + currentDate.getMinutes()).slice(-2);
            var seconds = ("0" + currentDate.getSeconds()).slice(-2);
            var formattedDate = year + "-" + month + "-" + day + " " + hours + ":" + minutes + ":" + seconds;
            let clientId = $(this).val();
            let shiftId = "{{ shiftObj.id }}"
            
            if (clientId) {
                $("#truckNum").prop("disabled", false);
                $("#truckNum").html('<option value="">Loading...</option>');
                $.ajax({
                    type: "POST",
                    url: "/account/getTrucks/",
                    data: {
                        clientName: $(this).val(),
                        shiftId: shiftId,
                        curDate : formattedDate
                    },
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    },
                    success: function (data) {
                        $("#truckNum").html('<option value="">Select an Item</option>');
                        data.trucks.forEach(function (item) {
                            $("#truckNum").append(
                                // `<option value="${item}"  >${item}</option>`
                                `<option value="${item}" ${item.includes('Already in use') ? 'disabled' : ''}>${item}</option>`
                            );
                        });
                        $("#truckNum").trigger("change.select2");
                
                        if (data.docket) {
                        $("#nextBtn").val("Submit");
                        } else {
                        $("#nextBtn").val("Next");
                        }
                    },
                });
            }
        }); 
        

        $("#endShift").on('click', function(){
            var shiftId = "{{ shiftObj.id }}"
            $.ajax({
                type: "POST",
                url: "/account/check/trip/",
                data: {
                    shiftId: shiftId
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function (data) {
                    if(data.status){
                        if(data.oldTrips){
                            if(confirm("Are you really want to  end this shift?") == true) { 

                                $('#endShiftModal #endShiftImg').removeAttr('required').parent('.col-md-5').addClass('d-none')
                                $('#endShiftModal #comment').val('')

                                $('#endShiftModal').modal('show')
                            }
                        }else{
                            if(confirm("It seems like you want to end your shift without driving a truck. Do you really want to end your shift?") == true) { 
                                $('#endShiftModal').modal('show')
                            }
                        }
                    }
                },
            });

        })
    });
</script>
{% endblock %}