{% extends "Trip_details/main/main.html" %}
{% load static %}
{% block title %}Shift form{% endblock title %}

{% block headStyle %} 
    <style>
        /* Add your additional styles here */
        #map {
            height: 100%;
            width: 100%;
        }

        .custom-map-control-button {
            background-color: #fff;
            border: 0;
            border-radius: 2px;
            box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
            margin: 10px;
            padding: 0 0.5em;
            font: 400 18px Roboto, Arial, sans-serif;
            overflow: hidden;
            height: 40px;
            cursor: pointer;
        }

        .custom-map-control-button:hover {
            background: rgb(235, 235, 235);
        }
    </style>
{% endblock headStyle %}

{% block content %}
<div class="container mt-2" id="container">
    <div class="card border-0">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <h5 class="card-title text-uppercase text-default d-inline-block">Start Shift</h5>
                {% comment %} <span class="text-default" style="cursor: pointer;" id="getLocation">Get location</span> {% endcomment %}
                <div class="float-end">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="locationCheck" value="locationCheck">
                        <label class="form-check-label" for="locationCheck">
                            Location unavailable
                        </label>
                      </div>
                </div>

            </div>
            <hr class="mt-1">  
            <form action="{% url 'Account:mapDataSave' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %} 
                <!-- <div class="col-md-8 my-2" style="min-height:25rem;">
                   <div id="map"></div>
               </div>  -->
                <div class="row">
                    <div class="col-md-3 col-sm-4">
                        <div class="my-1">
                            <label for="longitude">Longitude</label>
                            <input type="text" name="longitude" id="longitude" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <div class="my-1">
                            <label for="latitude">Latitude</label>
                            <input type="text" name="latitude" id="latitude" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <div class="my-1">
                            <label for="date">Date</label>
                            <input type="date" name="date" id="date" class="form-control" value="{{date}}" readonly>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <div class="my-1">
                            <label for="time">Time</label>
                            <input type="time" name="time" id="time" class="form-control" value="{{time}}" readonly>
                        </div>
                    </div> 
                    <div class="col-sm-3 col-md-3 fileUpload d-none">
                        <div class="my-1">
                            <label for="locationImg">Upload location image</label>
                            <input type="file" name="locationImg" id="locationImg" class="form-control">
                        </div>
                    </div>               
                </div> 
                <div class="row mt-2">
                    <div class="col-12">
                        <input type="submit" value="submit" class="btn btn-sm btn-default w-auto float-end">
                    </div>
                </div>
            </form> 
        </div>
    </div>
</div>

{% endblock %}

{% block footerStyle %}
    {% comment %} <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script> {% endcomment %}
    {% comment %} <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGJUlSnh56niZZH-YrdDW2q71A4FygrxU&callback=initMap&v=weekly" defer></script> {% endcomment %}
    {% comment %} <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0Cg6vn5hKUGmbtjKZp8ljaLRGSA0Cb1I&callback=initMap&v=weekly" defer></script> {% endcomment %}
    
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="{% static 'js/mapSetting.js' %}"></script>
{% endblock %}
