{% extends "Trip_details/main/main.html" %}
{% load static %}
{% block title %}Add reimbursement{% endblock %}

{% block headStyle %}
    <style>
        label{
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block content %}
<div class="container mt-2" id="container">
    <div class="card border-0">
        <div class="card-body">
            <div class="row">
                <div class="col-md-1 col-12"></div>
                <div class="col-md-10 col-12">
                    <form action="{% url "Account:addReimbursementSave" shiftId=shiftObj.id %}" method="post" enctype="multipart/form-data" id="reimbursementForm">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12 d-flex justify-content-between flex-wrap">
                                <h5 class="card-title text-uppercase text-default ">Add Reimbursement</h5>
                                <span class="text-secondary">You are adding break for <b class="text-uppercase">{{ clientName }} / {{shiftObj.startDateTime}} </b></span>
                            </div>
                            <hr>
                            <div class="col-md-6 col-12 my-1">
                                <label for="amount">Amount:</label>
                                <input type="number" name="amount" id="amount" class="form-control" step="0.01" required min="1">
                            </div>
                            <div class="col-md-6 col-12 my-1">
                                <label for="reimbursementFile">Upload reimbursement file:</label>
                                <input type="file" name="reimbursementFile" id="reimbursementFile" class="form-control" required>
                            </div>
                            
                            <div class="col-12 my-1">
                                <label for="notes">Notes:</label>
                                <textarea name="notes" id="notes" rows="2" class="form-control" required></textarea>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-sm btn-default float-end mt-2">Submit</button>
                    </form>
                </div>
                <div class="col-md-1 col-12"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footerStyleEnd %}
<script>
    $(document).ready(function() {
        //var currentDateTime = new Date().toISOString().slice(0, 16);
        // $('#startDateTime').prop("max", currentDateTime);
        
        // Set the value of the datetime-local input
        $('#startDateTime').on('change', function() {
            var startDateTimeValue = $(this).val();
    
            // Set the max attribute for the endDateTime input
            $('#endDateTime').attr('min', startDateTimeValue).removeAttr('readonly');
        });
    });
</script>
{% endblock %}