{% extends "Trip_details/main/main.html" %}
{% load static %}
{% block title %}Shift Page{% endblock %}

{% block headStyle %}
<style>
    .nav-link{
        color: #7c8792;
    }

    @media (max-width: 721px) {
       body{
        font-size: 14px !important;
       }
       button, .btn.btn-sm{
        font-size: 0.9em !important;
       }
       h5{
        font-size: 1.2em!important;
       }
    }
                
</style>
{% endblock %}

{% block content %}
<div class="container mt-2" id="container">
    <div class="card border-0">
        <div class="card-body">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="currentStatusTab" data-bs-toggle="tab" data-bs-target="#status" type="button" role="tab" aria-controls="status" aria-selected="true">Status</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="breaksTab" data-bs-toggle="tab" data-bs-target="#breaks" type="button" role="tab" aria-controls="breaks" aria-selected="false">Breaks</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="reimbursementTab" data-bs-toggle="tab" data-bs-target="#reimbursement" type="button" role="tab" aria-controls="reimbursement" aria-selected="false">Reimbursements</button>
                </li>
              </ul>
              
              <!-- Tab panes -->
              <div class="tab-content py-4">
                <div class="tab-pane active" id="status" role="tabpanel" aria-labelledby="currentStatusTab" tabindex="0">
                    <div class="row">
                        <div class="ms-auto d-flex justify-content-between flex-wrap">
                            <h5 class="card-title text-uppercase text-default">Current Status</h5>
                            <div class="p-1 ms-auto">
                                <a href="{% url 'Account:collectDockets' shiftId=shiftObj.id tripId=tripObj.id endShift=0 %}" class="btn btn-sm btn-default">Change Client/Truck</a>
                            </div>
                        </div>
                    </div>
                    <hr class="my-2">
                    <div class="row">
                        <div class="col-md-5 my-3">
                            <h6 class="card-title text-uppercase text-default">Shift Details :</h6>
                            <table class="table mt-3 mb-2">
                                <tr>
                                    <th class="py-2">Shift start Date: </th>
                                    <td class="py-2">{{shiftObj.shiftDate}}</td>
                                </tr>
                                <tr>
                                    <th class="py-2">Shift start Time: </th>
                                    <td class="py-2"><span>{{shiftObj.startDateTime}}</span></td>
                                </tr>
                                <tr>
                                    <th class="py-2">Shift end Time </th>
                                    <td class="py-2"><span>{% if shiftObj.endDateTime %}{{shiftObj.endDateTime}}{% else %}<span class="badge bg-default">Running</span>{% endif %}</span></td>
                                </tr>
                                
                            </table>
                        </div>
                        <div class="col-md-7 my-3">
                            <h6 class="card-title text-uppercase text-default d-inline-block ">Trip Details :</h6>
                            <div class="form-check form-check-inline float-end">
                                <input class="form-check-input" type="checkbox" id="forgetEnd" name="forgetEnd" value="forgetEnd" style="width: 0.9em;height: 0.9em;">
                                <label class="form-check-label" for="forgetEnd" style="font-size: 0.9rem;cursor: pointer;">Forgot to end shift earlier</label>
                            </div>
                            {% for trip in currentTrips %}
                                <table class="table my-2 bg-light">
                                    <tr>
                                        <th class="py-2 {% if not trip.endDateTime %}bg-secondary text-white{% endif %}">Client Name: </th>
                                        <td class="py-2 {% if not trip.endDateTime %}bg-secondary text-white{% endif %} text-capitalize">{{trip.clientName}}</td>
                                    </tr>
                                    <tr>
                                        <th class="py-2 {% if not trip.endDateTime %}bg-secondary text-white{% endif %}">Shift start Time: </th>
                                        <td class="py-2 {% if not trip.endDateTime %}bg-secondary text-white{% endif %}"><span>{{ trip.startDateTime }}</span></td>
                                    </tr>
                                    <tr>
                                        <th class="py-2 {% if not trip.endDateTime %}bg-secondary text-white{% endif %}">Shift end Time </th>
                                        <td class="py-2 {% if not trip.endDateTime %}bg-secondary text-white{% endif %}"><span>{% if trip.endDateTime %}{{ trip.endDateTime }}{% else %}<span class="badge bg-default">Running</span>{% endif %}</span></td>
                                    </tr>
                                    <tr>
                                        <th class="py-2 {% if not trip.endDateTime %}bg-secondary text-white{% endif %}">Truck number: </th>
                                        <td class="py-2 {% if not trip.endDateTime %}bg-secondary text-white{% endif %}"><span>{{trip.truckNum}}</span></td>
                                    </tr>
                                </table>
                            {% endfor %} 
                            <form action="{% url 'Account:collectDockets' shiftId=shiftObj.id tripId=tripObj.id endShift=1 %}" method="post">
                                {% csrf_token %}
                                <div class="col-md-12 col-sm-12">
                                    <div class="row">
                                        <div class="col-md-8 col-sm-8 my-2">
                                            <div class="endDateTime d-none">
                                                <label for="endDateTime" style="font-size: 0.8em;">End date Time:<span class="required">*</span></label>
                                                <div class="field item form-group">
                                                    <input class="form-control"  type="datetime-local" name="endDateTime" style="padding: 0.25rem 0.2rem;" id="endDateTime">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4 d-flex justify-content-end mt-auto my-2">
                                            <button type="submit" class="btn btn-sm btn-default w-auto float-end px-3" id="endShift">End Shift</button>
                                        </div>
                                    </div>
                                </div>   
                            </form>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="breaks" role="tabpanel" aria-labelledby="breaksTab" tabindex="0">
                    <div class="row">
                        <div class="ms-auto d-flex justify-content-between flex-wrap">
                            <h5 class="card-title text-uppercase text-default">Breaks</h5>
                            <div class="p-1 ms-auto">
                                <a href="{% url 'Account:addDriverBreak' shiftId=shiftObj.id %}" class="btn btn-sm btn-default">Add Break</a>
                            </div>
                        </div>
                    </div>
                    <hr class="my-2">
                    {% if breaks|length < 1 %}
                        <h5 class="text-secondary">No breaks found</h5>
                    {% else %}
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">SR.</th>
                                    {% comment %} <th scope="col">Client </th>
                                    <th scope="col">Truck</th> {% endcomment %}
                                    <th scope="col">Start Time</th>
                                    <th scope="col">End Time</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for break in breaks %}
                                        <tr>
                                            <th scope="row">{{ forloop.counter }}</th>
                                            {% comment %} <td class="text-capitalize">{{ break.clientName }}</td>
                                            <td>{{ break.truckNum }}</td> {% endcomment %}
                                            <td>{{ break.startDateTime }}</td>
                                            <td>{{ break.endDateTime }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div> 
                    {% endif %}
                </div>
                <div class="tab-pane" id="reimbursement" role="tabpanel" aria-labelledby="reimbursementTab" tabindex="0">
                    <div class="row">
                        <div class="ms-auto d-flex justify-content-between flex-wrap">
                            <h5 class="card-title text-uppercase text-default">Reimbursements</h5>
                            <div class="p-1 ms-auto">
                                <a href="{% url 'Account:addReimbursementView' shiftId=shiftObj.id %}" class="btn btn-sm btn-default">Add new</a>
                            </div>
                        </div>
                    </div>
                    <hr class="my-2">

                    <div class="row">
                        {% if reimbursements|length < 1 %}
                            <h5 class="text-secondary">No reimbursements found</h5>
                        {% else %}
                            {% for reimbursement in reimbursements %}
                                <div class="col-md-4">
                                    <table class="table my-2">
                                        <tr>
                                            <th class="py-2">Notes :  </th>
                                            <td class="py-2">{{ reimbursement.notes }}</td>
                                        </tr>
                                        <tr>
                                            <th class="py-2">Raise Date :  </th>
                                            <td class="py-2"><span>{{ reimbursement.raiseDate }}</span></td>
                                        </tr>
                                        <tr>
                                            <th class="py-2">Amount : </th>
                                            <td class="py-2"><span>{{ reimbursement.amount }}</span></td>
                                        </tr>
                                        <tr>
                                            <th class="py-2">Reimbursement File : </th>
                                            <td class="py-2"><span><a href="/{{ reimbursement.reimbursementFile }}" target="_blank"><i class="fa-solid fa-file-import text-default" style="font-size: 1.2rem;"></i></a></span></td>
                                        </tr>
                                    </table>
                                </div>
                            {% endfor %}    
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footerStyleEnd %}
<script>
    $(document).ready(function(){
        $('#forgetEnd').on('change', function(){
            if($(this).is(':checked')){
                $('.endDateTime').removeClass('d-none');
                $('.endDateTime input').attr('required', true);
            }else{
                $('.endDateTime').addClass('d-none');
                $('.endDateTime input').removeAttr('required');
            }
        })

        $('#endShift').on('click', function(event) {
            if ($('#forgetEnd').is(':checked')) {
                if(!$('#endDateTime').val()){
                    console.log($('#endDateTime').val())
                    alert("Please enter the End Time");
                    event.preventDefault();
                }
            }
        });
    });

</script>
{% endblock %}