{% extends "main/main.html" %}
{% load static %}
{% block title %} | Driver Trip &Docket Edit {% endblock %}
{% block headStyle %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
<style>
    .cuatom-continer {
        margin: 0 5rem;
    }

    .errorMsg {
        font-size: 0.7rem;
        color: rgb(255, 0, 0);
        margin-top: 0.3rem;
        list-style-type: none;
    }

    .isInvalid {
        border: 1px solid rgb(255, 0, 0) !important;
        border-radius: 7px !important;
    }

    b.ocrBtn, #location{
        cursor: pointer;
    }

    #locationModal #map{
        height: 85vh;
        width: 74.1vw;
    }
    
    @media (max-width: 576px) {
        .cuatom-continer {
            margin: 0;
        }
    }

    @media (min-width: 576px) {
        .modal-dialog {
            margin: auto!important;
        }
    }

    @media (max-width: 768px) {
        .cuatom-continer {
            margin: 0;
        }
    }

    
</style>
{% endblock %}
{% block content %}
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <form class="" method="POST" action="{% url 'Account:driverEntryUpdate' shiftId=shiftObj.id%}" novalidate enctype="multipart/form-data">
                    {% csrf_token %}                    
                    <div class="x_title">
                        <h2>Shift Details</h2> 
                        <b class="d-inline-block m-1 mt-2 text-secondary">(started from {% if shiftObj.latitude and shiftObj.longitude %}<span id="location" class="text-info">location</span>{% else %}<a href="/{{ shiftObj.locationImg }}" target="_blank" class="text-info">location</a>{% endif %} at <span class="text-success">{{ shiftObj.startDateTime|date:'Y-m-d/H:i' }}</span>)</b>
                        <label id="viewBreaks" name="viewBreaks" class="btn btn-sm btn-outline-dark float-right" style="margin-top: .5rem;" onclick="showBreaks('{{shiftObj.id}}')">Breaks </label>
                        {% if not shiftObj.verified and shiftObj.endDateTime %}
                        
                            <label for="verified" class="float-right ml-2" style="margin-right: 1rem; padding-top:0.7rem;">Verified</label>
                            <input type="checkbox" id="verified" name="verified" value = 'True' {% if shiftObj.verified %}checked{% endif %}  class="float-right" style="margin-top: .8rem;"> 
                            {% comment %} onclick="checkDeficitFun('{{shiftObj.id}}')" {% endcomment %}
                        {% endif %}

                        <div class="clearfix"></div>
                    </div>
                    {% for trip in driverTrip %}
                        <div class="x_panel">
                            <div class="x_title">
                                <h2 class="text-primary">Trip {{forloop.counter}}</h2>{% if trip.preStartObj %}<b class="d-inline-block m-1 mt-2">(started with <a href="{% url 'Appointment:driverPreStartView' preStartId=trip.preStartObj.id %}" target="_blank" class="text-info">Pre-start</a>)</b>{% endif %}
                                {% if trip.revenueDeficit > 0 %}
                                <i class="text-danger float-right" style="font-size: 0.8rem;">There is a deficit of ${{trip.revenueDeficit}} for this trip.</i>
                                {% endif %}
                                {% if shiftObj.verified is False %}
                                <a href="{% url 'Account:driverDocketEntry' tripId=trip.id%}"
                                class="float-right btn btn-dark btn-sm">Add Docket</a>
                                {% endif %}
                                <div class="clearfix"></div>
                            </div>

                            <div class="x_content ">
                                <div class="custom-continer">
                                    <!-- driver-id client-name shift-type  -->
                                    <div class="col-md-4 col-sm-4">
                                        <label for="driverId{{trip.id}}">Driver Id:<span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <select disabled name="driverId{{trip.id}}" class="form-control">
                                                {% for D_id in Driver %}
                                                <option value="{{D_id.driverId}}" {% if shiftObj.driverId == D_id.driverId %}selected="selected" {% endif %}>{{D_id.driverId}}-{{ D_id.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <label for="clientName{{trip.id}}">Client Name :<span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <select readonly required name="clientName{{trip.id}}" class="form-control">
                                                <option value=""disabled selected>Select Client Name</option>

                                                {% for C_id in Client %}
                                                <option value="{{ C_id.clientId }}" {% if trip.clientId == C_id.clientId %}selected="selected" {%endif %}>{{ C_id.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 ">
                                        <label for="shiftType{{trip.id}}">ShiftType :<span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <select {% if not superUser %}disabled{% endif %} name="shiftType{{trip.id}}" class="form-control">
                                                <option value="Day" {% if shiftObj.shiftType == 'Day' %}selected="selected"{% endif %}>Day</option>
                                                <option value="Night" {% if shiftObj.shiftType == 'Night' %}selected="selected" {% endif %}>Night</option>

                                            </select>
                                        </div>
                                    </div> 
                                    <!-- numberOfLoads truckNo  shiftDate  -->
                                    <div class="col-md-4 col-sm-4">
                                        <label for="numberOfLoads{{trip.id}}">No. Of Loads:<span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input readonly class="form-control" value="{{trip.numberOfLoads}}" type="number"
                                                name="numberOfLoads{{trip.id}}" required='required' style="padding: 0.25rem 0.2rem;"
                                                id="numberOfLoads{{trip.id}}">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <label for="truckNo{{trip.id}}">Truck No:<span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <select {% if not superUser %}disabled{% endif %} class="form-control" required id="truckNo{{trip.id}}" name="truckNo{{trip.id}}">
                                                <option value="" disabled selected>Select Truck No</option>
                                                {% for truck in trip.clientTruckConnectionObj %}
                                                <option value="{{ truck.id }}" {% if trip.truckConnectionId == truck.id %}selected="selected"{% endif %}>{{ truck.clientTruckId }} - {{truck.truckNumber.adminTruckNumber}}
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div> 
                                    <div class="col-md-4 col-sm-4">
                                        <label for="shiftDate">Shift Date:<span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input disabled class="form-control" value="{{shiftObj.shiftDate}}" type="date"
                                                name="shiftDate" required='required' style="padding: 0.25rem 0.2rem;"
                                                id="shiftDate">
                                        </div>
                                    </div>
                                    <!-- startTime    endTime    loadSheet -->
                                    <div class="col-md-4 col-sm-4">
                                        <label for="startDateTime{{trip.id}}">Start Time :<span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input readonly class="form-control" value="{{ trip.startDateTime|date:'Y-m-d\TH:i:s' }}" type="datetime-local"
                                                name="startDateTime{{trip.id}}" required='required' style="padding: 0.25rem 0.2rem;"
                                                id="startDateTime{{trip.id}}">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <label for="endDateTime{{trip.id}}">End Time :<span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control" value="{{ trip.endDateTime|date:'Y-m-d\TH:i:s' }}" type="datetime-local"
                                            readonly  name="endDateTime{{trip.id}}" required='required' style="padding: 0.25rem 0.2rem;"
                                                id="endDateTime{{trip.id}}">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <label for="loadSheet{{trip.id}}">LogSheet :<span class="required">*</span></label>
                                        {% if trip.loadSheet is None %}
                                        
                                        <a href="/{{trip.loadSheet}}" class="text-primary"
                                            target="_blank">LogSheet_file</a>
                                        {% endif %}
                                        <div  class="field item form-group">
                                            <input {% if not superUser %}disabled{% endif %} class="form-control" value="{{trip.loadSheet}}" type="file" name="loadSheet{{trip.id}}"
                                                style="padding: 0.25rem 0.2rem;" id="loadSheet{{trip.id}}">
                                        </div>
                                    </div>
                                    <!-- comment  -->
                                    <div class="col-md-12 col-sm-12">
                                        <label for="comment{{trip.id}}">Comment :<span class="required">*</span></label>
                                        <div  class="field item form-group">
                                            <textarea placeholder="comment" name="comment{{trip.id}}" id="comment{{trip.id}}"
                                            {% if not superUser %}readonly{% endif %}  class="form-control">{{trip.comment}}</textarea>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>

                        {% for docket in trip.tripDockets %}
                        <div class="x_panel">
                            <div class="x_title">
                                <!-- {% if docket.reconciliationObj %}<a href="{% url 'Account:reconciliationDocketView' reconciliationId=docket.reconciliationObj.id %}" class="mr-2" style="font-size: 1.2rem;" target="_blank" data-toggle="tooltip" data-placement="top" title="View Reconciliation"><i class="fa-solid fa-paste"></i></a>{% endif %}<h5 class ="text-primary d-inline-block"> Load #{{forloop.counter}} </h5> -->
                                <a {% if docket.reconciliationObj %} href="{% url 'Account:reconciliationDocketView' reconciliationId=docket.reconciliationObj.id %}" target="_blank" {% endif %}><h2 class ="text-primary d-inline-block"> Load #{{forloop.counter}} </h2></a>
                                <div class="float-right">
                                    <input type="radio" id="tippingToYard{{docket.id}}" name="returnToYard{{docket.id}}" value="tippingToYard{{docket.id}}"
                                    style="margin-top: .8rem;"  onclick="returnToYard('{{docket.id}}',this)" {% if item.tippingToYard %} checked {% endif %}>
                                    <label for="tippingToYard{{docket.id}}" class="ml-2"
                                    style="margin-right: 1rem; padding-top:0.7rem;">Tipping To Yard</label>
                                    <input type="radio" id="returnToYard{{docket.id}}" name="returnToYard{{docket.id}}" value="returnToYard{{docket.id}}"
                                    style="margin-top: .8rem;"  onclick="returnToYard('{{docket.id}}',this)" {% if item.returnToYard %} checked {% endif %}>
                                    <label for="returnToYard{{docket.id}}" class="ml-2"
                                        style="margin-right: 1rem; padding-top:0.7rem;">Return To Yard</label>
                                
                                    <i class="fa fa-close text-danger ml-2" style="font-size: 1.2rem;" id="resetRadio{{docket.id}}" onclick="resetRadio('{{docket.id}}')"></i>
                                </div>
                                
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="custom-continer">

                                    <!--  docketNumber docketFile  -->
                                    <div class="col-md-4 col-sm-4">
                                        <label for="docketNumber{{docket.id}}">Docket Number :<span class="required">*</span></label>
                                        {% if shiftObj.verified != True%}
                                        
                                        <a href="" class="text-primary" data-toggle="modal" data-target="#editDocketModel">Edit Docket Number</a>
                                        {% endif %}
                                        <div class="field item form-group">
                                            <input class="form-control" readonly value="{{docket.docketNumber}}" type="text"
                                                name="docketNumber{{docket.id}}" required='required'
                                                style="padding: 0.25rem 0.2rem;" id="docketNumber{{docket.id}}">
                                        </div>
                                    </div>
                                    <!-- docket Edit Model  -->

                                    <div class="modal fade" id="editDocketModel" tabindex="-1" role="dialog" aria-labelledby="editDocketModelLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="editDocketModelLabel">Docket Edit</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                            </div>
                                                {% csrf_token %}
                                                <div class="modal-body">
                                                        <div class="modal-body">
                                                            <label for="docketNumber_{{docket.id}}">Docket Number :<span class="required">*</span></label>
                                                            <div class="field item form-group">
                                                            <input class="form-control" type="text" name="docketNumber_{{docket.id}}" required='required' style="padding: 0.25rem 0.2rem;"
                                                                id="docketNumber_{{docket.id}}">
                                                            </div>
                                                        </div>
                                                </div>
                                                <div class="modal-footer">
                                                <button type="button" onclick="docketUpdate('{{docket.id}}')" class="btn btn-primary">Save </button>
                                                </div>

                                        </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <label for="docketFile{{docket.id}}">Docket File :<span class="required">*</span></label>
                                        {% if docket.docketFile %}
                                        <a href="/{{docket.docketFile}}" class="text-primary" target="_blank">Docket File</a>
                                        {% endif %}

                                        <b class="float-right text-default ocrBtn" id="ocr{{docket.id}}">OCR</b>
                                        <div class="field item form-group">
                                            <input class="form-control" value="{{docket.docketFile}}" type="file"
                                                name="docketFile{{docket.id}}" style="padding: 0.25rem 0.2rem;"
                                                id="docketFile{{docket.id}}">
                                        </div>
                                    </div>
                                    <!-- basePlant noOfKm  transferKM  -->
                                    <div class="col-md-4 col-sm-4 ">
                                        <label for="basePlant{{docket.id}}">BasePlant :<span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <select name="basePlant{{docket.id}}" class="form-control">
                                                {% for basePlant_ in basePlants %}
                                                <option value="{{ basePlant_.id }}" {% if docket.basePlant == basePlant_.id %}selected="selected" {% endif %}>{{ basePlant_.basePlant }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <label for="noOfKm{{docket.id}}">Number Of Km:<span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control" value="{{docket.noOfKm}}" type="number"name="noOfKm{{docket.id}}" required='required'style="padding: 0.25rem 0.2rem;" id="noOfKm{{docket.id}}">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <label for="transferKM{{docket.id}}">Transfer Km :<span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control" value="{{docket.transferKM}}" type="number" name="transferKM{{docket.id}}" required='required'style="padding: 0.25rem 0.2rem;" id="transferKM{{docket.id}}">
                                        </div>
                                    </div>
                                    <!--    returnQty  returnKm  waitingTimeStart      -->
                                    <div class="col-md-4 col-sm-4">
                                        <label for="returnQty{{docket.id}}">Return Qty:<span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control" value="{{docket.returnQty}}" type="number"name="returnQty{{docket.id}}" required='required' style="padding: 0.25rem 0.2rem;" id="returnQty{{docket.id}}" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <label for="returnKm{{docket.id}}">Return Km:<span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control" value="{{docket.returnKm}}" type="number" name="returnKm{{docket.id}}" required='required' style="padding: 0.25rem 0.2rem;" id="returnKm{{docket.id}}" readonly>
                                        </div>
                                    </div>
                                    {% comment %} {{docket.waitingTimeStart}} {% endcomment %}
                                    <div class="col-md-4 col-sm-4">
                                        <input type="checkbox" class="float-right" id="waitingCheck{{docket.id}}" name="waitingCheck{{docket.id}}" value="waitingCheck{{docket.id}}"
                                            onclick="waitingCheck('{{docket.id}}',this)" {% if docket.waitingTimeStart %} checked {% endif %}>
                                        <label for="waitingTimeStart{{docket.id}}">Waiting Time Start :<span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control" {% if docket.waitingTimeStart is None %} readonly {% endif %}  value="{{docket.waitingTimeStart}}" type="time" name="waitingTimeStart{{docket.id}}"  style="padding: 0.25rem 0.2rem;" id="waitingTimeStart{{docket.id}}" onchange="openWaitingTimeEnd(this,'{{docket.id}}')">
                                        </div>
                                    </div>

                                    {% comment %} totalWaitingInMinute waitingTimeEnd surcharge_type {% endcomment %}
                                    {% comment %} {{docket.waitingTimeEnd}} {% endcomment %}
                                    <div class="col-md-4 col-sm-4">
                                        <label for="waitingTimeEnd{{docket.id}}">Waiting Time End :<span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control"  value="{{docket.waitingTimeEnd}}" type="time" name="waitingTimeEnd{{docket.id}}"  style="padding: 0.25rem 0.2rem;" id="waitingTimeEnd{{docket.id}}" readonly onchange="countTotalWaitingTime(this,'{{docket.id}}','{{docket.tripId}}')">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <label for="totalWaitingInMinute{{docket.id}}">Total Waiting In Minute :<span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control" readonly value="{{docket.totalWaitingInMinute}}" type="number" name="totalWaitingInMinute{{docket.id}}" required='required' style="padding: 0.25rem 0.2rem;" id="totalWaitingInMinute{{docket.id}}">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <label for="surcharge_type{{docket.id}}">Surcharge Type:<span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <select name="surcharge_type{{docket.id}}" class="form-control" >
                                                {% for surcharge in surcharges %}
                                                <option value="{{surcharge.id}}" {% if docket.surchargeType == surcharge.id %} selected {% endif %} >{{surcharge.surcharge_Name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <!--     surcharge_duration    cubicMl standByStartTime -->
                                    <div class="col-md-4 col-sm-4">
                                        <label for="surcharge_duration{{docket.id}}">Surcharge Duration :<span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control" value="{{docket.surcharge_duration}}" type="number"name="surcharge_duration{{docket.id}}" required='required' style="padding: 0.25rem 0.2rem;" id="surcharge_duration{{docket.id}}">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <label for="cubicMl{{docket.id}}">Cubic Meter :<span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control" value="{{docket.cubicMl}}" type="number" name="cubicMl{{docket.id}}" required="required" style="padding: 0.25rem 0.2rem;" id="cubicMl{{docket.id}}">
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-4">
                                        <input type="checkbox" class="float-right" id="standByCheck{{docket.id}}" name="standByCheck{{docket.id}}" value="standByCheck{{docket.id}}"
                                        onclick="standByCheck('{{docket.id}}',this)" {% if docket.standByStartTime %} checked {% endif %}>
                                        <label for="standByStartTime{{docket.id}}">StandBy start Time :<span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control" value="{{docket.standByStartTime}}" {% if docket.standByStartTime is None %} readonly {% endif %} type="time" name="standByStartTime{{docket.id}}"   style="padding: 0.25rem 0.2rem;" id="standByStartTime{{docket.id}}" onchange="openStandByEnd(this,'{{docket.id}}')">
                                        </div>
                                    </div>
                                    <!--     standByEndTime   others  comment-->
                                    <div class="col-md-4 col-sm-4">
                                        <label for="standByEndTime{{docket.id}}">StandBy End Time :<span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control" value="{{docket.standByEndTime}}" type="time" {% if docket.standByEndTime is None %} readonly {% endif %} name="standByEndTime{{docket.id}}"  style="padding: 0.25rem 0.2rem;" id="standByEndTime{{docket.id}}" onchange="countStandBySlot(this,'{{docket.id}}','{{docket.tripId}}')">
                                        </div>
                                    </div>

                                    <div class="col-md-8 col-sm-8">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6">
                                                <label for="standBySlot{{docket.id}}">Stand By Slot :<span class="required">*</span></label>
                                                <div class="field item form-group">
                                                    <input class="form-control" readonly  type="number" name="standBySlot{{docket.id}}" required='required' style="padding: 0.25rem 0.2rem;" id="standBySlot{{docket.id}}" value="{% if docket %}{{docket.standBySlot}}{% else %}0{% endif %}">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <label for="others{{docket.id}}">Others :<span class="required">*</span></label>
                                                <div class="field item form-group">
                                                    <input class="form-control" value="{{docket.others}}" type="number" name="others{{docket.id}}" style="padding: 0.25rem 0.2rem;" required="required" id="others{{docket.id}}">
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12">
                                                <label for="comment{{docket.id}}">Comment :<span class="required">*</span></label>
                                                <div class="field item form-group">
                                                    <textarea placeholder="comment" name="comment{{docket.id}}" class="form-control">{{docket.comment}}</textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <label for="ocrTextArea{{docket.id}}">OCR content :<span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <textarea name="ocrTextArea{{docket.id}}" id="ocrTextArea{{docket.id}}" rows="5" class="form-control" disabled></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% endfor %}

                    {% if shiftObj.verified is  False  %}
                    <div class="col-md-12 text-right py-2 position-sticky" style ="bottom:3%;">
                        <button type='submit' style="margin: 0px;" class="btn btn-default px-4">Save</button>
                    </div>
                    {% endif%}
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Break modal -->
<div class="modal fade bd-example-modal-lg" id="driverBreaks" tabindex="-1" role="dialog" aria-labelledby="driverBreaksLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="driverBreaksLabel">DriverBreaks</h5>
          <span type="button" class="close">&times;</span>
        </div>
        <div class="modal-body">
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Start</th>
                    <th scope="col">End</th>
                    <th scope="col" class='w-50'>Description</th>
                  </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
      </div>
    </div>
</div>

<!-- Location modal -->
<div class="modal fade bd-example-modal-xl" tabindex="-1" id="locationModal">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header py-2">
          <h5 class="modal-title">Location</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body p-0">
            <div id="map"></div>
        </div>
      </div>
    </div>
  </div>


<!-- /page content -->
{% endblock %}


{% block footerStyle %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{% static 'Dashboard/vendors/validator/multifield.js' %}"></script>
<script src="{% static 'Dashboard/vendors/validator/validator.js' %}"></script>
<script src="{% static 'js/tripForm.js' %}"></script>
<script>
    function showMap() {
        var cityName = document.getElementById('city').value;
        var latitude = parseFloat(document.getElementById('latitude').value);
        var longitude = parseFloat(document.getElementById('longitude').value);

        var cityLatLng = new google.maps.LatLng(latitude, longitude);

        var map = new google.maps.Map(document.getElementById('map'), {
            center: cityLatLng,
            zoom: 12
        });

        var marker = new google.maps.Marker({
            position: cityLatLng,
            map: map,
            title: cityName
        });
    }
    $('#location').on('click', function(){
        let latitude = "{{ shiftObj.latitude }}"
        let longitude = "{{ shiftObj.longitude }}"
        var cityLatLng = new google.maps.LatLng(latitude, longitude);

        var map = new google.maps.Map(document.getElementById('map'), {
            center: cityLatLng,
            zoom: 12
        });

        var marker = new google.maps.Marker({
            position: cityLatLng,
            map: map,
            title: "Location"
        });

        $('#locationModal').modal('show')
        console.log(latitude, longitude)
    });
</script>
{% endblock %}