{% extends "main/main.html" %}
{% load static %}
{% block title %} | Driver Trip &Docket Edit {% endblock %}
{% block headStyle %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
<style>
    .cuatom-continer {
        margin: 0 5rem;
    }

    .errorMsg {
        font-size: 0.7rem;
        color: rgb(255, 0, 0);
        margin-top: 0.3rem;
        list-style-type: none;
    }

    .isInvalid {
        border: 1px solid rgb(255, 0, 0) !important;
        border-radius: 7px !important;
    }

    @media (max-width: 576px) {
        .cuatom-continer {
            margin: 0;
        }
    }

    @media (max-width: 768px) {

        .cuatom-continer {
            margin: 0;
        }
    }
</style>
{% endblock %}
{% block content %}
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <form class="" method="POST" action="{% url 'Account:driverEntryUpdate' ids=shiftObj.id%}" novalidate
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    <div class="x_title">
                        <h2> Driver Shift Details</h2>
                        {% if shiftObj.verified is  False  %}
                        <a href="{% url 'Account:tripEntry' shiftId=shiftObj.id%}"
                            class="float-right btn btn-dark">Add Docket</a>
                            
                        
                        <label for="verified" class="float-right ml-2"
                            style="margin-right: 1rem; padding-top:0.7rem;">Verified</label>
                        <input type="checkbox" id="verified" name="verified"
                            {% if driverTrip.verified %}checked{% endif %} class="float-right "
                            style="margin-top: .8rem;">
                        {% endif %}

                        <div class="clearfix"></div>
                    </div>
                        {% for trip in driverTrip %}
                        <div class="x_panel">
                        <div class="x_title ">
                            <h2 class="text-primary"> Driver Shift Details {{trip.count_}}</h2>
                            <div class="clearfix"></div>
                        </div> 
                        <div class="x_content ">
                            <div class="custom-continer">
                                <!-- driver-id client-name shift-type  -->
                                 <div class="col-md-4 col-sm-4">
                                    <label for="driverId">Driver Id:<span class="required">*</span></label>
                                    <div class="field item form-group">
                                        <select {% if not superUser %}disabled{% endif %} name="driverId" class="form-control">
                                            {% for D_id in Driver %}
                                            <option value="{{D_id.driverId}}" {% if shiftObj.driverId == D_id.driverId %}selected="selected" {% endif %}>{{D_id.driverId}}-{{ D_id.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <label for="clientName">Client Name :<span class="required">*</span></label>
                                    <div class="field item form-group">
                                        <select {% if not superUser %}disabled{% endif %} name="clientName" class="form-control">
                                            {% for C_id in Client %}
                                            <option value="{{ C_id.clientId }}" {% if trip.clientId == C_id.clientId %}selected="selected" {%endif %}>{{ C_id.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 ">
                                    <label for="shiftType">ShiftType :<span class="required">*</span></label>
                                    <div class="field item form-group">
                                        <select {% if not superUser %}disabled{% endif %} name="shiftType" class="form-control">
                                            <option value="Day" {% if shiftObj.shiftType == 'Day' %}selected="selected"{% endif %}>Day</option>
                                            <option value="Night" {% if shiftObj.shiftType == 'Night' %}selected="selected" {% endif %}>Night</option>

                                        </select>
                                    </div>
                                </div> 
                                <!-- numberOfLoads truckNo  shiftDate  -->
                                <div class="col-md-4 col-sm-4">
                                    <label for="numberOfLoads{{trip.count_}}">No. Of Loads:<span class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input {% if not superUser %}disabled{% endif %} class="form-control" value="{{trip.numberOfLoads}}" type="number"
                                            name="numberOfLoads{{trip.count_}}" required='required' style="padding: 0.25rem 0.2rem;"
                                            id="numberOfLoads{{trip.count_}}">
                                    </div>
                                </div>
                                 <div class="col-md-4 col-sm-4">
                                    <label for="truckNo">Truck No:<span class="required">*</span></label>
                                    <div class="field item form-group">
                                        <select {% if not superUser %}disabled{% endif %} class="form-control" required id="truckNo" name="truckNo">
                                            <option value="" disabled selected>Select Truck No</option>
                                            {% for truck in clientTruck %}
                                            <option value="{{ truck.id }}" {% if trip.truckConnectionId == truck.id %}selected="selected"{% endif %}>{{ truck.clientTruckId }} - {{truck.truckNumber.adminTruckNumber}}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div> 
                                <div class="col-md-4 col-sm-4">
                                    <label for="shiftDate">Shift Date:<span class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input {% if not superUser %}disabled{% endif %} class="form-control" value="{{shiftObj.shiftDate}}" type="date"
                                            name="shiftDate" required='required' style="padding: 0.25rem 0.2rem;"
                                            id="shiftDate">
                                    </div>
                                </div>
                                <!-- startTime    endTime    loadSheet -->
                                <div class="col-md-4 col-sm-4">
                                    <label for="startDateTime{{trip.count_}}">Start Time :<span class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input {% if not superUser %}disabled{% endif %} class="form-control" value="{{ trip.startDateTime|date:'Y-m-d\TH:i:s' }}" type="datetime-local"
                                            name="startDateTime{{trip.count_}}" required='required' style="padding: 0.25rem 0.2rem;"
                                            id="startDateTime{{trip.count_}}">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <label for="endDateTime{{trip.count_}}">End Time :<span class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control" value="{{ trip.endDateTime|date:'Y-m-d\TH:i:s' }}" type="datetime-local"
                                        {% if not superUser %}disabled{% endif %}  name="endDateTime{{trip.count_}}" required='required' style="padding: 0.25rem 0.2rem;"
                                            id="endDateTime{{trip.count_}}">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <label for="loadSheet{{trip.count_}}">loadSheet :<span class="required">*</span></label>
                                    <a href="/{{trip.loadSheet}}" class="text-primary"
                                        target="_blank">loadSheet_file</a>
                                    <div  class="field item form-group">
                                        <input {% if not superUser %}disabled{% endif %} class="form-control" value="{{trip.loadSheet}}" type="file" name="loadSheet{{trip.count_}}"
                                            style="padding: 0.25rem 0.2rem;" id="loadSheet{{trip.count_}}">
                                    </div>
                                </div>
                                <!-- comment  -->
                                <div class="col-md-12 col-sm-12">
                                    <label for="comment{{trip.count_}}">Comment :<span class="required">*</span></label>
                                    <div  class="field item form-group">
                                        <textarea placeholder="comment" name="comment{{trip.count_}}" id="comment{{trip.count_}}"
                                        {% if not superUser %}disabled{% endif %}  class="form-control">{{trip.comment}}</textarea>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        </div>
                        {% endfor %}

                        {% for docket in driverDocket %}
                        <div class="x_panel">
                            <div class="x_title">
                                <h2 class ="text-primary"> Load #{{docket.count_}} </h2>
                                <div class="float-right">
                                    <input type="radio" id="tippingToYard{{docket.count_}}" name="returnToYard{{docket.count_}}" value="tippingToYard{{docket.count_}}"
                                    style="margin-top: .8rem;"  onclick="returnToYard({{docket.count_}},this)" {% if item.tippingToYard %} checked {% endif %}>
                                    <label for="tippingToYard{{docket.count_}}" class="ml-2"
                                    style="margin-right: 1rem; padding-top:0.7rem;">Tipping To Yard</label>
                                    <input type="radio" id="returnToYard{{docket.count_}}" name="returnToYard{{docket.count_}}" value="returnToYard{{docket.count_}}"
                                    style="margin-top: .8rem;"  onclick="returnToYard({{docket.count_}},this)" {% if item.returnToYard %} checked {% endif %}>
                                    <label for="returnToYard{{docket.count_}}" class="ml-2"
                                        style="margin-right: 1rem; padding-top:0.7rem;">Return To Yard</label>
                                
                                    <i class="fa fa-close text-danger ml-2" style="font-size: 1.2rem;" id="resetRadio{{docket.count_}}" onclick="resetRadio({{docket.count_}})"></i>
                                </div>
                                
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="custom-continer">

                                    <!--  docketNumber docketFile  -->
                                    <div class="col-md-4 col-sm-4">
                                        <label for="docketNumber{{docket.count_}}">Docket Number :<span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control" value="{{docket.docketNumber}}" type="text"
                                                name="docketNumber{{docket.count_}}" required='required'
                                                style="padding: 0.25rem 0.2rem;" id="docketNumber{{docket.count_}}">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <label for="docketFile{{docket.count_}}">DocketFile :<span class="required">*</span></label>
                                        <a href="/{{docket.docketFile}}" class="text-primary" target="_blank">docketFile</a>
                                        <div class="field item form-group">
                                            <input class="form-control" value="{{docket.docketFile}}" type="file"
                                                name="docketFile{{docket.count_}}" style="padding: 0.25rem 0.2rem;"
                                                id="docketFile{{docket.count_}}">
                                        </div>

                                    </div>
                                    <!-- basePlant noOfKm  transferKM  -->
                                    <div class="col-md-4 col-sm-4 ">
                                        <label for="basePlant{{docket.count_}}">basePlant :<span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <select name="basePlant{{docket.count_}}" class="form-control">
                                                {% for basePlant_ in basePlants %}
                                                <option value="{{ basePlant_.id }}" {% if docket.basePlant == basePlant_.id %}selected="selected" {% endif %}>{{ basePlant_.basePlant }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <label for="noOfKm{{docket.count_}}">No Of Km:<span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control" value="{{docket.noOfKm}}" type="number"
                                                name="noOfKm{{docket.count_}}" required='required'
                                                style="padding: 0.25rem 0.2rem;" id="noOfKm{{docket.count_}}">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <label for="transferKM{{docket.count_}}">Transfer Km :<span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control" value="{{docket.transferKM}}" type="number"
                                                name="transferKM{{docket.count_}}" required='required'
                                                style="padding: 0.25rem 0.2rem;" id="transferKM{{docket.count_}}">
                                        </div>
                                    </div>
                                    <!--    returnQty  returnKm  waitingTimeStart      -->
                                    <div class="col-md-4 col-sm-4">
                                        <label for="returnQty{{docket.count_}}">Return Qty:<span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control" value="{{docket.returnQty}}" type="number"
                                                name="returnQty{{docket.count_}}" required='required'
                                                style="padding: 0.25rem 0.2rem;" id="returnQty{{docket.count_}}" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <label for="returnKm{{docket.count_}}">Return Km:<span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control" value="{{docket.returnKm}}" type="number"
                                                name="returnKm{{docket.count_}}" required='required'
                                                style="padding: 0.25rem 0.2rem;" id="returnKm{{docket.count_}}" readonly>
                                        </div>
                                    </div>
                                    {% comment %} {{docket.waitingTimeStart}} {% endcomment %}
                                    <div class="col-md-4 col-sm-4">
                                        <label for="waitingTimeStart{{docket.count_}}">Waiting Time Start :<span
                                                class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control"  value="{{docket.waitingTimeStart}}" type="time"
                                                name="waitingTimeStart{{docket.count_}}" required='required'
                                                style="padding: 0.25rem 0.2rem;" id="waitingTimeStart{{docket.count_}}" onchange="openWaitingTimeEnd(this,{{docket.count_}})">
                                        </div>
                                    </div>

                                    {% comment %} totalWaitingInMinute waitingTimeEnd surcharge_type {% endcomment %}
                                    {% comment %} {{docket.waitingTimeEnd}} {% endcomment %}
                                    <div class="col-md-4 col-sm-4">
                                        <label for="waitingTimeEnd{{docket.count_}}">Waiting Time End :<span
                                                class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control"  value="{{docket.waitingTimeEnd}}" type="time"
                                                name="waitingTimeEnd{{docket.count_}}" required='required'
                                                style="padding: 0.25rem 0.2rem;" id="waitingTimeEnd{{docket.count_}}" readonly onchange="countTotalWaitingTime(this,{{docket.count_}})">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <label for="totalWaitingInMinute{{docket.count_}}">Total Waiting In Minute :<span
                                                class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control" readonly value="{{docket.totalWaitingInMinute}}" type="number"
                                                name="totalWaitingInMinute{{docket.count_}}" required='required'
                                                style="padding: 0.25rem 0.2rem;" id="totalWaitingInMinute{{docket.count_}}">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <label for="surcharge_type{{docket.count_}}">Surcharge Type:<span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <select name="surcharge_type{{docket.count_}}" class="form-control" >
                                                {% for surcharge in surcharges %}
                                                <option value="{{surcharge.id}}" {% if docket.surchargeType == surcharge.id %} selected {% endif %} >{{surcharge.surcharge_Name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <!--     surcharge_duration    cubicMl standByStartTime -->
                                    <div class="col-md-4 col-sm-4">
                                        <label for="surcharge_duration">Surcharge Duration :<span
                                                class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control" value="{{docket.surcharge_duration}}" type="number"
                                                name="surcharge_duration{{docket.count_}}" required='required'
                                                style="padding: 0.25rem 0.2rem;" id="surcharge_duration">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <label for="cubicMl{{docket.count_}}">Cubic Meter :<span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control" value="{{docket.cubicMl}}" type="number"
                                                name="cubicMl{{docket.count_}}" required="required"
                                                style="padding: 0.25rem 0.2rem;" id="cubicMl{{docket.count_}}">
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-4">
                                        <label for="standByStartTime{{docket.count_}}">StandBy start Time :<span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control" value="{{docket.standByStartTime}}" type="time"
                                                name="standByStartTime{{docket.count_}}" required='required'
                                                style="padding: 0.25rem 0.2rem;" id="standByStartTime{{docket.count_}}" onchange="openStandByEnd(this,{{docket.count_}})">
                                        </div>
                                    </div>
                                    <!--     standByEndTime   others  comment-->
                                    <div class="col-md-4 col-sm-4">
                                        <label for="standByEndTime{{docket.count_}}">StandBy End Time :<span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control" value="{{docket.standByEndTime}}" type="time" readonly
                                                name="standByEndTime{{docket.count_}}" required='required'
                                                style="padding: 0.25rem 0.2rem;" id="standByEndTime{{docket.count_}}" onchange="countStandBySlot(this,{{docket.count_}})">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <label for="standBySlot{{docket.count_}}">Stand By Slot :<span
                                                class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control" readonly  type="number"
                                                name="standBySlot{{docket.count_}}" required='required'
                                                style="padding: 0.25rem 0.2rem;" id="standBySlot{{docket.count_}}" value="{% if driverDocket %}{{docket.standBySlot}}{% else %}0{% endif %}">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <label for="others{{docket.count_}}">Others :<span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control" value="{{docket.others}}" type="number"
                                                name="others{{docket.count_}}" style="padding: 0.25rem 0.2rem;"
                                                required="required" id="others{{docket.count_}}">
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-12 col-sm-12">
                                        <label for="comment{{docket.count_}}">Comment :<span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <textarea placeholder="comment" name="comment{{docket.count_}}"
                                                class="form-control">{{docket.comment}}</textarea>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        {% endfor %}
                        {% if driverTrip.verified is  False  %}
                        <div class="col-md-12 text-right p-0">
                            <button type='submit' style="margin: 0px;" class="btn btn-primary px-4">Save</button>
                        </div>
                        {% endif%}

                    {% if trip.verified is  False  %}
                    <div class="col-md-12 text-right p-0">
                        <button type='submit' style="margin: 0px;" class="btn btn-primary px-4">Save</button>
                    </div>
                    {% endif%}

                </form>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
{% endblock %}


{% block footerStyle %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{% static 'Dashboard/vendors/validator/multifield.js' %}"></script>
<script src="{% static 'Dashboard/vendors/validator/validator.js' %}"></script>
<script>
    const csrftoken = $("[name=csrfmiddlewaretoken]").val();

    $(document).ready(function() {
        if (!$('#verified').val()) {
            $(':input').prop('disabled', true);
            $('#verified').css('display', 'none');
        }
    });
    function hideshow() {
        var password = document.getElementById("password1");
        var slash = document.getElementById("slash");
        var eye = document.getElementById("eye");

        if (password.type === 'password') {
            password.type = "text";
            slash.style.display = "block";
            eye.style.display = "none";
        }
        else {
            password.type = "password";
            slash.style.display = "none";
            eye.style.display = "block";
        }

    }
    // A "<form>" element is optionally passed as an argument, but is not a must
    var validator = new FormValidator({
        "events": ['blur', 'input', 'change']
    }, document.forms[0]);
    // on form "submit" event
    document.forms[0].onsubmit = function (e) {
        var submit = true,
            validatorResult = validator.checkAll(this);
        console.log(validatorResult);
        return !!validatorResult.valid;
    };
    // on form "reset" event
    document.forms[0].onreset = function (e) {
        validator.reset();
    };
    // stuff related ONLY for this demo page:
    $('.toggleValidationTooltips').change(function () {
        validator.settings.alerts = !this.checked;
        if (this.checked)
            $('form .alert').remove();
    }).prop('checked', false);

   function returnToYard_(id,tag){
        let selected = $(`#${tag.id}`).is(':checked')

        if(selected){
            $(`#returnQty${id}`).removeAttr('readonly')
            $(`#returnKm${id}`).removeAttr('readonly')
        }else{
            $(`#returnQty${id}`).attr('readonly',true)
            $(`#returnKm${id}`).attr('readonly',true)
        }
    }

    function resetRadio(id){
        $(`#tippingToYard${id}`).removeAttr('checked')
        $(`#returnToYard${id}`).removeAttr('checked')
        $(`#returnQty${id}`).attr('readonly',true)
        $(`#returnKm${id}`).attr('readonly',true)
    }

    function openWaitingTimeEnd(lineData,count_){
        let waitingTimeStart = lineData.value 
        if(waitingTimeStart){
            $(`#waitingTimeEnd${count_}`).removeAttr('readonly');
        }
    }
    function openStandByEnd(lineData,count_){
        let standByEndTime = lineData.value 
        if(standByEndTime){
            $(`#standByEndTime${count_}`).removeAttr('readonly');
        }
    }

    function countTotalWaitingTime(lineData, count_){
        let waitingTimeStart = $(`#waitingTimeStart${count_}`).val()
        let waitingTimeEnd = lineData.value 

        if(waitingTimeStart && waitingTimeEnd){
            $.ajax({
                type: "POST",
                url: "/account/driverDocket/waitingTime/count/",
                data: {
                    tripId : {{driverTrip.id}},
                    waitingTimeEnd : waitingTimeEnd,
                    waitingTimeStart : waitingTimeStart,
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function (data) {
                    console.log(data.totalWaitingTime)
                    $(`#totalWaitingInMinute${count_}`).val(data.totalWaitingTime)
                },
            });
        }
    }

    function countStandBySlot(lineData,count_){
        let standByStartTime = $(`#standByStartTime${count_}`).val()
        let standByEndTime = $(`#standByEndTime${count_}`).val()

        if(standByStartTime && standByEndTime){
            $.ajax({
                type: "POST",
                url: "/account/driverDocket/standByTime/count/",
                data: {
                    tripId : {{driverTrip.id}},
                    standByStartTime : standByStartTime,
                    standByEndTime : standByEndTime,
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function (data) {
                    console.log(data.totalWaitingTime)
                    $(`#standBySlot${count_}`).val(data.standBySlot)
                },
            });
        }
    }

</script>
{% endblock %}