
<style>
    #about {
      color: #8bd8bd ; 
      
  }
  @media (max-width: 786px) {
      #img_about {
          display: none;
      }
      .container-fluid.hero-header{
          padding-bottom: 0 !important;
          margin-bottom: 0 !important;
      } 
  }
  </style>
  {% load static %}
  
  {% include "frontend_design/header.html" %}
  
  
     <!-- Header Start -->
     <div class="container-fluid hero-header bg-light py-5 mb-5" style="background-color:white">
      <div class="container py-5">
          <div class="row g-5 align-items-center">
              <div class="col-lg-6">
                  <h1 class="display-4 mb-3 animated slideInDown">About Us</h1>
                  <nav aria-label="breadcrumb animated slideInDown">
                      <ol class="breadcrumb mb-0">
                          <li class="breadcrumb-item"><a href="{% url 'frontend_app:index'%}" style="color:#8bd8bd">Home</a></li>
                          <li class="breadcrumb-item active" aria-current="page">About Us</li>
                      </ol>
                  </nav>
              </div>
              <div class="col-lg-6 animated fadeIn">
                  <img id="img_about" class="img-fluid animated pulse infinite" style="animation-duration: 3s;" src="{% static 'assets/img/GLOBAL_SMART_SOLUTIONS_LOGO.jpg'%}"
                      alt="">
              </div>
          </div>
      </div>
  </div>
  <!-- Header End -->
  
  
  <!-- About Start -->
  <div class="container-xxl py-5">
      <div class="container">
          <div class="row g-5 align-items-center">
              <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                  <img class="img-fluid" src="{% static 'assets/img/GLOBAL_SMART_SOLUTIONS_LOGO.png'%}" alt="">
              </div>
              <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <h1 class="display-6">About Us</h1>
                    <p class="text-primary fs-5 mb-4" style="color:#8bd8bd!important">Your Partner in World-Class Logistics Solutions</p>
                    <p>Expanding the horizons of logistics through innovation and reliability. We deliver exceptional service and value, ensuring your goods move smoothly and efficiently across the globe. Our expertise in supply chain management makes us a leader in the logistics industry.</p>
                    <p class="mb-4">With a commitment to excellence and customer satisfaction, we leverage cutting-edge technology and a global network to meet your logistics needs, tailored to the unique demands of your business.</p>
                    <div class="d-flex align-items-center mb-2">
                        <i class="fa fa-check bg-light text-primary btn-sm-square rounded-circle me-3 fw-bold" style="color:#8bd8bd!important"></i>
                        <span>Customized logistics solutions for every client</span>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <i class="fa fa-check bg-light text-primary btn-sm-square rounded-circle me-3 fw-bold" style="color:#8bd8bd!important"></i>
                        <span>Global reach with local expertise</span>
                    </div>
                    <div class="d-flex align-items-center mb-4">
                        <i class="fa fa-check bg-light text-primary btn-sm-square rounded-circle me-3 fw-bold" style="color:#8bd8bd!important"></i>
                        <span>Advanced technology for efficient supply chain management</span>
                    </div>
                    <a class="btn btn-primary py-3 px-4" href="">Read More</a>
                </div>
                
              </div>
          </div>
      </div>
  </div>
  <!-- About End -->
  
  
  {% include "frontend_design/footer.html" %}
  