{% extends "Trip_details/main/main.html" %}
{% load static %}
{% block title %}Time of request{% endblock title %}

{% block headStyle %}
<style>
    #formSection .mcq-card {
        padding: 1rem;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }

    #formSection ul li {
        list-style: none;
        padding: 0.4rem 0.6rem;
        background-color: #bbc9d8;
        margin: 2px 0;
        display: flex;
        column-gap: 0.5em;
        border-radius:0.3em;
    }
    #formSection ul li label{
        cursor: pointer;
        width: 100%;
    }

    input::file-selector-button {
        padding: 0 0.4em;
        font-size: .8rem;
        border: thin solid grey;
        border-radius: 3px;
    }
    .accordion-button:not(.collapsed) {
        background-color: #4b729961!important;
    }
</style>
{% endblock %}

{% block content %}

<div class="container" id="formSection">
    <div class="row">
        <div class="col-md-1"></div>
        
        <div class="col-md-10 py-5">
            <!-- For validation -->
            <form action="{% url 'Account:DriverPreStartSave' tripId=tripObj.id %}" method="post" id="preStartForm" onsubmit="return validateForm()" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#driverRelated" aria-expanded="true" aria-controls="driverRelated">
                            Driver Releted 
                        </button>
                      </h2>
                      <div id="driverRelated" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            {% for question in preStartQuestions %}
                                {% if question.questionType == "Driver related" %}
                                    <div class="mcq-card">
                                        <p>{{question.questionText}}</p>
                                        <div class="row">
                                            <div class="col-md-6 col-12">
                                                <ul class="mcq-list p-0">
                                                    {% if question.optionTxt1 is not None %}
                                                    <li class="mcq-li" >
                                                        <input type="radio" value="{{ question.optionTxt1 }}" id="q{{question.id}}o1" name="selector{{question.id}}" onclick="checkRequired(optionNumber=1, questionNumber={{forloop.counter}}, questionId={{question.id}})" class="required-field">
                                                        <label for="q{{question.id}}o1">{{question.optionTxt1}}</label>
                                                    </li>
                                                    {% endif %}
                                                    {% if question.optionTxt2 is not None %}
                                                    <li class="mcq-li">
                                                        <input type="radio" value="{{ question.optionTxt2 }}" id="q{{question.id}}o2" name="selector{{question.id}}" onclick="checkRequired(optionNumber=2, questionNumber={{forloop.counter}}, questionId={{question.id}})" class="required-field">
                                                        <label for="q{{question.id}}o2">{{question.optionTxt2}}</label>
                                                    </li>
                                                    {% endif %}
                                                    {% if question.optionTxt3 is not None %}
                                                    <li class="mcq-li">
                                                        <input type="radio" value="{{ question.optionTxt3 }}" id="q{{question.id}}o3" name="selector{{question.id}}" onclick="checkRequired(optionNumber=3, questionNumber={{forloop.counter}}, questionId={{question.id}})" class="required-field">
                                                        <label for="q{{question.id}}o3">{{question.optionTxt3}}</label>
                                                    </li>
                                                    {% endif %}
                                                    {% if question.optionTxt4 is not None %}
                                                    <li class="mcq-li">
                                                        <input type="radio" value="{{ question.optionTxt4 }}" id="q{{question.id}}o4" name="selector{{question.id}}" onclick="checkRequired(optionNumber=4, questionNumber={{forloop.counter}}, questionId={{question.id}})" class="required-field">
                                                        <label for="q{{question.id}}o4">{{question.optionTxt4}}</label>
                                                    </li>
                                                    {% endif %}
                                                </ul>
                                            </div>
                                            <div class="col-md-6 col-12" id="requiredSection{{question.id}}">
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#vehicleRelated" aria-expanded="false" aria-controls="vehicleRelated">
                            Vehicle Releted
                        </button>
                      </h2>
                      <div id="vehicleRelated" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            {% for question in preStartQuestions %}
                                {% if question.questionType == "Vehicle related" %}
                                    <div class="mcq-card">
                                        <p>{{question.questionText}}</p>
                                        <div class="row">
                                            <div class="col-md-6 col-12">
                                                <ul class="mcq-list p-0">
                                                    {% if question.optionTxt1 is not None %}
                                                    <li class="mcq-li">
                                                        <input type="radio" value="{{ question.optionTxt1 }}" id="q{{question.id}}o1" name="selector{{question.id}}" onclick="checkRequired(optionNumber=1, questionNumber={{forloop.counter}}, questionId={{question.id}})" class="required-field">
                                                        <label for="q{{question.id}}o1">{{question.optionTxt1}}</label>
                                                    </li>
                                                    {% endif %}
                                                    {% if question.optionTxt2 is not None %}
                                                    <li class="mcq-li">
                                                        <input type="radio" value="{{ question.optionTxt2 }}" id="q{{question.id}}o2" name="selector{{question.id}}" onclick="checkRequired(optionNumber=2, questionNumber={{forloop.counter}}, questionId={{question.id}})" class="required-field">
                                                        <label for="q{{question.id}}o2">{{question.optionTxt2}}</label>
                                                    </li>
                                                    {% endif %}
                                                    {% if question.optionTxt3 is not None %}
                                                    <li class="mcq-li">
                                                        <input type="radio" value="{{ question.optionTxt3 }}" id="q{{question.id}}o3" name="selector{{question.id}}" onclick="checkRequired(optionNumber=3, questionNumber={{forloop.counter}}, questionId={{question.id}})" class="required-field">
                                                        <label for="q{{question.id}}o3">{{question.optionTxt3}}</label>
                                                    </li>
                                                    {% endif %}
                                                    {% if question.optionTxt4 is not None %}
                                                    <li class="mcq-li">
                                                        <input type="radio" value="{{ question.optionTxt4 }}" id="q{{question.id}}o4" name="selector{{question.id}}" onclick="checkRequired(optionNumber=4, questionNumber={{forloop.counter}}, questionId={{question.id}})" class="required-field">
                                                        <label for="q{{question.id}}o4">{{question.optionTxt4}}</label>
                                                    </li>
                                                    {% endif %}
                                                </ul>
                                            </div>
                                            <div class="col-md-6 col-12" id="requiredSection{{question.id}}">
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#other" aria-expanded="false" aria-controls="other">
                          Others
                        </button>
                      </h2>
                      <div id="other" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                           
                            {% for question in preStartQuestions %}
                                {% if question.questionType == "Other" %}
                                    <div class="mcq-card">
                                        <p>{{question.questionText}}</p>
                                        <div class="row">
                                            <div class="col-md-6 col-12">
                                                <ul class="mcq-list p-0">
                                                    {% if question.optionTxt1 is not None %}
                                                    <li class="mcq-li">
                                                        <input type="radio" value="{{ question.optionTxt1 }}" id="q{{question.id}}o1" name="selector{{question.id}}" onclick="checkRequired(optionNumber=1, questionNumber={{forloop.counter}}, questionId={{question.id}})" class="required-field">
                                                        <label for="q{{question.id}}o1">{{question.optionTxt1}}</label>
                                                    </li>
                                                    {% endif %}
                                                    {% if question.optionTxt2 is not None %}
                                                    <li class="mcq-li">
                                                        <input type="radio" value="{{ question.optionTxt2 }}" id="q{{question.id}}o2" name="selector{{question.id}}" onclick="checkRequired(optionNumber=2, questionNumber={{forloop.counter}}, questionId={{question.id}})" class="required-field">
                                                        <label for="q{{question.id}}o2">{{question.optionTxt2}}</label>
                                                    </li>
                                                    {% endif %}
                                                    {% if question.optionTxt3 is not None %}
                                                    <li class="mcq-li">
                                                        <input type="radio" value="{{ question.optionTxt3 }}" id="q{{question.id}}o3" name="selector{{question.id}}" onclick="checkRequired(optionNumber=3, questionNumber={{forloop.counter}}, questionId={{question.id}})" class="required-field">
                                                        <label for="q{{question.id}}o3">{{question.optionTxt3}}</label>
                                                    </li>
                                                    {% endif %}
                                                    {% if question.optionTxt4 is not None %}
                                                    <li class="mcq-li">
                                                        <input type="radio" value="{{ question.optionTxt4 }}" id="q{{question.id}}o4" name="selector{{question.id}}" onclick="checkRequired(optionNumber=4, questionNumber={{forloop.counter}}, questionId={{question.id}})" class="required-field">
                                                        <label for="q{{question.id}}o4">{{question.optionTxt4}}</label>
                                                    </li>
                                                    {% endif %}
                                                </ul>
                                            </div>
                                            <div class="col-md-6 col-12" id="requiredSection{{question.id}}">
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                      </div>
                    </div>
                </div>
                <textarea name="comment" id="comment" rows="3" class="form-control my-2" placeholder="Additional comment"></textarea>
                <button type="submit" class="btn btn-default float-end float-right">Submit</button>
            </form>
        </div>
        <div class="col-md-1"></div>

    </div>
</div>

{% endblock %}
{% block footerStyleEnd %}
<script>

    function openTabs(dataElement){
        $('.accordion-collapse').removeClass('show')
        $('.accordion-button').addClass('collapsed')
        $(dataElement).parents('.accordion-collapse').addClass('show').parent().find('.accordion-button').removeClass('collapsed')
    }

    function validateForm(){
        var isValid = true;
        if(isValid){
            $('.required-field').each(function() {
                if ($(this).is(':radio')) {
                    console.log(this)
                    var name = $(this).attr('name');
                    if ($('input[name=' + name + ']:checked').length == 0) {
                        isValid = false;
                        alert('Please answer all questions.');
                        openTabs(this);
                        return false; 
                    }
                } else if ($(this).val().trim() === '') {
                    isValid = false;
                    let tagName = $(this).prop('tagName').toLowerCase()
                    if(tagName == 'textarea'){
                        alert('Please add the required comment.');
                    }else{
                        alert('Please answer all questions.');
                    }
                    openTabs(this);
                    return false; 
                }
            });
        }
        
        if(isValid){
            $('input[type="file"]').each(function() {
                if ($(this).val() === '') {
                    isValid = false;
                    alert('Please upload the required file.');
                    openTabs(this);
                    return false; 
                }
            });
        }
        return isValid;
    }

    
    function checkRequired(optionNumber, questionNumber, questionId){
        $.ajax({
            url: "/account/checkQuestion/requirement/",
            data: {
                questionId: questionId,
                optionNumber:optionNumber
            },
            success: function (data) {
                $(`#requiredSection${questionId}`).empty()
                if(data.status){
                    let elementText = ''
                    elementText = `<input type="file" name="f${questionId}o${optionNumber}" id="f${questionId}o${optionNumber}">`
                    elementText += ` <textarea name="c${questionId}o${optionNumber}" id="c${questionId}o${optionNumber}" class="form-control mt-2 required-field" placeholder="Add comment" rows="2"></textarea>`
                    $(`#requiredSection${questionId}`).append(elementText)
                }
            },
        });        
    }

    
</script>
{% endblock %}