{% extends "Trip_details/main/main.html" %}
{% load static %}
{% block title %}Time of request{% endblock title %}

{% block headStyle %}
<style>
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
        z-index: 9999; /* Ensure it's on top of everything */
        display: none; /* Initially hidden */
    }
    #formSection .mcq-card {
        padding: 1rem;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }

    #formSection ul li {
        list-style: none;
        padding: 0.4rem 0.6rem;
        background-color: #bbc9d8;
        margin: 2px 0;
        display: flex;
        column-gap: 0.5em;
        border-radius:0.3em;
    }
    #formSection ul li label{
        cursor: pointer;
        width: 100%;
    }

    input::file-selector-button {
        padding: 0 0.4em;
        font-size: .8rem;
        border: thin solid grey;
        border-radius: 3px;
    }
    .accordion-button:not(.collapsed) {
        background-color: #4b729961!important;
    }
    #formSection table tr.customTr{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 0.2em;
        width: 100%!important;
    }
    #formSection table tr.customTr td{
        padding: 0.5em 0!important;
    }
    #formSection td{
        border:0;
    }

    label{
        cursor:pointer;
    }
    @media screen and (max-width: 720px) {
        #formSection strong.questionText,
        #formSection label{
          font-size: 0.95rem;
        }
      }
</style>
{% endblock %}

{% block content %}

<div class="container" id="formSection">
    <div class="row">
        <div class="col-md-1"></div>

        <div class="col-md-10 py-2 px-0">
            <!-- For validation -->
            <form action="#" method="post" id="preStartForm" onsubmit="return validateForm()" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card border-0">
                    <div class="card-body">
                        <h5>Pre-start </h5>
                        <hr>
                        <div id="driverQues">
                            {% comment %} Driver Related {% endcomment %}
                            <input type="hidden" name="dateTime" id="dateTime">

                            {% for question in preStartQuestions %}
                                {% if question.questionType == "Driver related" %}
                                    <div class="bg-light mb-3 px-3 py-1">
                                        <div class="row d-flex flex-wrap">
                                            <div class="mb-2" style="width: 60%; min-width: 15em;">
                                                <strong class="questionText">{{ question.questionText }}</strong>
                                            </div>
                                            <div class="d-flex align-items-center" style="width: 40%;">
                                                {% if question.optionTxt1 is not None %}
                                                    <div class="form-check form-check-inline">
                                                        <input type="radio" value="{{ question.optionTxt1 }}" id="q{{question.id}}o1" name="selector{{question.id}}" onclick="checkRequired(optionNumber=1, questionNumber={{forloop.counter}}, questionId={{question.id}})" class="required-field form-check-input">
                                                        <label for="q{{question.id}}o1" class="form-check-label">{{ question.optionTxt1 }}</label>
                                                    </div>
                                                {% endif %}
    
                                                {% if question.optionTxt2 is not None %}
                                                    <div class="form-check form-check-inline">
                                                        <input type="radio" value="{{ question.optionTxt2 }}" id="q{{question.id}}o2" name="selector{{question.id}}" onclick="checkRequired(optionNumber=2, questionNumber={{forloop.counter}}, questionId={{question.id}})" class="required-field form-check-input">
                                                        <label for="q{{question.id}}o2" class="form-check-label">{{ question.optionTxt2 }}</label>
                                                    </div>
                                                {% endif %}
    
                                                {% if question.optionTxt3 is not None %}
                                                    <div class="form-check form-check-inline">
                                                        <input type="radio" value="{{ question.optionTxt3 }}" id="q{{question.id}}o3" name="selector{{question.id}}" onclick="checkRequired(optionNumber=3, questionNumber={{forloop.counter}}, questionId={{question.id}})" class="required-field form-check-input">
                                                        <label for="q{{question.id}}o3" class="form-check-label">{{ question.optionTxt3 }}</label>
                                                    </div>
                                                {% endif %}
    
                                                {% if question.optionTxt4 is not None %}
                                                    <div class="form-check form-check-inline">
                                                        <input type="radio" value="{{ question.optionTxt4 }}" id="q{{question.id}}o4" name="selector{{question.id}}" onclick="checkRequired(optionNumber=4, questionNumber={{forloop.counter}}, questionId={{question.id}})" class="required-field form-check-input">
                                                        <label for="q{{question.id}}o4" class="form-check-label">{{ question.optionTxt4 }}</label>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row" id="requiredSection{{question.id}}">
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>

                        <div id="otherQues" class="d-none">
                            {% comment %} Other {% endcomment %}
                            {% for question in preStartQuestions %}
                                {% if question.questionType != "Driver related" %}
                                    <div class="bg-light mb-3 px-3 py-1">
                                        <div class="row d-flex flex-wrap">
                                            <div class="mb-2" style="width: 60%; min-width: 15em;">
                                                <strong class="questionText">{{ question.questionText }}</strong>
                                            </div>
                                            <div class="d-flex align-items-center" style="width: 40%;">
                                                {% if question.optionTxt1 is not None %}
                                                    <div class="form-check form-check-inline">
                                                        <input type="radio" value="{{ question.optionTxt1 }}" id="q{{question.id}}o1" name="selector{{question.id}}" onclick="checkRequired(optionNumber=1, questionNumber={{forloop.counter}}, questionId={{question.id}})" class="required-field form-check-input">
                                                        <label for="q{{question.id}}o1" class="form-check-label">{{ question.optionTxt1 }}</label>
                                                    </div>
                                                {% endif %}
    
                                                {% if question.optionTxt2 is not None %}
                                                    <div class="form-check form-check-inline">
                                                        <input type="radio" value="{{ question.optionTxt2 }}" id="q{{question.id}}o2" name="selector{{question.id}}" onclick="checkRequired(optionNumber=2, questionNumber={{forloop.counter}}, questionId={{question.id}})" class="required-field form-check-input">
                                                        <label for="q{{question.id}}o2" class="form-check-label">{{ question.optionTxt2 }}</label>
                                                    </div>
                                                {% endif %}
    
                                                {% if question.optionTxt3 is not None %}
                                                    <div class="form-check form-check-inline">
                                                        <input type="radio" value="{{ question.optionTxt3 }}" id="q{{question.id}}o3" name="selector{{question.id}}" onclick="checkRequired(optionNumber=3, questionNumber={{forloop.counter}}, questionId={{question.id}})" class="required-field form-check-input">
                                                        <label for="q{{question.id}}o3" class="form-check-label">{{ question.optionTxt3 }}</label>
                                                    </div>
                                                {% endif %}
    
                                                {% if question.optionTxt4 is not None %}
                                                    <div class="form-check form-check-inline">
                                                        <input type="radio" value="{{ question.optionTxt4 }}" id="q{{question.id}}o4" name="selector{{question.id}}" onclick="checkRequired(optionNumber=4, questionNumber={{forloop.counter}}, questionId={{question.id}})" class="required-field form-check-input">
                                                        <label for="q{{question.id}}o4" class="form-check-label">{{ question.optionTxt4 }}</label>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row" id="requiredSection{{question.id}}">
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>

                        <textarea name="comment" id="comment" rows="3" class="form-control my-2" placeholder="Additional comment"></textarea>
                        <span id="validateBtn" class="btn btn-sm btn-outline-dark float-end" onclick="checkDriverValidate()">Validate</span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="errorModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <p class="mb-0">Please fill the all required questions.</p>
        </div>
      </div>
    </div>
</div>

<div class="position-fixed d-none" style="top:49%; left:45%" id="submitSpinner">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="overlay" id="overlay"></div>

{% endblock %}

{% block footerStyleEnd %}
<script>

    function checkDriverValidate(){
        let isValid = true
        let url = "{% url 'Account:DriverPreStartSave' tripId=tripObj.id %}"
        $('#driverQues .required-field').each(function() {
            if ($(this).is(':radio')) {
                var name = $(this).attr('name');
                if ($('input[name=' + name + ']:checked').length == 0) {
                    isValid = false;
                    // $('#errorModal p').html('Please answer all questions.')
                    // $('#errorModal').modal('show')
                    alert('Please answer all questions.');
                    openTabs(this);
                    return false; 
                }
            } else if ($(this).val().trim() === '') {
                isValid = false;
                let tagName = $(this).prop('tagName').toLowerCase()
                if(tagName == 'textarea'){
                    // $('#errorModal p').html('Please add the required comment.')
                    // $('#errorModal').modal('show')
                    alert('Please add the required comment.');
                }else{
                    // $('#errorModal p').html('Please answer all questions.')
                    // $('#errorModal').modal('show')
                    alert('Please answer all questions.');
                }
                openTabs(this);
                return false; 
            }
        });
        if(isValid){
            if($('#driverQues textarea').length > 0){
                if(confirm('It appears you might not have the necessary authorization. Please reach out to our management team for further assistance.') == true){
                    $("#validateBtn").remove()
                    $("#preStartForm .card-body").append('<span id="endShiftBtn" class="btn btn-sm btn-outline-danger float-end" onclick="endShiftFun()">End shift</span>')
                }                
            }else{
                $('#otherQues').removeClass('d-none')
                $('#driverQues').addClass('d-none')
                $('#endShiftBtn').remove()
                $("#validateBtn").remove()
                $("#preStartForm .card-body").append('<button type="submit" class="btn btn-sm btn-default float-end">Submit</button>')
                $('#preStartForm').attr('action', url)
            }
        }
    }

    function endShiftFun(){
        if(confirm('Are you sure you want to complete this shift?') == true){
            setDateTime("dateTime");  
            $('#preStartForm').attr('action',"{% url 'Account:DriverPreStartSaveWithEndShift' tripId=tripObj.id endShift=1 %}").removeAttr('onsubmit').submit()

        }else{
            $('#endShiftBtn').remove()
            $("#preStartForm .card-body").append('<span id="validateBtn" class="btn btn-sm btn-outline-dark float-end" onclick="checkDriverValidate()">Validate</span>')
        }
    }

    function openTabs(dataElement){
        $('.accordion-collapse').removeClass('show')
        $('.accordion-button').addClass('collapsed')
        $(dataElement).parents('.accordion-collapse').addClass('show').parent().find('.accordion-button').removeClass('collapsed')
    }

    function validateForm(){
        setDateTime("dateTime");            
        var isValid = true;
        if(isValid){
            $('.required-field').each(function() {
                if ($(this).is(':radio')) {
                    console.log(this)
                    var name = $(this).attr('name');
                    if ($('input[name=' + name + ']:checked').length == 0) {
                        isValid = false;
                        // $('#errorModal p').html('Please answer all questions.')
                        // $('#errorModal').modal('show')
                        alert('Please answer all questions.');
                        openTabs(this);
                        return false; 
                    }
                } else if ($(this).val().trim() === '') {
                    isValid = false;
                    let tagName = $(this).prop('tagName').toLowerCase()
                    if(tagName == 'textarea'){
                        // $('#errorModal p').html('Please add the required comment.')
                        // $('#errorModal').modal('show')
                        alert('Please add the required comment.');
                    }else{
                        // $('#errorModal p').html('Please answer all questions.')
                        // $('#errorModal').modal('show')
                        alert('Please answer all questions.');
                    }
                    openTabs(this);
                    return false; 
                }
            });
        }
        
        if(isValid){
            $('input[type="file"]').each(function() {
                if ($(this).val() === '') {
                    isValid = false;
                    // $('#errorModal p').html('Please upload the required file.')
                    // $('#errorModal').modal('show')
                    alert('Please upload the required file.');
                    openTabs(this);
                    return false; 
                }
            });
        }

        if(isValid){
            $('#submitSpinner').removeClass('d-none')
            $('#overlay').css('display', 'block')
        }
        return isValid;
    }
    
    function checkRequired(optionNumber, questionNumber, questionId){
        $.ajax({
            url: "/account/checkQuestion/requirement/",
            data: {
                questionId: questionId,
                optionNumber:optionNumber
            },
            success: function (data) {
                $(`#requiredSection${questionId}`).empty()
                if(data.status){
                    let elementText = ''
                    if(data.queType != "Driver related"){
                        elementText += `<div class="col-md-4 col-lg-3 col-sm-6 d-flex align-items-center p-0">`
                        elementText += `<input type="file" name="f${questionId}o${optionNumber}" id="f${questionId}o${optionNumber}">`
                        elementText += `</div>`
                        elementText += `<div class="col-md-8 col-lg-9 col-sm-6 p-0">`
                    }else{
                        elementText += `<div class="col-12 p-0">`
                    }
                    elementText += `<textarea name="c${questionId}o${optionNumber}" id="c${questionId}o${optionNumber}" class="form-control mt-2 required-field w-100" placeholder="Add comment" rows="1"></textarea>`
                    elementText += `</div>`
                    $(`#requiredSection${questionId}`).append(elementText).addClass('p-2');
                }
            },
        });        
    }

</script>
{% endblock %}