{% extends "main/main.html" %}
{% load static %}
{% block title %} | {% if not data %}Add Job {% else %} View Job{% endif %} {% endblock %}

{% block headStyle %}
<style>
    .isInvalid{
        border: 1px solid #CE5454;
    }
    label, select{
        cursor: pointer;
    }
    label{
        margin-bottom: 0.2rem!important;
    }
</style>
{% endblock %}

{% block content %}
<!-- page content -->
<div class="right_col" role="main">
    <div class="clearfix"></div>
    <form action='{% if not data %}{% url "Appointment:appointmentFormSave" %}{% else %}{% url "Appointment:appointmentFormUpdateSave" id=data.id %}{% endif %}' method="POST" novalidate enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-9 col-sm-9">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>{% if not data %}Add Job {% else %} View Job{% endif %}</h2>
                        <div class="form-check form-check-inline float-right">
                            <div class="field item form-group m-0">
                                <select name="repeats" class="form-select form-control" id="repeats" required {% if data %}disabled{% endif %} style="font-size: 0.9rem;">
                                    <option value="NoRecurring" {% if data.recurringType == "NoRecurring" %}selected{% endif %}>Non-Recurring</option>
                                    <option value="Daily" {% if data.recurringType == "Daily" %}selected{% endif %}>Daily</option>
                                    <option value="Custom" {% if data.recurringType == "Custom" %}selected{% endif %}>Custom</option>
                                    <!-- <option value="weekly" {% if data.repeats == "weekly" %}selected{% endif %}>Weekly</option> -->
                                </select>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="custom-continer">
                            <div class="row">
                                <div class="col-md-4 col-sm-4">
                                    <label for="startTime">Start time:<span class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control"  type="time" name="startTime" {% if data %}readonly{% endif %} value="{% if data %}{{data.startTime}}{% endif %}" required='required' style="padding: 0.25rem 0.2rem;" id="startTime">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <label for="endTime">End time:<span class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control"  type="time" name="endTime" {% if data %}readonly{% endif %} value="{% if data %}{{data.endTime}}{% endif %}" required='required' style="padding: 0.25rem 0.2rem;" id="endTime">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <label for="reportingTime">Reporting time:<span class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control"  type="time" name="reportingTime" {% if data %}readonly{% endif %} value="{% if data %}{{data.reportingTime}}{% endif %}" required='required' style="padding: 0.25rem 0.2rem;" id="reportingTime">
                                    </div>
                                </div>
                            </div>
                            <div class="row noRecurring">
                                <div class="col-md-4 col-sm-4">
                                    <label for="shiftDate">Shift date:<span class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control"  type="date" name="shiftDate" min="{{curDate}}" {% if data %}readonly{% endif %} value="{% if data %}{{data.startDate}}{% endif %}" required='required' style="padding: 0.25rem 0.2rem;" id="shiftDate">
                                    </div>
                                </div>
                            </div>
                            <div class="row dailyRecurring">
                                <div class="col-md-4 col-sm-4">
                                    <label for="startDate">Start date:<span class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control"  type="date" name="startDate" {% if data %}readonly{% endif %} value="{% if data %}{{data.startDate}}{% endif %}" required='required' style="padding: 0.25rem 0.2rem;" id="startDate">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <label for="endDate">End date:<span class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control"  type="date" name="endDate" {% if data %}readonly{% endif %} value="{% if data %}{{data.endDate}}{% endif %}" required='required' style="padding: 0.25rem 0.2rem;" id="endDate">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 mb-2 mt-3 days">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" {% if data %}disabled{% endif %} {% if data.sunday %} checked {% endif %} type="checkbox" id="sunday" name="sunday" value="sunday">
                                        <label class="form-check-label" for="sunday">Sun</label>
                                    </div> 
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" {% if data %}disabled{% endif %} {% if data.monday %} checked {% endif %} type="checkbox" id="monday" name="monday" value="monday">
                                        <label class="form-check-label" for="monday">Mon</label>
                                    </div> 
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" {% if data %}disabled{% endif %} {% if data.tuesday %} checked {% endif %} type="checkbox" id="tuesday" name="tuesday" value="tuesday">
                                        <label class="form-check-label" for="tuesday">Tues</label>
                                    </div> 
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" {% if data %}disabled{% endif %} {% if data.wednesday %} checked {% endif %} type="checkbox" id="wednesday" name="wednesday" value="wednesday">
                                        <label class="form-check-label" for="wednesday">Wed</label>
                                    </div> 
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" {% if data %}disabled{% endif %} {% if data.thursday %} checked {% endif %} type="checkbox" id="thursday" name="thursday" value="thursday">
                                        <label class="form-check-label" for="thursday">Thurs</label>
                                    </div> 
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" {% if data %}disabled{% endif %} {% if data.friday %} checked {% endif %} type="checkbox" id="friday" name="friday" value="friday">
                                        <label class="form-check-label" for="friday">Fri</label>
                                    </div> 
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" {% if data %}disabled{% endif %} {% if data.saturday %} checked {% endif %} type="checkbox" id="saturday" name="saturday" value="saturday">
                                        <label class="form-check-label" for="saturday">Sat</label>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="x_panel">
                    <div class="x_content">
                        <div class="custom-continer">
                            <div class="row">
                                <div class="col-md-4 col-sm-4">
                                    <label for="title">Title :<span class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control" value="{% if data %}{{ data.title }}{% endif %}" type="text" name="title" {% if data %}readonly{% endif %}
                                            required='required' style="padding: 0.25rem 0.2rem;" id="title">
                                    </div>
                                </div>
                                
                                <div class="col-md-4 col-sm-4">
                                    <label for="stopName">Client name :<span class="required">*</span></label>
                                    <div class="field item form-group">
                                        <select name="stopName" required class="form-select form-control text-capitalize" id="stopName"  {% if data %}disabled{% endif %} >
                                            {% for client in clients %}
                                            <option class="text-capitalize" value="{{client.clientId}}" {% if data.stop.clientId == client.clientId %}selected{% endif %}>{{client.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <label for="driverName">Select Driver:</label>
                                    <span class="float-right">
                                        <input type="checkbox" name="addDriver" {% if data %} disabled {% endif %} id="addDriver" style="cursor: pointer;" onchange="openBox(this,'driverName')" {% if appointmentDriver %}checked{% endif %} title="Check for add driver">
                                    </span>
                                    <select name="driverName" class="form-select form-control" id="driverName"  {% if not data  %} disabled {% endif %} style="font-size: 0.9rem;">
                                        <!-- Drivers will be placed here -->
                                        <option selected disabled>Select Driver</option>
                                        {% for driver in drivers %}
                                            <option class="text-capitalize" value="{{driver.driverId}}" {% if appointmentDriver.driverName.driverId == driver.driverId %}selected{% endif %}>{{driver.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="col-md-6 col-6">
                                    <label for="staffNotes">Staff notes :</label>
                                    <div class="field item form-group">
                                        <textarea name="staffNotes" id="staffNotes" rows="2" class="form-control" {% if data %}readonly{% endif %}>{% if data %}{{ data.staffNotes }}{% endif %}</textarea>
                                    </div>
                                </div>

                                <div class="col-md-6 col-6">
                                    <label for="driverNotes">Driver notes :</label>
                                    <div class="field item form-group">
                                        <textarea name="driverNotes" id="driverNotes" rows="2" class="form-control" {% if data %}readonly{% endif %}>{% if data %}{{ data.driverNotes }}{% endif %}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="x_panel">
                    <div class="x_content">
                        <div class="custom-continer">
                            <div class="row">
                                <div class="col-md-4 col-sm-4">
                                    <label for="truckNo">Select Truck:</label>
                                    <span class="float-right">
                                        <input type="checkbox" name="addTruck" id="addTruck" {% if data %} disabled {% endif %} style="cursor: pointer;" {% if appointmentTruck %}checked{% endif %} title="Check for add truck">
                                    </span>
                                    <select name="truckNo" class="form-select form-control" id="truckNo" {% if not data %} disabled {% endif %} style="font-size: 0.9rem;">
                                        <!-- Trucks will be placed here -->
                                        <option selected disabled>Select Truck</option>
                                        {% for truck in trucks %}
                                            <option class="text-capitalize" {% if appointmentTruck.truckNo.id == truck.id %}selected{% endif %} value="{{truck.id}}">{{truck.adminTruckNumber}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <label for="origin">origin :</label>
                                    <div class="field item form-group">
                                        <select name="origin" class="form-select form-control text-capitalize" id="origin" {% if not data %} disabled {% endif %}>
                                            <option selected disabled>Select origin</option>
                                            {% for origin in origins %}
                                                <option class="text-capitalize text-lowercase" {% if data.origin.basePlant == origin.basePlant %}selected{% endif %} value="{{origin.id}}">{{ origin.basePlant }} - {{ origin.address }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="x_panel pb-1">
                    <div class="x_title mb-0">
                        <h2>origin details</h2> 
                        <div class="float-right d-none" id="locationDiv">
                            <input type="checkbox" id="typeLocation" value="typeLocation" name="basePlantType"style="margin-top: .5rem;" {% if basePlant.basePlantType is False %} checked {% endif %}>
                            <label for="typeLocation">Location</label>
                        </div>
                        <div class="clearfix"></div>
                        <input type="hidden" id="originAddVal" name="originAddVal">
                    </div>
                    <div class="row">
                        <div class="col-12 m-0 mb-1 text-right">
                            <span class="text-info" style="font-size: 0.65rem;">Default stop will be selected origin.</span>
                        </div>
                        <div class="col-md-12">
                            <label for="originAddress">Address : <span class="required">*</span></label>
                            <div class="field item form-group">
                                <textarea name="originAddress" id="originAddress" rows="2" class="form-control" style="padding: 0.25rem 0.2rem;" readonly>
                                    {% if appointmentStop %}{{appointmentStop.stopName.address}}{% elif data %}{{ data.origin.address }}{% endif %}
                                </textarea>
                                <!-- <input class="form-control" type="text" name="originAddress" readonly
                                    style="padding: 0.25rem 0.2rem;" id="originAddress"  value="{% if appointmentStop %}{{appointmentStop.stopName.address}}{% elif data %}{{ data.origin.address }}{% endif %}"> -->
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label for="originPhone">Phone :<span class="required">*</span></label>
                            <div class="field item form-group">
                                <input class="form-control" type="number" name="originPhone" readonly
                                    style="padding: 0.25rem 0.2rem;" id="originPhone" value="{% if appointmentStop %}{{appointmentStop.stopName.phone}}{% elif data %}{{ data.origin.phone }}{% endif %}">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label for="originPersonOnName">Person Name :<span class="required">*</span></label>
                            <div class="field item form-group">
                                <input class="form-control" type="text" name="originPersonOnName" readonly
                                    style="padding: 0.25rem 0.2rem;" id="originPersonOnName" value="{% if appointmentStop %}{{appointmentStop.stopName.personOnName}}{% elif data %}{{ data.origin.personOnName }}{% endif %}">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label for="originLatitude">Latitude: <span class="required">*</span></label>
                            <div class="field item form-group">
                                <input class="form-control" type="number" name="originLatitude" readonly
                                    style="padding: 0.25rem 0.2rem;" id="originLatitude" value="{% if appointmentStop %}{{appointmentStop.stopName.lat}}{% elif data %}{{ data.origin.lat }}{% endif %}">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label for="originLongitude">Longitude: <span class="required">*</span></label>
                            <div class="field item form-group">
                                <input class="form-control" type="number" name="originLongitude" readonly
                                    style="padding: 0.25rem 0.2rem;" id="originLongitude" value="{% if appointmentStop %}{{appointmentStop.stopName.long}}{% elif data %}{{ data.origin.long }}{% endif %}">
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="x_panel stopDiv p-2 {% if not data %} d-none {% endif %}">
                    <div class="row">
                        <div class="col-12">
                            <label for="appStop">Select Stop :</label>
                            <div class="field item form-group">
                                <select name="appStop" class="form-select form-control text-capitalize" id="appStop" {% if not data %} disabled {% endif %}>
                                    <option selected disabled>Select Stop</option>
                                    {% for origin in origins %}
                                        <option class="text-capitalize text-lowercase" {% if appointmentStop.stopName.basePlant == origin.basePlant %}selected{% endif %} value="{{origin.id}}">{{ origin.basePlant }} - {{ origin.address }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if not data or update == 1 %}
                <div class="col-md-12 text-right py-2 position-sticky px-0" style ="bottom:3%;">
                    <button type='submit' style="margin: 0px;" class="btn btn-sm btn-default px-3">Save</button>
                </div>
            {% endif %}
        </div>
    </form>
</div>
<!-- /page content -->
{% endblock %}


{% block footerStyle %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{% static 'Dashboard/vendors/validator/multifield.js' %}"></script>
<script src="{% static 'Dashboard/vendors/validator/validator.js' %}"></script>

<script src="{% static 'js/addAppointment.js' %}"></script>


{% endblock %}
