{% extends "main/main.html" %} 
{% load static %} 
{% block title %} | Pre-start form{% endblock %}

{% block headStyle %}

{% endblock %}

{% block content %}
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <!-- Question No Swap Model  -->
        <div class="modal fade" id="editQuetModel" tabindex="-1" role="dialog" aria-labelledby="editQuetModelLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="editQuetModelLabel">Swap Question Number </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <form action="{% url 'Appointment:swapQueNoSave' %}" method="POST">
                    {% csrf_token %}
                    <div class="modal-body">
                            <div class="modal-body">
                                <label for="questionNo">Swap Question Number :<span class="required">*</span></label>
                                <div class="field item form-group">
                                <input class="form-control" type="number" min="1" max="{{maximum}}" name="questionNo" required='required' style="padding: 0.25rem 0.2rem;"
                                    id="questionNo">
                                <input class="form-control" type="text" readonly hidden name="preStartId" value={{data.id}} required='required' style="padding: 0.25rem 0.2rem;"
                                    id="preStartId">
                                <input class="form-control" type="text" readonly hidden name="preQueId"  required='required' style="padding: 0.25rem 0.2rem;"
                                    id="preQueId">
                                </div>
                            </div>
                    </div>
                    <div class="modal-footer">
                    <button type="submit" class="btn btn-default btn-sm">Save</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
        <form action="{% if data and edit %}{% url 'Appointment:preStartEditSave' id=data.id %}{% else %}{% url 'Appointment:preStartSave' %}{% endif %}" method="POST" id="preStartForm">
            {% csrf_token %}
            <input type="hidden" name="dateTime" id="dateTime">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>{% if data %}Edit{% else %}Add{% endif %} Pre-start</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label for="preStartName" class="label-align">Pre-start name:<span class="required">*</span></label>
                                            <input class="form-control" name="preStartName" required="required" id="preStartName" type="text" value="{% if data %}{{data.preStartName}}{% endif %}" {% if data and not edit%}readonly{% endif %} />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="queCount" class="label-align">Question count:<span class="required">*</span></label>
                                            {% if not questions %}
                                            <span class="form-check-label float-right text-primary" id="addQuestions" style="cursor:pointer;">Add questions +</span>
                                            {% elif edit %}
                                            <a href="{% url 'Appointment:questionAddView' id=data.id %}" target="_blank" class="form-check-label float-right text-primary" style="cursor:pointer;">Add questions +</a>
                                            {% endif %}
                                            <input class="form-control" name="queCount" required="required" id="queCount" type="number" autocomplete="off" value="{{queLen}}" {% if data %}readonly{% endif %}/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="questionsContainer">
                {% for question in questions %}
                    <div class="x_panel mt-2">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="q{{question.id}}txt" class="label-align">Question {{question.questionNo}}:<span class="required">*</span></label>
                                        {% if  edit %}
                                        <a href="#"  onclick="questionNoFun({{question.questionNo}},{{question.id}})" class="text-primary " data-toggle="modal" data-target="#editQuetModel">Swap Question Number</a>
                                        {% endif %}
                                        <input class="form-control" name="q{{question.id}}txt" required="required" id="q{{question.id}}txt" value="{{question.questionText}}" type="text" {% if not edit %}readonly{% endif %}/>
                                    </div>
                                </div>
                                
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="q{{question.id}}type" class="label-align">Question Type:<span class="required">*</span></label>
                                        <select name="q{{question.id}}type" id="q{{question.id}}type" class="form-control" required="required" {% if not edit %}disabled{% endif %}>
                                            <option value="Driver related" {% if question.questionType == 'Driver related' %}selected{% endif %}>Driver related</option>
                                            <option value="Vehicle related" {% if question.questionType == 'Vehicle related' %}selected{% endif %}>Vehicle related</option>
                                            <option value="Other" {% if question.questionType == 'Other' %}selected{% endif %}>Other</option>                                                
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="q{{question.id}}o1" class="label-align">Option 1:<span class="required">*</span></label>
                                        <div class="form-check float-right">
                                            <input class="form-check-input" type="checkbox" value="q{{question.id}}o1wantFile" id="q{{question.id}}o1wantFile" name="wantFile{{question.id}}" {% if question.wantFile1 %}checked{% endif %} {% if not edit %}disabled{% endif %}>
                                            <label class="form-check-label {% if question.wantFile1 %}text-info{% endif %}" for="q{{question.id}}o1wantFile">
                                                Want file
                                            </label>
                                        </div>
                                        <input class="form-control" name="q{{question.id}}o1" required="required" id="q{{question.id}}o1" type="text" autocomplete="off" {% if not edit %}readonly{% endif %} value="{{question.optionTxt1}}"/>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="q{{question.id}}o2" class="label-align">Option 2:</label>
                                        <div class="form-check float-right">
                                            <input class="form-check-input" type="checkbox" value="q{{question.id}}o2wantFile" id="q{{question.id}}o2wantFile" name="wantFile{{question.id}}" {% if question.wantFile2 %}checked{% endif %} {% if not edit %}disabled{% endif %}>
                                            <label class="form-check-label {% if question.wantFile2 %}text-info{% endif %}" for="q{{question.id}}o2wantFile">
                                                Want file
                                            </label>
                                        </div>
                                        <input class="form-control" name="q{{question.id}}o2" id="q{{question.id}}o2" type="text" autocomplete="off" value="{% if question.optionTxt2 %}{{question.optionTxt2}}{% endif %}" {% if not edit %}readonly{% endif %} {% if question.optionTxt2 %}required{% endif %}/>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="q{{question.id}}o3" class="label-align">Option 3:</label>
                                        <div class="form-check float-right">
                                            <input class="form-check-input" type="checkbox" value="q{{question.id}}o3wantFile" id="q{{question.id}}o3wantFile" name="wantFile{{question.id}}" {% if question.wantFile3 %}checked{% endif %} {% if not edit %}disabled{% endif %}>

                                            <label class="form-check-label {% if question.wantFile3 %}text-info{% endif %}" for="q{{question.id}}o3wantFile">
                                                Want file
                                            </label>
                                        </div>
                                        <input class="form-control" name="q{{question.id}}o3" id="q{{question.id}}o3" type="text" autocomplete="off" value="{% if question.optionTxt3 %}{{question.optionTxt3}}{% endif %}" {% if not edit %}readonly{% endif %} {% if question.optionTxt3 %}required{% endif %}/>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="q{{question.id}}o4" class="label-align">Option 4:</label>
                                        <div class="form-check float-right">
                                            <input class="form-check-input" type="checkbox" value="q{{question.id}}o4wantFile" id="q{{question.id}}o4wantFile" name="wantFile{{question.id}}" {% if question.wantFile4 %}checked{% endif %} {% if not edit %}disabled{% endif %}>
                                            <label class="form-check-label {% if question.wantFile4 %}text-info{% endif %}" for="q{{question.id}}o4wantFile">
                                                Want file
                                            </label>
                                        </div>
                                        <input class="form-control" name="q{{question.id}}o4" id="q{{question.id}}o4" type="text" autocomplete="off" value="{% if question.optionTxt4 %}{{question.optionTxt4}}{% endif %}" {% if not edit %}readonly{% endif %} {% if question.optionTxt4 %}required{% endif %}/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <input type="{% if edit %}submit{% else %}hidden{% endif %}" class="btn btn-sm btn-default float-right" value="Submit" id="submit">
        </form>
    </div>
</div>
{% endblock %}

{% block footerStyleEnd %}
<script src="{% static 'js/preStartForm.js' %}"></script>

{% endblock %}
