{% extends "main/main.html" %} {% load static %} {% block title %} | Client change{% endblock %} {% block headStyle %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />

<style>
    .select2-container--default .select2-results__option--highlighted[aria-selected] {
        background-color: #435f7b !important;
    }

    .select2-container .select2-selection--multiple{
        min-height: 38px!important;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice,
    .select2-container .select2-search--inline .select2-search__field {
        margin-top: 8px !important;
        cursor: pointer;
    }
    
    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        background-color: #435f7b !important;
        border: 1px solid #435f7b !important;
        color: white;
    }
    
    .select2-container--default .select2-selection--multiple {
        cursor: pointer !important;
    }
    label{
        margin-top: 0.5rem;
        margin-bottom: 0;

    }
    .fa-solid.fa-circle-plus{
        cursor: pointer;
        font-size: 1.5rem;
        color: #151f2a;
    }

    .fa-solid.fa-minus{
        cursor: pointer;
        font-size: 1.3rem;
        color: #c83333;
        padding: 0.15rem 0.5rem;
    }
    .modal-body {
        max-height: calc(102vh - 202px); /* Adjust height as needed */
        overflow-y: auto;
    }
    .col-4{
        padding-left: 10px;
    }
</style>

{% endblock %} 

{% block content %}
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <form action="{% if data %}{% url 'gearBox:clientEditSave' id=data.clientId %} {% else %}{% url 'gearBox:clientAddSave' %}{% endif %}" method="POST" novalidate>
                    {% csrf_token %}
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>{% if data %}Edit{% else %}Add{% endif %} Client</h2>
                            {%if data%}
                            <div class="float-right">
                                <a href="{% url 'Account:rateCardTableClient' clientId=data.clientId %}" class="btn btn-sm btn-default">RateCard</a>
                                <a href="{% url 'Account:surchargeTable' %}" class="btn btn-sm btn-default">Surcharge</a>
                            </div>
                            {% endif %}
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="cuatom-continer">
                                <input type="hidden" name="clientId" id="clientId">
                                <div class="row mb-2">
                                    <div class="col-md-5 col-sm-5 field">
                                        <label for="name">Client name :<span
                                                class="required">*</span></label>
                                        <input class="form-control" name="name" required="required" id="name" type="text"  value="{% if data %}{{data.name}}{% endif %}" {% if data %}readonly{% endif %}/>
                                    </div>                                  

                                    <div class="col-md-7 col-sm-7 field">
                                        <label for="email">Client email :<span class="required">*</span></label>
                                        <input class="form-control" name="email" required="required"
                                            id="email" type="email" value="{% if data %}{{data.email}}{% endif %}" {% if data %}readonly{% endif %}/>
                                    </div>  
                                    <div class="form-group col-12 text-right mb-0">
                                        <input type="checkbox" name="docketGiven" id="docketGiven" class="mt-2" {% if data.docketGiven %}Checked{% endif %} {% if data %}disabled{% endif %}>
                                        <label for="docketGiven" class="m-0 d-inline-block">Docket given</label>                                  
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if not data %}
                    <div class="x_panel pb-3">
                        <h5>Client Offices</h5> 
                        <div class="row">
                            <div class="col-sm-3 col-md-3 field">
                                <label for="addType">Type :<span class="required">*</span></label>
                                <select name="addType" id="addType" class="form-control" required>
                                    <option value="Workplace" selected>Workplace</option>
                                    <option value="Home">Home</option>
                                </select>
                            </div>
                            <div class="col-sm-9 col-md-9 field">
                                <label for="addDescription">Client Office:</label>
                                <textarea name="addDescription" id="addDescription" rows="1" class="form-control" required></textarea>
                            </div>
                            <div class="col-sm-3 col-md-3 field">
                                <label for="addCity">City:<span class="required">*</span></label>
                                <input type="text" name="addCity" id="addCity"  class="form-control" required>
                            </div>
                            <div class="col-sm-3 col-md-3 field">
                                <label for="addState">State:<span class="required">*</span></label>
                                <input type="text" name="addState" id="addState"  class="form-control" required>
                            </div>
                            <div class="col-sm-3 col-md-3 field">
                                <label for="addPostalCode">Postal Code:<span class="required">*</span></label>
                                <input type="number" name="addPostalCode" id="addPostalCode"  class="form-control" required>
                            </div>
                            <div class="col-sm-3 col-md-3 field">
                                <label for="addCountry">Country:<span class="required">*</span></label>
                                <select name="addCountry" id="addCountry" class="form-control" required>

                                </select>
                                <!-- <input type="text" name="addCountry" id="addCountry" class="form-control" required> -->
                            </div>
                            <div class="col-sm-6 col-md-6 field">
                                <label for="address1">Address 1:<span class="required">*</span></label>
                                <textarea name="address1" id="address1" rows="1" class="form-control" required></textarea>
                            </div>
                            <div class="col-sm-6 col-md-6 field">
                                <label for="address2">Address 2:</label>
                                <textarea name="address2" id="address2" rows="1" class="form-control"></textarea>
                            </div>                        
                        </div>
                    </div>
                    <!-- <div class="float-right mb-2 mr-2" id="additionalInfoForClient">
                        <i class="fa-solid fa-circle-plus addContact"></i>
                    </div>   -->
                    <div class="x_panel pb-3">
                        <input type="hidden" name="additionalInfoForClientCount" id="additionalInfoForClientCount" value="1">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 field">
                                <label for="personName1">Person name :</label>
                                <input class="form-control" name="personName1" id="personName1" type="text" required/>
                            </div>
                            <div class="col-md-8 col-sm-8 field">
                                <label for="personEmail1">Person name :</label>
                                <input class="form-control" name="personEmail1" id="personEmail1" type="email" required/>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <div class="row">
                                    <div class="col-md-7 col-sm-7">
                                        <label for="primaryContact1">Primary Contact :<span class="required">*</span></label>
                                        <div class="row">
                                            <div class="col-4 pr-0 field">
                                                <select name="countryCode1" id="countryCode1" class="form-control px-1">
                                                </select>
                                            </div>
                                            <div class="col-8 pl-0 field">
                                                <input class="form-control" name="primaryContact1" id="primaryContact1" type="number" required/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-sm-5 field">
                                        <label for="alternateContact1">Alternate Contact :</label>
                                        <div class="">
                                            <input class="form-control" name="alternateContact1" id="alternateContact1" type="number"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    {% else %}
                        <div class="row">
                            <div class="col-12 d-flex justify-content-between">
                                <h5>Client Offices</h5> 
                                <span class="text-default addOffice" style="cursor: pointer;">Add New Office +</span>
                            </div>
                            {% if ofcObjs|length == 0 %}
                                <div class="col-12 d-flex justify-content-between mt-2 px-4">
                                    <h6 style="color: rgb(172, 169, 169);">No Address found</h6>
                                </div>
                            {% else %}
                                {% for ofc in ofcObjs %}
                                <div class="col-md-4 col-sm-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="d-inline-block">{{ ofc.description }}</h5> <small class="ml-1">({{ofc.locationType}})</small> 

                                            {% if request.session.user_type == "SuperUser" %}
                                            <i class="fa-regular fa-pen-to-square float-right modalEdit mx-1" style="font-size: 1rem;cursor: pointer;" id="edit{{ofc.id}}"></i>
                                            {% endif %}

                                            <i class="fa-regular fa-eye float-right modalView mx-1" style="font-size: 1rem;cursor: pointer;" id="view{{ofc.id}}"></i>
                                            <hr class="my-1" />
                                            <p class="m-0">{{ ofc.address1 }}</p>
                                            <p class="mb-1"><span>{{ ofc.city }}</span>, <span>{{ ofc.state }}</span>, <span>{{ ofc.postalCode }}</span></p>
                                            <br>
                                            <a href="{% url 'Account:rateCardTableClientOfc' clientId=data.clientId clientOfcId=ofc.id %}" title="Rate cards"><i class="fa-solid fa-clipboard float-right" style="font-size: 1.2rem;"></i></a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            {% endif %}

                        </div>
                    {% endif %}
                    {% if not data %}
                    <div class="row">
                        <div class="col-12 p-1">
                            <button type="submit" class="btn btn-sm btn-default float-right">Submit</button>
                        </div>
                    </div>
                    {% endif %}
                </form>

            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-xl" id="clientOfc" tabindex="-1" role="dialog" aria-labelledby="clientOfcLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header py-3">
                <h5 class="modal-title" id="clientOfcLabel">Client Office</h5>
                <span type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </span>
            </div>
            <form action="#" method="POST" novalidate id="modalForm">
                {% csrf_token %}
                <input type="number" value="1" name="additionalContactCount" id="additionalContactCount" class="d-none">

                <div class="modal-body pb-4">
                    <div class="row pb-3 border-bottom border-secondary">
                        <div class="col-sm-4 col-md-4 field">
                            <label for="modalAddType">Type :<span class="required">*</span></label>
                            <select name="modalAddType" id="modalAddType" class="form-control px-1" required>
                                <option value="Workplace" selected>Workplace</option>
                                <option value="Home">Home</option>
                            </select>
                        </div>
                        <div class="col-sm-8 col-md-8 field">
                            <label for="modalAddDescription">Client Office:</label>
                            <input name="modalAddDescription" id="modalAddDescription" class="form-control" required>
                        </div>
                        <div class="col-sm-3 col-md-3 field">
                            <label for="modalAddCity">City:<span class="required">*</span></label>
                            <input type="text" name="modalAddCity" id="modalAddCity"  class="form-control" required>
                        </div>
                        <div class="col-sm-3 col-md-3 field">
                            <label for="modalAddState">State:<span class="required">*</span></label>
                            <input type="text" name="modalAddState" id="modalAddState"  class="form-control" required>
                        </div>
                        <div class="col-sm-3 col-md-3 field">
                            <label for="modalAddPostalCode">Postal Code:<span class="required">*</span></label>
                            <input type="number" name="modalAddPostalCode" id="modalAddPostalCode"  class="form-control" required>
                        </div>
                        <div class="col-sm-3 col-md-3 field">
                            <label for="modalAddCountry">Country:<span class="required">*</span></label>
                            <select name="modalAddCountry" id="modalAddCountry" class="form-control px-1" required>
                            </select> 
                        </div>
                        <div class="col-sm-6 col-md-6 field">
                            <label for="modalAddress1">Address 1:<span class="required">*</span></label>
                            <textarea name="modalAddress1" id="modalAddress1" rows="1" class="form-control" required></textarea>
                        </div>
                        <div class="col-sm-6 col-md-6 field">
                            <label for="modalAddress2">Address 2:</label>
                            <textarea name="modalAddress2" id="modalAddress2" rows="1" class="form-control"></textarea>
                        </div>
                        <div class="col-md-12 col-sm-12 requiredValueSection">
                            <label for="rateCards">RateCards :<span class="required">*</span></label>
                            <select name="rateCards" id="rateCards" multiple="multiple">
                                {% for rateCard in rateCards %}
                                <option value="{{rateCard.id}}">{{rateCard.rate_card_name}} </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>                    
                    <div class="row" id="additionalContactSection">                            
                        <!-- <div class="col-12 text-right my-1">
                            <i class="fa-solid fa-circle-plus addContact"></i>
                        </div>
                        <div class="col-12 my-1 firstAdditionalFieldSet">
                            <div class="row bg-light pb-3 border rounded">
                                <div class="col-md-4 col-sm-4 field">
                                    <label for="modalPersonName1">Person name :<span class="required">*</span></label>
                                    <input class="form-control" name="modalPersonName1" id="modalPersonName1" type="text" required/>
                                </div>
                                <div class="col-md-8 col-sm-8 field">
                                    <label for="modalEmail1">Person Email :<span class="required">*</span></label>
                                    <input class="form-control" name="modalEmail1" id="modalEmail1" type="email" required/>
                                </div>
                                <div class="col-md-7 col-sm-7 field">
                                    <label for="modalPrimaryContact1">Primary Contact :<span class="required">*</span></label>
                                    <div class="flex">
                                        <div class="w-25">
                                            <select name="modalCountryCode1" id="modalCountryCode1" class="form-control px-1" required>
                                            </select>
                                        </div>
                                        <div class="w-75">
                                            <input class="form-control" name="modalPrimaryContact1" id="modalPrimaryContact1" type="number" required/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 col-sm-5 field">
                                    <label for="modalAlternateContact1">Alternate Contact :</label>
                                    <div class="field">
                                        <input class="form-control" name="modalAlternateContact1" id="modalAlternateContact1" type="number"/>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="modal-footer px-2">
                    <button type="submit" class="btn btn-sm btn-outline-dark" style="font-size:0.95em;">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block footerStyle %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{% static 'Dashboard/vendors/validator/multifield.js' %}"></script>
<script src="{% static 'Dashboard/vendors/validator/validator.js' %}"></script>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"
    integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script src="{% static 'js/clientForm.js' %}"></script>
{% endblock %} 