{% extends "main/main.html" %} {% load static %} {% block title %} | Toll Form {% endblock %} {% block headStyle %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />

{% endblock %} {% block content %}
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                {% if tollObj %}
                    <div class="float-right">
                        <a href="{% url 'gearBox:tollHistory' tollId=tollObj.id %}" class="btn btn-sm btn-history" target="_blank">History</a>
                    </div>
                {% endif %}
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Toll</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="cuatom-continer">
                            <form action="{% if not tollObj %}{% url 'gearBox:tollFormSave'%}{% else %}{% url 'gearBox:tollFormEdit' tollId=tollObj.id %}{% endif %}" method="POST" novalidate  enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <label for="truckNumber"
                                            class="col-form-label col-md-3 col-sm-3 label-align">Truck Number :<span
                                                class="required">*</span></label>
                                        <div class="field item form-group col-md-6 col-sm-6">
                                            <select name="truckNumber" id="truckNumber" class="form-control">
                                                <option value="" disabled selected> Select Truck No.</option>
                                                {% for truck in clientTruckObj %}
                                                <option value="{{ truck.id }}"  {% if tollObj.truckNo.id == truck.id%}selected{% endif %}> {{truck.truckNumber.adminTruckNumber}} - {{truck.clientTruckId}} - {{truck.clientId.name}}</option>
                                                {% endfor %}
                                            </select>

                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <label for="tollDate"
                                            class="col-form-label col-md-3 col-sm-3 label-align">Toll date :<span
                                                class="required">*</span></label>
                                        <div class="field item form-group col-md-6 col-sm-6">
                                            <input class="form-control" name="tollDate" required="required"
                                                id="tollDate" type="date" value="{{ tollObj.tollDate|date:'Y-m-d'}}" max="{% now 'Y-m-d' %}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <label for="tollAmount"
                                            class="col-form-label col-md-3 col-sm-3 label-align">Toll Amount :<span
                                                class="required">*</span></label>
                                        <div class="field item form-group col-md-6 col-sm-6">
                                            <input class="form-control" name="tollAmount" required="required"
                                                id="tollAmount" value="{{tollObj.tollAmount}}" type="number" min="0" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <label for="comment" class="col-form-label col-md-3 col-sm-3 label-align">Comment :<span class="required">*</span></label>
                                        <div class="field item form-group col-md-6 col-sm-6">
                                            <textarea class="form-control" name="comment" id="comment" autocomplete="off">{{tollObj.comment}}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <label for="tollImage"
                                            class="col-form-label col-md-3 col-sm-3 label-align">Toll image :</label>
                                            {% if tollObj %}
                                            <div class="text-align-center"><a href="/{{tollObj.tollImage}}" class="text-primary" target="_blank">Toll mage</a></div>
                                            {% endif %}
                                        <div class="field item form-group col-md-6 col-sm-6">
                                            <input  name="tollImage"
                                                id="tollImage" {% if not tollObj %}  required="required" {% endif %} type="file"/>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-9 col-sm-9 text-right">
                                        <button type="submit" class="btn btn-sm btn-default px-3">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->

{% block footerStyle %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{% static 'Dashboard/vendors/validator/multifield.js' %}"></script>
<script src="{% static 'Dashboard/vendors/validator/validator.js' %}"></script>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"
    integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    // initialize a validator instance from the "FormValidator" constructor.
    // A "<form>" element is optionally passed as an argument, but is not a must
    var validator = new FormValidator(
        {
            events: ["blur", "input", "change"],
        },
        document.forms[0]
    );
    // on form "submit" event
    document.forms[0].onsubmit = function (e) {
        var submit = true,
            validatorResult = validator.checkAll(this);
        
        return !!validatorResult.valid;
    };
    // stuff related ONLY for this demo page:
    $(".toggleValidationTooltips").change(function () {
        validator.settings.alerts = !this.checked;
        if (this.checked) $("form .alert").remove();
    })
    .prop("checked", false);
</script>
{% endblock %} {% endblock %}