{% extends "main/main.html" %}
{% load static %}
{% block title %} | Truck Form {% endblock %}
{% block headStyle %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<style>
    .custom-continer {
        margin: 0 5rem;
    }

    .errorMsg {
        font-size: 0.7rem;
        color: rgb(255, 0, 0);
        margin-top: 0.3rem;
        list-style-type: none;
    }

    .isInvalid {
        border: 1px solid rgb(255, 0, 0) !important;
        border-radius: 7px !important;
    }

    @media (max-width: 576px) {
        .custom-continer {
            margin: 0;
        }
    }

    @media (max-width: 768px) {

        .custom-continer {
            margin: 0;
        }
    }
</style>
{% endblock %}
{% block content %}
<!-- page content -->
<div class="right_col" role="main">
    <div class="custom-container">
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>{% if data %}View truck detailsAdd Truck {% endif %}</h2>
                        {% if data %}
                        <a href="{% url 'gearBox:truckConnectionAddView' id=data.id %}" class="btn btn-sm btn-default float-right">Add connection</a>
                        {% endif %}
                        <div class="clearfix"></div>
                    </div>
               
                    <form action="{% url 'gearBox:truckFormAdd' %}" method="post">
                        {% csrf_token %}
                        <div class="x_content">
                            <div class="col-md-4 col-sm-4">
                                <label for="truckNo" style="margin-bottom: 0.3rem!important;">Truck number<span class="required">*</span></label>
                                <div class="field item form-group">
                                    <input class="form-control" value="{% if data %}{{data.adminTruckNumber}} {% endif %}" {% if data %}readonly{% endif %} type="text" name="truckNo" required='required' style="padding: 0.25rem 0.2rem;" id="truckNo">
                                </div>
                            </div>
                            <div class="col-md-8 col-am-8 text-right">
                                {% if not data  %}
                                <button type='submit' class="btn btn-primary w-25 mt-4">Submit</button> 
                                {% endif %}
                            </div>                       
                        </div>
                    </form>

                </div>
                {% if connections %}
                    {% for connection in connections %}
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Connections</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4">
                                        <label for="clientTruckNumber{{connection.count}}">Client truck number <span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control" data-validate-length-range="6,6" value="{% if connection %}{{connection.clientTruckId}}{% endif %}" {% if connection %}readonly{% endif %} type="number" name="clientTruckNumber{{count}}" required='required' style="padding: 0.25rem 0.2rem;" id="clientTruckNumber{{count}}">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <label for="rate_card_name{{connection.count}}">Rate card <span class="required">*</span></label>
                                        <select name="rate_card_name{{connection.count}}" class="form-control" id="rate_card_name{{connection.count}}" required="required" {% if connection %}disabled{% endif %}>
                                            {% for card in rateCards%}
                                            <option value="{{card.id}}" {% if card.id == connection.rate_card_name_id %} selected {% endif %} >{{card.rate_card_name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <label for="clientId{{connection.count}}"> Client name <span class="required">*</span></label>
                                        <select name="clientId{{connection.count}}" class="form-control" id="clientId{{connection.count}}" required="required" {% if connection %}disabled{% endif %}>
                                            {% for client in clientIds%}
                                            <option value="{{client.clientId}}" {% if client.clientId == connection.clientId_id %} selected {% endif %} >{{client.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-sm-4">
                                        <label for="truckType{{connection.count}}"> Truck type<span class="required" >*</span></label>
                                        <select name="truckType{{connection.count}}" class="form-control" id="truckType{{connection.count}}" {% if connection %}disabled{% endif %}>
                                            <option value="Embedded" {% if connection.truckType == 'Embedded' %} selected {% endif %} >Embedded</option>
                                            <option value="Casual" {% if connection.truckType == 'Casual' %} selected {% endif %}>Casual</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <label for="startDate{{connection.count}}"> Start date<span class="required">*</span></label>
                                        <input class="form-control" data-validate-length-range="6,6" value="{% if connection %}{{connection.startDate}}{% endif %}" {% if connection %}readonly{% endif %} type="date" name="startDate{{connection.count}}" required='required' style="padding: 0.25rem 0.2rem;" id="startDate{{connection.count}}">
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <label for="endDate{{connection.count}}"> End date<span class="required">*</span></label>
                                        <input class="form-control" data-validate-length-range="6,6" value="{% if connection %}{{connection.endDate}}{% endif %}" {% if connection %}readonly{% endif %} type="date" name="endDate{{connection.count}}" required='required' style="padding: 0.25rem 0.2rem;" id="endDate{{connection.count}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- /page content -->

{% block footerStyle %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{% static 'Dashboard/vendors/validator/multifield.js' %}"></script>
<script src="{% static 'Dashboard/vendors/validator/validator.js' %}"></script>


<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"
    integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>

    // initialize a validator instance from the "FormValidator" constructor.
    // A "<form>" element is optionally passed as an argument, but is not a must
    var validator = new FormValidator({
        "events": ['blur', 'input', 'change']
    }, document.forms[0]);
    // on form "submit" event
    document.forms[0].onsubmit = function (e) {
        var submit = true,
            validatorResult = validator.checkAll(this);
        console.log(validatorResult);
        return !!validatorResult.valid;
    };
    // on form "reset" event
    document.forms[0].onreset = function (e) {
        validator.reset();
    };
    // stuff related ONLY for this demo page:
    $('.toggleValidationTooltips').change(function () {
        validator.settings.alerts = !this.checked;
        if (this.checked)
            $('form .alert').remove();
    }).prop('checked', false);

</script>
{% endblock %}
{% endblock %}