{% extends "main/main.html" %}
{% load static %}
{% block title %} | Truck Information tab {% endblock %}
{% block headStyle %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />

<style>
    .dd-selected{
        color: black;
        padding: 3px 10px!important;
    }
    .dd-select a{
        background-color:white;
    }
    .custom-continer {
        margin: 0 5rem;
    }
    .errorMsg {
        font-size: 0.7rem;
        color: rgb(255, 0, 0);
        margin-top: 0.3rem;
        list-style-type: none;
    }
    button[type="submit"]{
        background-color: transparent;
        font-size: 3em;outline: none;
    }

    .isInvalid {
        border: 1px solid rgb(255, 0, 0) !important;
        border-radius: 7px !important;
    }
    ul.wizard_steps{
        padding-left: 0;
    }
    label{
        margin-bottom: 0.2em!important;
    }

    @media (max-width: 576px) {
        .custom-continer {
            margin: 0;
        }
        .form_wizard{
            display: none;
        }
    }
    @media (max-width: 768px) {

        .custom-continer {
            margin: 0;
        }
    }
    #image-preview {
        width: 23rem;
        height: 20rem;
    }
</style>
{% endblock %}
{% block content %}
<!-- page content -->
<div class="right_col" role="main">
    <div class="custom-container">
        <div class="clearfix"></div>
        <!-- <form action="{% if adminTruckObj %} {% url 'gearBox:truckFormUpdate' truckId=adminTruckObj.id %} {% else %} {% url 'gearBox:truckFormSave' %} {% endif %}" method="post" class="" novalidate enctype="multipart/form-data" > -->
        <form action="{% if viewOnly == 1 %} {% url 'gearBox:truckFormUpdate' truckId=adminTruckObj.id %} {% endif %}" method="post" enctype="multipart/form-data" novalidate id="truckForm">
            {% csrf_token %}
            <input value="{{viewOnly}}" name="viewOnly" hidden  id="viewOnly">

            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="x_panel">
                        <h2 class="text-uppercase d-inline-block" style="font-weight:bold">Information tab</h2>
                        {% comment %} {% if truckInformationObj %}
                                <div class="text-danger float-right" >Path:- 
                                    {% if truckInformationObj.truckImg1 %}
                                    <a href="/{{truckInformationObj.truckImg1}}" target="_blank">File1 ,</a>
                                    {% endif %}
                                    {% if truckInformationObj.truckImg2 %}
                                    <a href="/{{truckInformationObj.truckImg2}}" target="_blank">File2 ,</a>
                                    {% endif %}
                                    {% if truckInformationObj.truckImg3 %}
                                    <a href="/{{truckInformationObj.truckImg3}}" target="_blank">File3</a>
                                    {% endif %}
                                </div>
                            <div class="clearfix"></div>
                            {% endif %}
                        {% endcomment %}
                        {% if adminTruckObj.truckActive is True %}
                        <a href="{% url 'gearBox:truckConnectionAddView' id=adminTruckObj.id %}" class="btn btn-sm btn-default float-right">Add connection</a>
                        {% endif %} 

                    </div>
                    
                    <!-- Mandatory fields -->
                    <div class="x_panel mandatoryFieldsSection">
                        <div class="x_title">
                            <h6 style="font-weight:bold">Mandatory Fields</h6>
                            
                        </div>
                        <div class="x_content">
                            <div class="col-md-8 col-sm-8">
                                <div class="col-md-6 col-sm-6">
                                    <label for="truckNo">Fleet : <span class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control" value="{{ adminTruckObj.adminTruckNumber }}" {% if adminTruckObj %}readonly{% endif %} type="number" name="truckNo"  style="padding: 0.25rem 0.2rem;" id="truckNo" required>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <label for="groups">Groups : </label>
                                    <div class="field item form-group">
                                        <select name="groups" id="groups" onchange="subGroupFun(this)" class="form-control text-uppercase">
                                            <option value="" disabled selected class="text-uppercase"> Select Group</option>
                                            {% for group in groups %}
                                            <option {% if truckInformationObj.group == group.id %}selected{% endif %} value="{{group.id}}" class="text-uppercase">{{group.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <label for="subGroups">Sub groups : </label>
                                    <div class="field item form-group">
                                        <select name="subGroups" id="subGroups" disabled class="form-control">
                                            <option value="" disabled selected class="text-uppercase"> Select SubGroup</option>
                                            {% for subGroup in subGroups %}
                                            <option {% if truckInformationObj.group == subGroup.id %}selected{% endif %} value="{{group.id}}" class="text-uppercase">{{subGroup.name}}</option>
                                            {% endfor %}

                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <label for="vehicleType">Vehicle type : </label>
                                    <div class="field item form-group">
                                        <select name="vehicleType" required required onchange=(vehicleTypeFun()) id="vehicleType" class="form-control">
                                            <option disabled selected>Select vehicle Type</option>
                                            <option  {% if truckInformationObj.vehicleType == 'Tipper' %}selected{% endif %}  value="Tipper">Tipper</option>
                                            <option {% if truckInformationObj.vehicleType == 'Agitator' %}selected{% endif %} value="Agitator">Agitator</option>
                                            <option {% if truckInformationObj.vehicleType == 'Dog Trailer' %}selected{% endif %} value="Dog Trailer">Dog Trailer</option>
                                            <option {% if truckInformationObj.vehicleType == 'Trailer B' %}selected{% endif %} value="Trailer B">Trailer B</option>
                                            <option {% if truckInformationObj.vehicleType == 'Trailer' %}selected{% endif %} value="Trailer">Trailer</option>
                                            <option {% if truckInformationObj.vehicleType == 'Ute' %}selected{% endif %} value="Ute">Ute</option>
                                            <option {% if truckInformationObj.vehicleType == 'Car' %}selected{% endif %} value="Car">Car</option>
                                            <option {% if truckInformationObj.vehicleType == 'Prime Mover' %}selected{% endif %} value="Prime Mover">Prime Mover</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <label for="serviceGroup">Service group : </label>
                                    <div class="field item form-group">
                                        <select name="serviceGroup" id="serviceGroup"  class="form-control">
                                            <option disabled selected>Select service group</option>
                                            <option {% if truckInformationObj.serviceGroup == 'Agitator' %}selected{% endif %} value="Agitator">Agitator</option>
                                            <option {% if truckInformationObj.serviceGroup == 'Dog Trailer' %}selected{% endif %} value="Dog Trailer">Dog Trailer</option>
                                            <option {% if truckInformationObj.serviceGroup == 'Tipper' %}selected{% endif %} value="Tipper">Tipper</option>
                                            <option {% if truckInformationObj.serviceGroup == 'Tralier' %}selected{% endif %} value="Tralier">Tralier</option>
                                            <option {% if truckInformationObj.serviceGroup == 'Non-Serviceable' %}selected{% endif %} value="Non-Serviceable">Non-Serviceable</option>


                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 fileUpload">
                                <span id="add-file" class="text-success" style="cursor:pointer">Add more files + </span>
                                <!-- Initial file input -->
                                <div class="py-2">
                                    <input type="file" name="truckImg1">
                                    {% if truckInformationObj.truckImg1 %}
                                    <a href="{{ truckInformationObj.truckImg1.url }}" target="_blank">View File</a>
                                    {% endif %}
                                </div>
                                {% comment %} {% if truckInformationObj.truckImg2 or not truckInformationObj.truckImg1 %} {% endcomment %}
                                <div class="py-2 2 {% if not truckInformationObj.truckImg2 %} d-none {%  endif %} ">
                                    <span class="float-right text-danger" onclick="removeFile(2)" style="cursor:pointer; font-size:0.7rem">Remove</span>
                                    <input type="file" name="truckImg2">
                                    {% if truckInformationObj.truckImg2 %}
                                    <a href="{{ truckInformationObj.truckImg2.url }}" target="_blank">View File</a>
                                    {% endif %}
                                </div>
                                {% comment %} {% endif %} {% endcomment %}
                                {% comment %} {% if truckInformationObj.truckImg2 or not truckInformationObj.truckImg1 %} {% endcomment %}
                                <div class="py-2 3 {% if not truckInformationObj.truckImg3 %} d-none {%  endif %} d-none">
                                    <span class="float-right text-danger" onclick="removeFile(3)" style="cursor:pointer; font-size:0.7rem">Remove</span>
                                    <input type="file" name="truckImg3">
                                    {% if truckInformationObj.truckImg3 %}
                                    <a href="{{ truckInformationObj.truckImg3.url }}" target="_blank">View File</a>
                                    {% endif %}
                                </div>
                                {% comment %} {% endif %} {% endcomment %}
                            </div>
                        </div>
                    </div>
                    
                    <!-- Information -->
                    <div class="x_panel informationFieldsSection">
                        <div class="x_title">
                            <h6 style="font-weight:bold">Information</h6>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="col-md-12 col-sm-12">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4">
                                        <label for="informationMake" style="margin-bottom: 0.3rem!important;">Make : </label>
                                        <div class="field item form-group">
                                            <select name="informationMake" id="informationMake" class="form-control">
                                                <option {% if truckInformationObj.informationMake == 'ISUZU' %}selected{% endif %}  value="ISUZU">ISUZU</option>
                                                <option {% if truckInformationObj.informationMake == 'Freightliner' %}selected{% endif %}  value="Freightliner">Freightliner</option>
                                                <option {% if truckInformationObj.informationMake == 'Kenworth' %}selected{% endif %}  value="Kenworth">Kenworth</option>
                                                <option {% if truckInformationObj.informationMake == 'Mack' %}selected{% endif %}  value="Mack">Mack</option>
                                                <option {% if truckInformationObj.informationMake == 'Sloanbuilt' %}selected{% endif %}  value="Sloanbuilt">Sloanbuilt</option>
                                                <option {% if truckInformationObj.informationMake == 'Volkswagen' %}selected{% endif %}  value="Volkswagen">Volkswagen</option>
                                                <option {% if truckInformationObj.informationMake == 'Renault' %}selected{% endif %}  value="Renault">Renault</option>
                                                <option {% if truckInformationObj.informationMake == 'Iveco' %}selected{% endif %}  value="Iveco">Iveco</option>
                                                <option {% if truckInformationObj.informationMake == 'BTE' %}selected{% endif %}  value="BTE">BTE</option>
                                                <option {% if truckInformationObj.informationMake == 'International' %}selected{% endif %}  value="International">International</option>
                                                <option {% if truckInformationObj.informationMake == 'Nissan' %}selected{% endif %}  value="Nissan">Nissan</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <label for="informationModel" style="margin-bottom: 0.3rem!important;">Model : </label>
                                        <div class="field item form-group">
                                            <input class="form-control" value="{{ truckInformationObj.informationModel }}" type="text" name="informationModel"  style="padding: 0.25rem 0.2rem;" id="informationModel">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <label for="informationConfiguration" style="margin-bottom: 0.3rem!important;">Configuration : </label>
                                        <div class="field item form-group">
                                            <select name="informationConfiguration" id="informationConfiguration"  class="form-control">
                                                <option {% if truckInformationObj.informationMake == '8x4 Agi' %}selected{% endif %} value="8x4 Agi">8x4 Agi</option>
                                                <option {% if truckInformationObj.informationMake == 'Agitator' %}selected{% endif %} value="Agitator">Agitator</option>
                                                <option {% if truckInformationObj.informationMake == 'Rigid' %}selected{% endif %} value="Rigid">Rigid</option>
                                                <option {% if truckInformationObj.informationMake == '10x4 Agi' %}selected{% endif %} value="10x4 Agi">10x4 Agi</option>
                                                <option {% if truckInformationObj.informationMake == 'Trailer' %}selected{% endif %} value="Trailer">Trailer</option>
                                                <option {% if truckInformationObj.informationMake == 'Dog Trailer' %}selected{% endif %} value="Dog Trailer">Dog Trailer</option>
                                                <option {% if truckInformationObj.informationMake == 'Ute' %}selected{% endif %} value="Ute">Ute</option>
                                                <option {% if truckInformationObj.informationMake == 'Prime Mover' %}selected{% endif %} value="Prime Mover">Prime Mover</option>
                                                <option {% if truckInformationObj.informationMake == 'Car' %}selected{% endif %} value="Car">Car</option>
                                                <option {% if truckInformationObj.informationMake == '4 Wheel Drive' %}selected{% endif %} value="4 Wheel Drive">4 Wheel Drive</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <label for="informationChassis" style="margin-bottom: 0.3rem!important;">VIN / Chassis # : </label>
                                        <div class="field item form-group">
                                            <input class="form-control" value="{{ truckInformationObj.informationChassis }}" type="text" name="informationChassis"  style="padding: 0.25rem 0.2rem;" id="informationChassis">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <label for="informationBuildYear" style="margin-bottom: 0.3rem!important;">Build year : <span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control" value="{{ truckInformationObj.informationBuildYear }}" type="number" name="informationBuildYear"  style="padding: 0.25rem 0.2rem;" id="informationBuildYear" data-validate-minmax="1000,9999" required>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <label for="informationIcon" style="margin-bottom: 0.3rem!important;">Icon : </label>
                                        <div class="field item form-group">
                                            <select id="informationIcon" name="informationIcon">
                                                <option {% if truckInformationObj.informationIcon == 'Truck_1' %}selected{% endif %} value="Truck_1" 
                                                    data-imagesrc="{% static 'img/truckIcons/truck01.gif' %}"></option>
                                                <option {% if truckInformationObj.informationIcon == 'Truck_2' %}selected{% endif %} value="Truck_2" 
                                                    data-imagesrc="{% static 'img/truckIcons/truck02.gif' %}"></option>
                                                <option {% if truckInformationObj.informationIcon == 'Truck_3' %}selected{% endif %} value="Truck_3" class="bg-danger"  
                                                    data-imagesrc="{% static 'img/truckIcons/truck03.gif' %}"></option>
                                                <option {% if truckInformationObj.informationIcon == 'Truck_4' %}selected{% endif %} value="Truck_4" class="bg-danger"  
                                                    data-imagesrc="{% static 'img/truckIcons/truck04.gif' %}"></option>
                                            </select>
                                            <input type="hidden" name="informationIcon">
                                        </div>
                                    </div>
                                </div>
                            </div>                                
                        </div>
                    </div>

                    <!-- Registration -->
                    <div class="x_panel registrationFieldsSection">
                        <div class="x_title">
                            <h6 class="d-inline-block" style="font-weight:bold">Registration</h6>
                            
                            <span class="float-right">
                                <input type="checkbox" {%if  truckInformationObj.registered  %}checked{%endif%} value="registered"  name="registered" id="registered" onchange="registeredFun(this)">
                                <label for="registered">Un-Registered</label>
                            </span>
                            <div class="clearfix"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="x_content" id="registrationSection">
                                    <div class="col-md-6 col-sm-6">
                                        <label for="registration" style="margin-bottom: 0.3rem!important;">Registration :</label>
                                        <div class="field item form-group">
                                            <input class="form-control" {%if  truckInformationObj.registered  %}disabled{%endif%} value="{% if not truckInformationObj.registered %}{{ truckInformationObj.registration }} {% endif %}"  type="text" name="registration"  style="padding: 0.25rem 0.2rem;" id="registration" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <label for="registrationCode" style="margin-bottom: 0.3rem!important;">Code :</label>
                                        <div class="field item form-group">
                                            <input class="form-control"  {%if  truckInformationObj.registered  %}disabled{%endif%} value="{% if not truckInformationObj.registered %}{{ truckInformationObj.registrationCode }} {% endif %}" type="text" name="registrationCode"  style="padding: 0.25rem 0.2rem;" id="registrationCode" required>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <label for="registrationState" style="margin-bottom: 0.3rem!important;">State : <span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <select name="registrationState" {% if  truckInformationObj.registered %}disabled{%endif%} required id="registrationState"  class="form-control">
                                                <option selected disabled>Select State</option>
                                                <option {% if  truckInformationObj.registrationState == 'VIC' %}selected{% endif %} value="VIC" >VIC</option>
                                                <option {% if  truckInformationObj.registrationState == 'NSW' %}selected{% endif %} value="NSW" >NSW</option>
                                                <option {% if  truckInformationObj.registrationState == 'QLD' %}selected{% endif %} value="QLD" >QLD</option>
                                                </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <label for="registrationDueDate" style="margin-bottom: 0.3rem!important;">Registration Due Date :</label>
                                        <div class="field item form-group">
                                            <input class="form-control"  {%if  truckInformationObj.registered  %}disabled{%endif%} value="{% if not truckInformationObj.registered %}{{ truckInformationObj.registrationDueDate|date:'Y-m-d' }}{% endif %}" type="date" name="registrationDueDate"  style="padding: 0.25rem 0.2rem;" id="registrationDueDate" required>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <label for="registrationInterval" style="margin-bottom: 0.3rem!important;">Interval : </label>
                                        <div class="field item form-group">
                                            <select name="registrationInterval" {%if  truckInformationObj.registered  %}disabled{%endif%} id="registrationInterval"  class="form-control">
                                                <option selected disabled>Select Interval</option>
                                                <option {% if  truckInformationObj.registrationInterval == 'Annual' %}selected{% endif %} value="Annual">Annual</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    <!-- Engine Information -->
                    <div class="x_panel engineFieldsSection">
                        <div class="x_title">
                            <h6 class="d-inline-block" style="font-weight:bold">Engine Information</h6>
                            <span class="float-right">
                                <input type="checkbox" name="powered" id="powered">
                                <label for="powered">Powered</label>
                            </span>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <label for="engine" style="margin-bottom: 0.3rem!important;">Engine # :<span class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control" value="{{ truckInformationObj.engine }}" type="text" name="engine"  style="padding: 0.25rem 0.2rem;" id="engine" required>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <label for="engineMake" style="margin-bottom: 0.3rem!important;">Make :<span class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control" value="{{ truckInformationObj.engineMake }}" type="text" name="engineMake" style="padding: 0.25rem 0.2rem;" id="engineMake" required>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <label for="engineModel" style="margin-bottom: 0.3rem!important;">Model :<span class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control" value="{{ truckInformationObj.engineModel }}" type="text" name="engineModel" style="padding: 0.25rem 0.2rem;" id="engineModel" required>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <label for="engineCapacity" style="margin-bottom: 0.3rem!important;">Capacity :<span class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control" value="{{ truckInformationObj.engineCapacity }}" type="text" name="engineCapacity" style="padding: 0.25rem 0.2rem;" id="engineCapacity" required>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <label for="engineGearbox" style="margin-bottom: 0.3rem!important;">Gearbox :</label>
                                    <div class="field item form-group">
                                        <input class="form-control" value="{{ truckInformationObj.engineGearBox }}" type="text" name="engineGearbox" style="padding: 0.25rem 0.2rem;" id="engineGearbox">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Custom fields -->
                    <div class="x_panel customFieldsSection">
                        <div class="x_title">
                            <h6 style="font-weight:bold">Custom fields</h6>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="row">
                                <!-- {% for truckInformationCustom in truckInformationCustomObj %}
                                    <div class="col-md-4 col-sm-4">
                                        <label for="customFieldValue{{forloop.counter}}" style="margin-bottom: 0.3rem!important;">{{truckInformationCustom.customFieldLabel}} :</label>
                                        <input type="text" hidden value="{{truckInformationCustom.id}}" name ="customFieldLabel{{forloop.counter}}" />
                                        <div class="field item form-group">
                                            <input class="form-control" type="text" name="customFieldValue{{forloop.counter}}" value="{% if truckInformationObj %}{{ truckInformationObj.customFieldValue1 }}{% endif %}" style="padding: 0.25rem 0.2rem;" id="customFieldValue{{forloop.counter}}" readonly>
                                        </div>
                                    </div>
                                {% endfor %} -->


                                {% for truckInformationCustom in truckInformationCustomObj %}
                                    <div class="col-md-4 col-sm-4">
                                        <label for="customFieldValue{{forloop.counter}}" style="margin-bottom: 0.3rem!important;">{{ truckInformationCustom.customFieldLabel }} :</label>
                                        <input type="text" hidden value="{{ truckInformationCustom.id }}" name="customFieldLabel{{ forloop.counter }}" />
                                        <div class="field item form-group">
                                            <input class="form-control" type="text" name="customFieldValue{{ forloop.counter }}" value="{% if truckInformationObj %}{{ truckInformationCustom.customFieldValue }}{% endif %}" style="padding: 0.25rem 0.2rem;" id="customFieldValue{{ forloop.counter }}" readonly>
                                        </div>
                                    </div>
                                {% endfor %}

                            
                                <!-- {% if not truckInformationCustomObj %}
                                    {% if truckInformationObj.customFieldLabel1 %}
                                    <div class="col-md-4 col-sm-4">
                                        <label for="customFieldLabel1" style="margin-bottom: 0.3rem!important;">{{truckInformationObj.customFieldLabel1}} :</label>
                                        <div class="field item form-group">
                                            <input class="form-control" value="{{ truckInformationObj.customFieldValue1 }}"  type="text" name="customFieldValue1" style="padding: 0.25rem 0.2rem;" id="customFieldLabel1" required>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if truckInformationObj.customFieldLabel2 %}
                                    <div class="col-md-4 col-sm-4">
                                        <label for="customFieldLabel2" style="margin-bottom: 0.3rem!important;">{{truckInformationObj.customFieldLabel2}} :</label>
                                        <div class="field item form-group">
                                            <input class="form-control" value="{{ truckInformationObj.customFieldValue2 }}" type="text" name="customFieldValue2" style="padding: 0.25rem 0.2rem;" id="customFieldLabel2" required>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if truckInformationObj.customFieldLabel3 %}
                                    <div class="col-md-4 col-sm-4">
                                        <label for="customFieldLabel3" style="margin-bottom: 0.3rem!important;">{{truckInformationObj.customFieldLabel3}} :</label>
                                        <div class="field item form-group">
                                            <input class="form-control" value="{{ truckInformationObj.customFieldValue3 }}" type="text" name="customFieldValue3" style="padding: 0.25rem 0.2rem;" id="customFieldLabel3" required>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if truckInformationObj.customFieldLabel4 %}
                                    <div class="col-md-4 col-sm-4">
                                        <label for="customFieldLabel4" style="margin-bottom: 0.3rem!important;">{{truckInformationObj.customFieldLabel4}} :</label>
                                        <div class="field item form-group">
                                            <input class="form-control" value="{{ truckInformationObj.customFieldValue4 }}" type="text" name="customFieldValue4" style="padding: 0.25rem 0.2rem;" id="customFieldLabel4" required>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if truckInformationObj.customFieldLabel %}
                                    <div class="col-md-4 col-sm-4">
                                        <label for="customFieldLabel5" style="margin-bottom: 0.3rem!important;">{{truckInformationObj.customFieldLabel5}} :</label>
                                        <div class="field item form-group">
                                            <input class="form-control" value="{{ truckInformationObj.customFieldValue5 }}" type="text" name="customFieldValue5" style="padding: 0.25rem 0.2rem;" id="customFieldLabel5" required>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if truckInformationObj.customFieldLabel6 %}
                                    <div class="col-md-4 col-sm-4">
                                        <label for="customFieldLabel6" style="margin-bottom: 0.3rem!important;">{{truckInformationObj.customFieldLabel6}} :</label>
                                        <div class="field item form-group">
                                            <input class="form-control" value="{{ truckInformationObj.customFieldValue6 }}" type="text" name="customFieldValue6" style="padding: 0.25rem 0.2rem;" id="customFieldLabel6" required>
                                        </div>
                                    </div>
                                    {% endif %}
                                {% endif %} -->
                            </div>
                        </div>
                    </div>
                    {% if connections %}
                        {% for connection in connections %}
                            <div class="x_panel">
                                <div class="x_title">
                                    <h6 class="d-inline-block font-weight-bold">Connections</h6>
                                    <div class="float-right">
                                        {% if connection.status is True %}
                                        {% comment %} <button class="btn btn-danger btn-sm" type="button" onclick="confirmDeactivation('{{ connection.id }}')">Deactivate</button> {% endcomment %}
                                        <i class="fa-regular fa-calendar-xmark text-default" style="font-size:1.5rem;cursor:pointer" onclick="confirmDeactivation('{{ connection.id }}')" title="Disactive"></i>
                                        {% endif %}
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4">
                                            <label for="clientTruckNumber{{connection.count}}">Client truck number <span class="required">*</span></label>
                                            <div class="field item form-group">
                                                <input class="form-control" data-validate-length-range="6,6" value="{% if connection %}{{connection.clientTruckId}}{% endif %}" {% if connection %}readonly{% endif %} type="number" name="clientTruckNumber{{count}}"  style="padding: 0.25rem 0.2rem;" id="clientTruckNumber{{count}}">
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <label for="rate_card_name{{connection.count}}">Rate card <span class="required">*</span></label>
                                            <select name="rate_card_name{{connection.count}}" class="form-control" id="rate_card_name{{connection.count}}" required="required" {% if connection %}disabled{% endif %}>
                                                {% for card in rateCards%}
                                                <option value="{{card.id}}" {% if card.id == connection.rate_card_name_id %} selected {% endif %} >{{card.rate_card_name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <label for="pre_start_name{{connection.count}}">Pre start <span class="required">*</span></label>
                                            <input class="form-control" value="{% if connection %}{{connection.pre_start_name}}{% endif %}" {% if connection %}readonly{% endif %} type="text" name="pre_start_name{{count}}"  style="padding: 0.25rem 0.2rem;" id="pre_start_name{{count}}">
                                        </div>                                        
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4">
                                            <label for="clientId{{connection.count}}"> Client name <span class="required">*</span></label>
                                            <select name="clientId{{connection.count}}" class="form-control" id="clientId{{connection.count}}" required="required" {% if connection %}disabled{% endif %}>
                                                {% for client in clientIds%}
                                                <option value="{{client.clientId}}" {% if client.clientId == connection.clientId_id %} selected {% endif %} >{{client.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <label for="truckType{{connection.count}}"> Truck type<span class="required" >*</span></label>
                                            <select name="truckType{{connection.count}}" class="form-control" id="truckType{{connection.count}}" {% if connection %}disabled{% endif %}>
                                                <option value="Embedded" {% if connection.truckType == 'Embedded' %} selected {% endif %} >Embedded</option>
                                                <option value="Casual" {% if connection.truckType == 'Casual' %} selected {% endif %}>Casual</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <label for="clientOfc{{connection.count}}"> ClientOffice <span class="required">*</span></label>
                                            <select name="clientOfc{{connection.count}}" class="form-control" id="clientOfc{{connection.count}}" required="required" {% if connection %}disabled{% endif %}>
                                                {% for clientOfcs in clientOfcObj%}
                                                <option value="{{clientOfcs.id}}" {% if clientOfcs.id == connection.clientOfc_id %} selected {% endif %} >{{clientOfcs.description}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row mt-3">                                            
                                        <div class="col-md-4 col-sm-4">
                                            <label for="startDate{{connection.count}}"> Start date<span class="required">*</span></label>
                                            <input class="form-control" data-validate-length-range="6,6" value="{% if connection %}{{connection.startDate}}{% endif %}" {% if connection %}readonly{% endif %} type="date" name="startDate{{connection.count}}"  style="padding: 0.25rem 0.2rem;" id="startDate{{connection.count}}">
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <label for="endDate{{connection.count}}"> End date<span class="required">*</span></label>
                                            <div class="float-right  {% if not connection.neverEnding  %}d-none{% endif %} neverEnding">
                                                <input type="checkbox" {% if connection.neverEnding  %}checked disabled{% endif %} name="neverEnding" onchange="neverEndingFun()" id="neverEnding" class="">
                                                <label for="neverEnding">Never Ending</label>
                                            </div>
                                            <input class="form-control" data-validate-length-range="6,6" value="{% if connection %}{{connection.endDate}}{% endif %}" {% if connection %}readonly{% endif %} type="date" name="endDate{{connection.count}}"  style="padding: 0.25rem 0.2rem;" id="endDate{{connection.count}}">
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <label for="createdBy{{connection.count}}"> Created By<span class="required">*</span></label>
                                            <input class="form-control" data-validate-length-range="6,6" value="{% if connection %}{{connection.createdBy}}{% endif %}" {% if connection %}readonly{% endif %} type="text" name="createdBy{{connection.count}}"  style="padding: 0.25rem 0.2rem;" id="createdBy{{connection.count}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %} 
                    <!-- Submit  -->
                    <div class="col-md-12 text-right pb-2 position-sticky px-0 submitSection" style ="bottom:3%;">
                        {% if viewOnly %}
                        <input type='submit' style="margin: 0px;" class="btn btn-sm btn-default px-3" value="Next" id="finalSubmit">
                        {% else %}
                        <button type="submit" class="border-0 text-default m-0" title="Activate Custom Fields"><i class="fa-solid fa-circle-check"></i></button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- /page content -->
{% endblock %}

{% block footerStyle %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{% static 'Dashboard/vendors/validator/multifield.js' %}"></script>
<script src="{% static 'Dashboard/vendors/validator/validator.js' %}"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/prashantchaudhary/ddslick/master/jquery.ddslick.min.js" ></script>
<script>
    const csrftoken = $("[name=csrfmiddlewaretoken]").val();
    var validator = new FormValidator({
        "events": ['blur', 'input', 'change']
    }, document.forms[0]);
    document.forms[0].onsubmit = function (e) {
        var submit = true,validatorResult = validator.checkAll(this);

        $('select[required]:not(:disabled)').each(function(){
            if(!$(this).val()){
                validatorResult.valid = false;
                $(this).css('border','1px solid #CE5454');
            } else {
                $(this).css('border','1px solid #ced4da');
            }
        });

        if(validatorResult.valid && !document.getElementById('finalSubmit')){
            validatorResult.valid = false
            let requiredFields = {};

            $.getJSON("/static/Account/fleetInformation.json", function(data) {
                let customInformation = data["CUSTOM-INFORMATION"];

                for (let i = 0; i < customInformation['All'].length; i++) {
                    requiredFields[customInformation['All'][i]] = true;
                }

                // Input fields value 
                if (Object.keys(requiredFields).length <= 6) {
                    let inputFields = customInformation['input-fields']
                    for (let key in inputFields) {
                        let values = inputFields[key];
                        if (Object.keys(requiredFields).length <= 6) {
                            for (let value of values) {
                                if (!(value in requiredFields)) {
                                    requiredFields[value] = true;
                                }
                            }
                        }
                    }
                }

                // Select fields value 
                if (Object.keys(requiredFields).length <= 6) {
                    let selectFields = customInformation['select-fields']
                    for (const key in selectFields) {
                        const values = selectFields[key];
                        for (const value of Object.values(values)) {
                            if (Object.keys(requiredFields).length <= 6 ) {
                                if(value == values[$(`#${key}`).val()] || value == values["All"]){
                                    value.forEach(field => {
                                        requiredFields[field] = true;
                                    });
                                }
                            }
                        }
                    }
                }

                for (var key in requiredFields) {
                    $(`#${key}`).attr('required', true)
                }
            });

            let adminTruckId = "{{ adminTruckObj.id }}"
            let url = adminTruckId ? `/gearBox/truckForm/update/${adminTruckId}` : "/gearBox/truckForm/add/" ;
            $('#truckForm').attr('action', url);

            $('input, select').attr('disabled', true)
            $('.customFieldsSection input').removeAttr('readonly').removeAttr('disabled');
            
            $('button[type=submit]').remove();
            $('.submitSection').append(`<input type='submit' style="margin: 0px;" class="btn btn-sm btn-default px-3" value="Next" id="finalSubmit">`);
        }else if(validatorResult.valid){
            $('input, select, textarea').removeAttr('disabled');
        }

        // console.log(validatorResult);
        return !!validatorResult.valid;
    };
    document.forms[0].onreset = function (e) {
        validator.reset();
    };
    
    function vehicleTypeFun() {
        var selectedValue = $('#vehicleType').val();        
        var arr_ = ['Concrite'];    
        if ($.inArray(selectedValue, arr_) !== -1) {
            $('#customPdd').removeAttr('disabled');
        } else {
            $('#customPdd').attr('disabled', 'disabled');
        }
    }
    function subGroupFun(selectElement){
        var selectedValue = selectElement.value;
        $("#subGroups").empty();
        $.ajax({
            url: "/gearBox/subGroup/get/", 
            method: "POST", // Ensure the method is POST
            data: {
                groupId: selectedValue 
            },
            beforeSend: function(xhr) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            },
            success: function(data) {
                if(data.status){
                    $("#subGroups").prop('disabled',false)
                    data.subGroupObj.forEach(function (item) {
                        $("#subGroups").append(
                        '<option value="' + item['id'] + '">' + item['name'] + "</option>"
                        );
                    });
                }
                else{
                    alert("Something Went Wrong..");
                }
            }
        });
    }
    
    
    function confirmDeactivation(connectionId) {
        if (confirm("Are you sure you want to deactivate this truck?")) {
            $.ajax({
                url: "/gearBox/truck/connection/deactivate>/",
                method: "POST",
                data: {
                    connectionId_: connectionId 
                },
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function(data) {
                    if(data.status){
                        alert("Truck connection deactivated successfully!");
                        location.reload();
                    }
                    else{
                        alert("Appointment exists for this truck. Deactivation failed.");
                    }
                }
            });
        }
    }

    function registeredFun(data) {
        var isChecked = $(data).prop("checked");
        if(isChecked){
            $("#registrationSection input").prop("disabled", true);
            $("#registrationSection select").prop("disabled", true);
        }else{
            $("#registrationSection input").prop("disabled", false);
            $("#registrationSection select").prop("disabled", false);
        }
    }

    function removeFile(givenClass){
        $(`.${givenClass} input[type="file"]`).val('')
        $(`.${givenClass}`).addClass('d-none')
    }

    function checkCustomFields(selectedFieldId,selectedFieldVal){
        $.getJSON("/static/Account/fleetInformation.json", function(data) {
            var customInformation = data["CUSTOM-INFORMATION"];
            let requiredFields = null
            let isInput = customInformation['input-fields'].hasOwnProperty(selectedFieldId)
            let isSelect = customInformation['select-fields'].hasOwnProperty(selectedFieldId)

            if(isInput){
                requiredFields = customInformation['input-fields'][selectedFieldId]
            } else if(isSelect){
                requiredFields = customInformation['select-fields'][selectedFieldId][selectedFieldVal]
            }
            // console.log('Required Fields: ', selectedFieldId, '-', requiredFields)     
        });
    }

    if ($('#viewOnly').val() == 1){
        
        $('input:not([type="submit"]), select, textarea').each(function(){
            $(this).prop("disabled", true);
        });
        $('#viewOnly, input[name="csrfmiddlewaretoken"]').removeAttr('disabled');
    }

    $("#informationIcon").ddslick({
        width:"100%",
        imagePosition: "left",
        selectText: "select Your Social Network",
        onSelected: function(data){
            $('input[name="informationIcon"]').val(data.selectedData.value);
        }
    })

    $('.toggleValidationTooltips').change(function () {
        validator.settings.alerts = !this.checked;
        if (this.checked){
            $('form .alert').remove();
        }
    }).prop('checked', false);

    /*
    $('.customFieldsSection input').each(function(){
        $(this).attr('readonly',true)
    })
    */

    $("#add-file").on("click", function() {
        $(".fileUpload .d-none:first").removeClass("d-none");
    });
    
    /* 
    $(`select, textarea, input[type="text"], input[type="number"], input[type="date"]`).on('change',function(){
        let selectedFieldId = $(this).attr('id')
        let selectedFieldVal = $(this).val()
        checkCustomFields(selectedFieldId,selectedFieldVal)
    })
    */
</script>
{% endblock %}