{% extends "main/main.html" %}
{% load static %}
{% block title %} | Truck Form {% endblock %}
{% block headStyle %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<style>
    .brick-wrapper {
        padding: 5px;
        margin-bottom: 15px; 
    }
    .brick {
        background: #fff;
        border: 2px solid #000;
        height: 40px; 
        margin-right: 15px; 
    }
    .brick-row .col:last-child .brick {
        margin-right: 0;
    }
    @media (max-width: 576px) {
        .brick {
            height: 50px; 
            margin-right: 10px; 
        }
        .brick-wrapper {
            margin-bottom: 10px; 
        }
        .bg-dark{
            background-color: #000;
        }
    }
</style>
{% endblock %}
{% block content %}
<!-- page content -->
<div class="right_col" role="main">
    <div class="custom-container">
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="x_panel">
                    <h2 class="text-uppercase" style="font-weight:bold">Axles tab</h2>
                </div>
                <form action="{% url 'gearBox:truckAxlesFormSave' truckId=adminTruckObj.id %}" method="post">
                    {% csrf_token %}
                    {% comment %} <h2>Axles Form </h2> {% endcomment %}
                    <div class="x_panel">
                        <div class="x_content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="col-md-3">
                                            <select class="form-control"  id="vehicle_axle1" name="vehicle_axle1" >
                                                <option selected="selected" value="0">None</option>
                                                <option {% if truckAxlesObj.vehicle_axle1 == 1 %}selected{% endif %}  value="1" data-select2-id="3187">Single</option>
                                                <option  {% if truckAxlesObj.vehicle_axle1 == 2 %}selected{% endif %} value="2">Dual</option>
                                                <option {% if truckAxlesObj.vehicle_axle1 == 3 %}selected{% endif %} value="3">Triple</option>
                                                <option {% if truckAxlesObj.vehicle_axle1 == 4 %}selected{% endif %} value="4">Quad</option>
                                            </select>
                                            <div class="col brick my-1" {% if truckAxlesObj.vehicle_axle1 >= 1 and truckAxlesObj.vehicle_axle1 <= 4 %}style="background-color: black;"{% endif %}></div>
                                            <div class="col brick my-1" {% if truckAxlesObj.vehicle_axle1 >= 2 and truckAxlesObj.vehicle_axle1 <= 4 %}style="background-color: black;"{% endif %}></div>
                                            <div class="col brick my-1" {% if truckAxlesObj.vehicle_axle1 >= 3 and truckAxlesObj.vehicle_axle1 <= 4 %}style="background-color: black;"{% endif %}></div>
                                            <div class="col brick mt-1" {% if truckAxlesObj.vehicle_axle1 == 4 %}style="background-color: black;"{% endif %}></div>
                                            <div class="col brick mt-5" {% if truckAxlesObj.vehicle_axle1 == 4 %}style="background-color: black;"{% endif %}></div>
                                            <div class="col brick my-1" {% if truckAxlesObj.vehicle_axle1 >= 3 and truckAxlesObj.vehicle_axle1 <= 4 %}style="background-color: black;"{% endif %}></div>
                                            <div class="col brick my-1" {% if truckAxlesObj.vehicle_axle1 >= 2 and truckAxlesObj.vehicle_axle1 <= 4 %}style="background-color: black;"{% endif %}></div>
                                            <div class="col brick my-1" {% if truckAxlesObj.vehicle_axle1 >= 1 and truckAxlesObj.vehicle_axle1 <= 4 %}style="background-color: black;"{% endif %}></div>
                                            
                                            
                                        </div>
                                        
                                        <div class="col-md-3">
                                            <select class="form-control"  id="vehicle_axle2" name="vehicle_axle2" >
                                                <option selected="selected" value="0">None</option>
                                                <option {% if truckAxlesObj.vehicle_axle2 == 1 %}selected{% endif %}  value="1" data-select2-id="3187">Single</option>
                                                <option  {% if truckAxlesObj.vehicle_axle2 == 2 %}selected{% endif %} value="2">Dual</option>
                                                <option {% if truckAxlesObj.vehicle_axle2 == 3 %}selected{% endif %} value="3">Triple</option>
                                                <option {% if truckAxlesObj.vehicle_axle2 == 4 %}selected{% endif %} value="4">Quad</option>
                                            </select>
                                            <div class="col brick my-1" {% if truckAxlesObj.vehicle_axle2 >= 1 and truckAxlesObj.vehicle_axle2 <= 4 %}style="background-color: black;"{% endif %}></div>
                                            <div class="col brick my-1" {% if truckAxlesObj.vehicle_axle2 >= 2 and truckAxlesObj.vehicle_axle2 <= 4 %}style="background-color: black;"{% endif %}></div>
                                            <div class="col brick my-1" {% if truckAxlesObj.vehicle_axle2 >= 3 and truckAxlesObj.vehicle_axle2 <= 4 %}style="background-color: black;"{% endif %}></div>
                                            <div class="col brick mt-1" {% if truckAxlesObj.vehicle_axle2 == 4 %}style="background-color: black;"{% endif %}></div>
                                            <div class="col brick mt-5" {% if truckAxlesObj.vehicle_axle2 == 4 %}style="background-color: black;"{% endif %}></div>
                                            <div class="col brick my-1" {% if truckAxlesObj.vehicle_axle2 >= 3 and truckAxlesObj.vehicle_axle2 <= 4 %}style="background-color: black;"{% endif %}></div>
                                            <div class="col brick my-1" {% if truckAxlesObj.vehicle_axle2 >= 2 and truckAxlesObj.vehicle_axle2 <= 4 %}style="background-color: black;"{% endif %}></div>
                                            <div class="col brick my-1" {% if truckAxlesObj.vehicle_axle2 >= 1 and truckAxlesObj.vehicle_axle2 <= 4 %}style="background-color: black;"{% endif %}></div>
                                            
                                            
                                            
                                        </div>
                                        <div class="col-md-3">
                                            <select class="form-control"  id="vehicle_axle3" name="vehicle_axle3" >
                                                <option selected="selected" value="0">None</option>
                                                <option {% if truckAxlesObj.vehicle_axle3 == 1 %}selected{% endif %}  value="1" data-select2-id="3187">Single</option>
                                                <option  {% if truckAxlesObj.vehicle_axle3 == 2 %}selected{% endif %} value="2">Dual</option>
                                                <option {% if truckAxlesObj.vehicle_axle3 == 3 %}selected{% endif %} value="3">Triple</option>
                                                <option {% if truckAxlesObj.vehicle_axle3 == 4 %}selected{% endif %} value="4">Quad</option>
                                            </select>
                                            <div class="col brick my-1" {% if truckAxlesObj.vehicle_axle3 >= 1 and truckAxlesObj.vehicle_axle3 <= 4 %}style="background-color: black;"{% endif %}></div>
                                            <div class="col brick my-1" {% if truckAxlesObj.vehicle_axle3 >= 2 and truckAxlesObj.vehicle_axle3 <= 4 %}style="background-color: black;"{% endif %}></div>
                                            <div class="col brick my-1" {% if truckAxlesObj.vehicle_axle3 >= 3 and truckAxlesObj.vehicle_axle3 <= 4 %}style="background-color: black;"{% endif %}></div>
                                            <div class="col brick mt-1" {% if truckAxlesObj.vehicle_axle3 == 4 %}style="background-color: black;"{% endif %}></div>
                                            <div class="col brick mt-5" {% if truckAxlesObj.vehicle_axle3 == 4 %}style="background-color: black;"{% endif %}></div>
                                            <div class="col brick my-1" {% if truckAxlesObj.vehicle_axle3 >= 3 and truckAxlesObj.vehicle_axle3 <= 4 %}style="background-color: black;"{% endif %}></div>
                                            <div class="col brick my-1" {% if truckAxlesObj.vehicle_axle3 >= 2 and truckAxlesObj.vehicle_axle3 <= 4 %}style="background-color: black;"{% endif %}></div>
                                            <div class="col brick my-1" {% if truckAxlesObj.vehicle_axle3 >= 1 and truckAxlesObj.vehicle_axle3 <= 4 %}style="background-color: black;"{% endif %}></div>
                                            
                                            
                                        </div>
                                        <div class="col-md-3">
                                            <select class="form-control"  id="vehicle_axle4" name="vehicle_axle4" >
                                                <option selected="selected" value="0">None</option>
                                                <option {% if truckAxlesObj.vehicle_axle4 == 1 %}selected{% endif %}  value="1" data-select2-id="3187">Single</option>
                                                <option  {% if truckAxlesObj.vehicle_axle4 == 2 %}selected{% endif %} value="2">Dual</option>
                                                <option {% if truckAxlesObj.vehicle_axle4 == 3 %}selected{% endif %} value="3">Triple</option>
                                                <option {% if truckAxlesObj.vehicle_axle4 == 4 %}selected{% endif %} value="4">Quad</option>
                                            </select>
                                            <div class="col brick my-1" {% if truckAxlesObj.vehicle_axle4 >= 1 and truckAxlesObj.vehicle_axle4 <= 4 %}style="background-color: black;"{% endif %}></div>
                                            <div class="col brick my-1" {% if truckAxlesObj.vehicle_axle4 >= 2 and truckAxlesObj.vehicle_axle4 <= 4 %}style="background-color: black;"{% endif %}></div>
                                            <div class="col brick my-1" {% if truckAxlesObj.vehicle_axle4 >= 3 and truckAxlesObj.vehicle_axle4 <= 4 %}style="background-color: black;"{% endif %}></div>
                                            <div class="col brick mt-1" {% if truckAxlesObj.vehicle_axle4 == 4 %}style="background-color: black;"{% endif %}></div>
                                            <div class="col brick mt-5" {% if truckAxlesObj.vehicle_axle4 == 4 %}style="background-color: black;"{% endif %}></div>
                                            <div class="col brick my-1" {% if truckAxlesObj.vehicle_axle4 >= 3 and truckAxlesObj.vehicle_axle4 <= 4 %}style="background-color: black;"{% endif %}></div>
                                            <div class="col brick my-1" {% if truckAxlesObj.vehicle_axle4 >= 2 and truckAxlesObj.vehicle_axle4 <= 4 %}style="background-color: black;"{% endif %}></div>
                                            <div class="col brick my-1" {% if truckAxlesObj.vehicle_axle4 >= 1 and truckAxlesObj.vehicle_axle4 <= 4 %}style="background-color: black;"{% endif %}></div>
                                            
                                            
                                        </div>
                                        
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-3">
                                            <select class="form-control"  id="vehicle_axle5" name="vehicle_axle5" >
                                                <option selected="selected" value="0">None</option>
                                                <option {% if truckAxlesObj.vehicle_axle5 == 1 %}selected{% endif %}  value="1" data-select2-id="3187">Single</option>
                                                <option  {% if truckAxlesObj.vehicle_axle5 == 2 %}selected{% endif %} value="2">Dual</option>
                                                <option {% if truckAxlesObj.vehicle_axle5 == 3 %}selected{% endif %} value="3">Triple</option>
                                                <option {% if truckAxlesObj.vehicle_axle5 == 4 %}selected{% endif %} value="4">Quad</option>
                                            </select>
                                            <div class="col brick my-1" {% if truckAxlesObj.vehicle_axle5 >= 1 and truckAxlesObj.vehicle_axle5 <= 4 %}style="background-color: black;"{% endif %}></div>
                                            <div class="col brick my-1" {% if truckAxlesObj.vehicle_axle5 >= 2 and truckAxlesObj.vehicle_axle5 <= 4 %}style="background-color: black;"{% endif %}></div>
                                            <div class="col brick my-1" {% if truckAxlesObj.vehicle_axle5 >= 3 and truckAxlesObj.vehicle_axle5 <= 4 %}style="background-color: black;"{% endif %}></div>
                                            <div class="col brick mt-1" {% if truckAxlesObj.vehicle_axle5 == 4 %}style="background-color: black;"{% endif %}></div>
                                            <div class="col brick mt-5" {% if truckAxlesObj.vehicle_axle5 == 4 %}style="background-color: black;"{% endif %}></div>
                                            <div class="col brick my-1" {% if truckAxlesObj.vehicle_axle5 >= 3 and truckAxlesObj.vehicle_axle5 <= 4 %}style="background-color: black;"{% endif %}></div>
                                            <div class="col brick my-1" {% if truckAxlesObj.vehicle_axle5 >= 2 and truckAxlesObj.vehicle_axle5 <= 4 %}style="background-color: black;"{% endif %}></div>
                                            <div class="col brick my-1" {% if truckAxlesObj.vehicle_axle5 >= 1 and truckAxlesObj.vehicle_axle5 <= 4 %}style="background-color: black;"{% endif %}></div>
                                            
                                            
                                        </div>
                                        <div class="col-md-3">
                                            <select class="form-control"  id="vehicle_axle6" name="vehicle_axle6" >
                                                <option selected="selected" value="0">None</option>
                                                <option {% if truckAxlesObj.vehicle_axle6 == 1 %}selected{% endif %}  value="1" data-select2-id="3187">Single</option>
                                                <option  {% if truckAxlesObj.vehicle_axle6 == 2 %}selected{% endif %} value="2">Dual</option>
                                                <option {% if truckAxlesObj.vehicle_axle6 == 3 %}selected{% endif %} value="3">Triple</option>
                                                <option {% if truckAxlesObj.vehicle_axle6 == 4 %}selected{% endif %} value="4">Quad</option>
                                            </select>
                                            <div class="col brick my-1" {% if truckAxlesObj.vehicle_axle6 >= 1 and truckAxlesObj.vehicle_axle6 <= 4 %}style="background-color: black;"{% endif %}></div>
                                            <div class="col brick my-1" {% if truckAxlesObj.vehicle_axle6 >= 2 and truckAxlesObj.vehicle_axle6 <= 4 %}style="background-color: black;"{% endif %}></div>
                                            <div class="col brick my-1" {% if truckAxlesObj.vehicle_axle6 >= 3 and truckAxlesObj.vehicle_axle6 <= 4 %}style="background-color: black;"{% endif %}></div>
                                            <div class="col brick mt-1" {% if truckAxlesObj.vehicle_axle6 == 4 %}style="background-color: black;"{% endif %}></div>
                                            <div class="col brick mt-5" {% if truckAxlesObj.vehicle_axle6 == 4 %}style="background-color: black;"{% endif %}></div>
                                            <div class="col brick my-1" {% if truckAxlesObj.vehicle_axle6 >= 3 and truckAxlesObj.vehicle_axle6 <= 4 %}style="background-color: black;"{% endif %}></div>
                                            <div class="col brick my-1" {% if truckAxlesObj.vehicle_axle6 >= 2 and truckAxlesObj.vehicle_axle6 <= 4 %}style="background-color: black;"{% endif %}></div>
                                            <div class="col brick my-1" {% if truckAxlesObj.vehicle_axle6 >= 1 and truckAxlesObj.vehicle_axle6 <= 4 %}style="background-color: black;"{% endif %}></div>
                                               
                                            
                                        </div>
                                        <div class="col-md-3">
                                            <select class="form-control"  id="vehicle_axle7" name="vehicle_axle7" >
                                                <option selected="selected" value="0">None</option>
                                                <option {% if truckAxlesObj.vehicle_axle7 == 1 %}selected{% endif %}  value="1" data-select2-id="3187">Single</option>
                                                <option  {% if truckAxlesObj.vehicle_axle7 == 2 %}selected{% endif %} value="2">Dual</option>
                                                <option {% if truckAxlesObj.vehicle_axle7 == 3 %}selected{% endif %} value="3">Triple</option>
                                                <option {% if truckAxlesObj.vehicle_axle7 == 4 %}selected{% endif %} value="4">Quad</option>
                                            </select>
                                            <div class="col brick my-1" {% if truckAxlesObj.vehicle_axle7 >= 1 and truckAxlesObj.vehicle_axle7 <= 4 %}style="background-color: black;"{% endif %}></div>
                                            <div class="col brick my-1" {% if truckAxlesObj.vehicle_axle7 >= 2 and truckAxlesObj.vehicle_axle7 <= 4 %}style="background-color: black;"{% endif %}></div>
                                            <div class="col brick my-1" {% if truckAxlesObj.vehicle_axle7 >= 3 and truckAxlesObj.vehicle_axle7 <= 4 %}style="background-color: black;"{% endif %}></div>
                                            <div class="col brick mt-1" {% if truckAxlesObj.vehicle_axle7 == 4 %}style="background-color: black;"{% endif %}></div>
                                            <div class="col brick mt-5" {% if truckAxlesObj.vehicle_axle7 == 4 %}style="background-color: black;"{% endif %}></div>
                                            <div class="col brick my-1" {% if truckAxlesObj.vehicle_axle7 >= 3 and truckAxlesObj.vehicle_axle7 <= 4 %}style="background-color: black;"{% endif %}></div>
                                            <div class="col brick my-1" {% if truckAxlesObj.vehicle_axle7 >= 2 and truckAxlesObj.vehicle_axle7 <= 4 %}style="background-color: black;"{% endif %}></div>
                                            <div class="col brick my-1" {% if truckAxlesObj.vehicle_axle7 >= 1 and truckAxlesObj.vehicle_axle7 <= 4 %}style="background-color: black;"{% endif %}></div>
                                            
                                            
                                        </div>
                                        <div class="col-md-3">
                                            <select class="form-control"  id="vehicle_axle8" name="vehicle_axle8" >
                                                <option selected="selected" value="0">None</option>
                                                <option {% if truckAxlesObj.vehicle_axle8 == 1 %}selected{% endif %}  value="1" data-select2-id="3187">Single</option>
                                                <option  {% if truckAxlesObj.vehicle_axle8 == 2 %}selected{% endif %} value="2">Dual</option>
                                                <option {% if truckAxlesObj.vehicle_axle8 == 3 %}selected{% endif %} value="3">Triple</option>
                                                <option {% if truckAxlesObj.vehicle_axle8 == 4 %}selected{% endif %} value="4">Quad</option>
                                            </select>
                                            <div class="col brick my-1" {% if truckAxlesObj.vehicle_axle8 >= 1 and truckAxlesObj.vehicle_axle8 <= 4 %}style="background-color: black;"{% endif %}></div>
                                            <div class="col brick my-1" {% if truckAxlesObj.vehicle_axle8 >= 2 and truckAxlesObj.vehicle_axle8 <= 4 %}style="background-color: black;"{% endif %}></div>
                                            <div class="col brick my-1" {% if truckAxlesObj.vehicle_axle8 >= 3 and truckAxlesObj.vehicle_axle8 <= 4 %}style="background-color: black;"{% endif %}></div>
                                            <div class="col brick mt-1" {% if truckAxlesObj.vehicle_axle8 == 4 %}style="background-color: black;"{% endif %}></div>
                                            <div class="col brick mt-5" {% if truckAxlesObj.vehicle_axle8 == 4 %}style="background-color: black;"{% endif %}></div>
                                            <div class="col brick my-1" {% if truckAxlesObj.vehicle_axle8 >= 3 and truckAxlesObj.vehicle_axle8 <= 4 %}style="background-color: black;"{% endif %}></div>
                                            <div class="col brick my-1" {% if truckAxlesObj.vehicle_axle8 >= 2 and truckAxlesObj.vehicle_axle8 <= 4 %}style="background-color: black;"{% endif %}></div>
                                            <div class="col brick my-1" {% if truckAxlesObj.vehicle_axle8 >= 1 and truckAxlesObj.vehicle_axle8 <= 4 %}style="background-color: black;"{% endif %}></div>
                                            
                                            
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 text-right py-2 position-sticky px-0" style ="bottom:3%;">
                        <button type='submit' style="margin: 0px;" class="btn btn-default px-4">Next</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- /page content -->

{% endblock %}


{% block footerStyle %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{% static 'Dashboard/vendors/validator/multifield.js' %}"></script>
<script src="{% static 'Dashboard/vendors/validator/validator.js' %}"></script>


<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"
    integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $('.col-md-3').each(function() {
            var $bricks = $(this).find('.brick');
            var $selectBox = $(this).find('select');
    
            $selectBox.change(function() {
                var selectedValue = $(this).val();
                
                // Reset all bricks to default color before applying new selection
                $bricks.css('background-color', '');
    
                // Based on the selected value, change the color of bricks
                if(selectedValue > 0) {
                    // Change the color of the first 'selectedValue' bricks to black
                    $bricks.slice(0, selectedValue).css('background-color', 'black');
                    
                    // If you want to color the bricks below based on the selection,
                    // you might need to adjust this logic depending on your exact needs
                    $bricks.slice(-selectedValue).css('background-color', 'black');
                }
            });
    
            // The previous click event on bricks can be adjusted or removed
            // based on how you want to interact with the bricks directly.
        });
    });
    
    

    // initialize a validator instance from the "FormValidator" constructor.
    // A "<form>" element is optionally passed as an argument, but is not a must
    var validator = new FormValidator({
        "events": ['blur', 'input', 'change']
    }, document.forms[0]);
    // on form "submit" event
    document.forms[0].onsubmit = function (e) {
        var submit = true,
            validatorResult = validator.checkAll(this);
        console.log(validatorResult);
        return !!validatorResult.valid;
    };
    // on form "reset" event
    document.forms[0].onreset = function (e) {
        validator.reset();
    };
    // stuff related ONLY for this demo page:
    $('.toggleValidationTooltips').change(function () {
        validator.settings.alerts = !this.checked;
        if (this.checked)
            $('form .alert').remove();
    }).prop('checked', false);

</script>
{% endblock %}