 {% extends "main/main.html" %}
{% load static %}
{% block title %} | RCTI entry {% endblock %}

{% block content %}


<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="x_panel">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2> {% if rcti %} View RCTI {% else %} Add RCTI {% endif  %}:-</h2>
                            <div class="clearfix"></div>
                        </div>
                        <form action="{% url 'Account:rctiFormSave' %}" method="post" novalidate>
                            {%csrf_token%}
                            <div class="x_content">
                                <div class="custom-continer">
                                    <!-- truckNo,docketNumber,docketDate,docketYard -->
                                    <div class="col-md-3 col-sm-3">
                                        <label for="truckNo">Truck no :<span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control" required type="number" name="truckNo"
                                                pattern="[0-9]*" required data-validate-length-range="0,5"
                                                style="padding: 0.25rem 0.2rem;" value="{{ rcti.truckNo }}" id="truckNo"
                                                {% if rcti %} {% if rcti %} readonly {% endif  %} {% endif  %}>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <label for="docketNumber">Docket number :<span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control" required type="number" name="docketNumber"
                                                pattern="[0-9]*" required data-validate-length-range="0,5"
                                                style="padding: 0.25rem 0.2rem;" value="{{ rcti.docketNumber }}"
                                                id="docketNumber" {% if rcti %} {% if rcti %} readonly {% endif  %} {% endif  %}>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <label for="docketDate">Docket date :<span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control" required type="date" name="docketDate" 
                                                style="padding: 0.25rem 0.2rem;" value="{{ rcti.docketDate }}"
                                                id="docketDate" {% if rcti %} {% if rcti %} readonly {% endif  %} {% endif  %}>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <label for="docketYard">Docket yard :<span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control" required type="text" name="docketYard"
                                                style="padding: 0.25rem 0.2rem;" value="{{ rcti.docketYard }}"
                                                id="docketYard" {% if rcti %} {% if rcti %} readonly {% endif  %} {% endif  %}>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <label for="noOfKm">Number of km :<span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control" required type="number" name="noOfKm"
                                                pattern="[0-9]*" required data-validate-length-range="0,5"
                                                style="padding: 0.25rem 0.2rem;" value="{{  rcti.noOfKm  }}" id="noOfKm"
                                                {% if rcti %} {% if rcti %} readonly {% endif  %} {% endif  %}>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <label for="cubicMl">Cubic Ml :<span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control" required type="number" name="cubicMl"
                                                pattern="[0-9]*" required data-validate-length-range="0,5"
                                                style="padding: 0.25rem 0.2rem;" value="{{  rcti.cubicMl  }}" id="cubicMl"
                                                {% if rcti %} {% if rcti %} readonly {% endif  %} {% endif  %}>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <label for="cubicMiAndKmsCost">Cubic MI and Kms cost :<span
                                                class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control" required type="number" name="cubicMiAndKmsCost"
                                                pattern="[0-9]*" required data-validate-length-range="0,5"
                                                style="padding: 0.25rem 0.2rem;" value="{{  rcti.cubicMiAndKmsCost  }}"
                                                id="cubicMiAndKmsCost" {% if rcti %} {% if rcti %} readonly {% endif  %} {% endif  %}>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <label for="destination">Destination :<span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control" required type="text" name="destination"
                                                style="padding: 0.25rem 0.2rem;" value="{{  rcti.destination  }}"
                                                id="destination" {% if rcti %} {% if rcti %} readonly {% endif  %} {% endif  %}>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <label for="cartageGSTPayable">Cartage GST payable :<span
                                                class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control" required type="number" name="cartageGSTPayable"
                                                pattern="[0-9]*" required data-validate-length-range="0,5"
                                                style="padding: 0.25rem 0.2rem;" value="{{  rcti.cartageGSTPayable  }}"
                                                id="cartageGSTPayable" {% if rcti %} readonly {% endif  %}>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <label for="cartageTotalExGST">Cartage total exclude GST :<span
                                                class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control" required type="number" name="cartageTotalExGST"
                                                pattern="[0-9]*" required data-validate-length-range="0,5"
                                                style="padding: 0.25rem 0.2rem;" value="{{  rcti.cartageTotalExGST  }}"
                                                id="cartageTotalExGST" {% if rcti %} readonly {% endif  %}>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <label for="cartageTotal">Cartage Total :<span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control" required type="number" name="cartageTotal"
                                                pattern="[0-9]*" required data-validate-length-range="0,5"
                                                style="padding: 0.25rem 0.2rem;" value="{{  rcti.cartageTotal  }}"
                                                id="cartageTotal" {% if rcti %} readonly {% endif  %}>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <label for="transferKM">Transfer KM :<span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control" required type="number" name="transferKM"
                                                pattern="[0-9]*" required data-validate-length-range="0,5"
                                                style="padding: 0.25rem 0.2rem;" value="{{  rcti.transferKM  }}"
                                                id="transferKM" {% if rcti %} readonly {% endif  %}>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <label for="transferKMCost">Transfer KM cost :<span
                                                class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control" required type="number" name="transferKMCost"
                                                pattern="[0-9]*" required data-validate-length-range="0,5"
                                                style="padding: 0.25rem 0.2rem;" value="{{  rcti.transferKMCost  }}"
                                                id="transferKMCost" {% if rcti %} readonly {% endif  %}>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <label for="transferKMGSTPayable">Transfer KM GST Payable :<span
                                                class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control" required type="number" name="transferKMGSTPayable"
                                                pattern="[0-9]*" required data-validate-length-range="0,5"
                                                style="padding: 0.25rem 0.2rem;" value="{{  rcti.transferKMGSTPayable  }}"
                                                id="transferKMGSTPayable" {% if rcti %} readonly {% endif  %}>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <label for="transferKMTotalExGST">Transfer KM total exclude GST :<span
                                                class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control" required type="number" name="transferKMTotalExGST"
                                                pattern="[0-9]*" required data-validate-length-range="0,5"
                                                style="padding: 0.25rem 0.2rem;" value="{{  rcti.transferKMTotalExGST  }}"
                                                id="transferKMTotalExGST" {% if rcti %} readonly {% endif  %}>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <label for="transferKMTotal">Transfer KM total :<span
                                                class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control" required type="number" name="transferKMTotal"
                                                pattern="[0-9]*" required data-validate-length-range="0,5"
                                                style="padding: 0.25rem 0.2rem;" value="{{  rcti.transferKMTotal  }}"
                                                id="transferKMTotal" {% if rcti %} readonly {% endif  %}>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <label for="returnKm">Return KM :<span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control" required type="number" name="returnKm"
                                                pattern="[0-9]*" required data-validate-length-range="0,5"
                                                style="padding: 0.25rem 0.2rem;" value="{{  rcti.returnKm  }}" id="returnKm"
                                                {% if rcti %} readonly {% endif  %}>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <label for="returnPerKmPerCubicMeterCost">Return per KM per cubic meter cost :<span
                                                class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control" required type="number"
                                                name="returnPerKmPerCubicMeterCost" pattern="[0-9]*" required
                                                data-validate-length-range="0,5" style="padding: 0.25rem 0.2rem;"
                                                value="{{  rcti.returnPerKmPerCubicMeterCost  }}"
                                                id="returnPerKmPerCubicMeterCost" {% if rcti %} readonly {% endif  %}>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <label for="returnKmGSTPayable">Return KM GST payable :<span
                                                class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control" required type="number" name="returnKmGSTPayable"
                                                pattern="[0-9]*" required data-validate-length-range="0,5"
                                                style="padding: 0.25rem 0.2rem;" value="{{  rcti.returnKmGSTPayable  }}"
                                                id="returnKmGSTPayable" {% if rcti %} readonly {% endif  %}>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <label for="returnKmTotalExGST">Return KM total exclude GST :<span
                                                class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control" required type="number" name="returnKmTotalExGST"
                                                pattern="[0-9]*" required data-validate-length-range="0,5"
                                                style="padding: 0.25rem 0.2rem;" value="{{  rcti.returnKmTotalExGST  }}"
                                                id="returnKmTotalExGST" {% if rcti %} readonly {% endif  %}>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <label for="returnKmTotal">Return KM total :<span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control" required type="number" name="returnKmTotal"
                                                pattern="[0-9]*" required data-validate-length-range="0,5"
                                                style="padding: 0.25rem 0.2rem;" value="{{  rcti.returnKmTotal  }}"
                                                id="returnKmTotal" {% if rcti %} readonly {% endif  %}>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <label for="waitingTimeSCHED">Waiting time surcharge :<span
                                                class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control" required type="number" name="waitingTimeSCHED"
                                                pattern="[0-9]*" required data-validate-length-range="0,5"
                                                style="padding: 0.25rem 0.2rem;" value="{{  rcti.waitingTimeSCHED  }}"
                                                id="waitingTimeSCHED" {% if rcti %} readonly {% endif  %}>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <label for="waitingTimeSCHEDCost">Waiting time surcharge cost :<span
                                                class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control" required type="number" name="waitingTimeSCHEDCost"
                                                pattern="[0-9]*" required data-validate-length-range="0,5"
                                                style="padding: 0.25rem 0.2rem;" value="{{  rcti.waitingTimeSCHEDCost  }}"
                                                id="waitingTimeSCHEDCost" {% if rcti %} readonly {% endif  %}>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <label for="waitingTimeSCHEDGSTPayable">Waiting time GST payable :<span
                                            class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control" required type="number" name="waitingTimeSCHEDGSTPayable"
                                            pattern="[0-9]*" required data-validate-length-range="0,5"
                                            style="padding: 0.25rem 0.2rem;" value="{{  rcti.waitingTimeSCHEDGSTPayable  }}"
                                            id="waitingTimeSCHEDGSTPayable" {% if rcti %} readonly {% endif  %}>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <label for="waitingTimeSCHEDTotalExGST">Waiting time surcharge total exclude GST :<span
                                            class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control" required type="number" name="waitingTimeSCHEDTotalExGST"
                                            pattern="[0-9]*" required data-validate-length-range="0,5"
                                            style="padding: 0.25rem 0.2rem;" value="{{  rcti.waitingTimeSCHEDTotalExGST  }}"
                                            id="waitingTimeSCHEDTotalExGST" {% if rcti %} readonly {% endif  %}>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <label for="waitingTimeSCHEDTotal">Waiting time surcharge total :<span
                                            class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control" required type="number" name="waitingTimeSCHEDTotal"
                                            pattern="[0-9]*" required data-validate-length-range="0,5"
                                            style="padding: 0.25rem 0.2rem;" value="{{  rcti.waitingTimeSCHEDTotal  }}"
                                            id="waitingTimeSCHEDTotal" {% if rcti %} readonly {% endif  %}>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <label for="waitingTimeInMinutes">waiting time in minutes :<span
                                            class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control" required type="number" name="waitingTimeInMinutes"
                                            pattern="[0-9]*" required data-validate-length-range="0,5"
                                            style="padding: 0.25rem 0.2rem;" value="{{  rcti.waitingTimeInMinutes  }}"
                                            id="waitingTimeInMinutes" {% if rcti %} readonly {% endif  %}>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <label for="waitingTimeCost">Waiting time cost :<span class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control" required type="number" name="waitingTimeCost"
                                            pattern="[0-9]*" required data-validate-length-range="0,5"
                                            style="padding: 0.25rem 0.2rem;" value="{{  rcti.waitingTimeCost  }}"
                                            id="waitingTimeCost" {% if rcti %} readonly {% endif  %}>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <label for="waitingTimeGSTPayable">Waiting time GST payable :<span
                                            class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control" required type="number" name="waitingTimeGSTPayable"
                                            pattern="[0-9]*" required data-validate-length-range="0,5"
                                            style="padding: 0.25rem 0.2rem;" value="{{  rcti.waitingTimeGSTPayable  }}"
                                            id="waitingTimeGSTPayable" {% if rcti %} readonly {% endif  %}>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <label for="waitingTimeTotalExGST">Waiting time total exclude GST :<span
                                            class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control" required type="number" name="waitingTimeTotalExGST"
                                            pattern="[0-9]*" required data-validate-length-range="0,5"
                                            style="padding: 0.25rem 0.2rem;" value="{{  rcti.waitingTimeTotalExGST  }}"
                                            id="waitingTimeTotalExGST" {% if rcti %} readonly {% endif  %}>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <label for="waitingTimeTotal">Waiting time total :<span
                                            class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control" required type="number" name="waitingTimeTotal"
                                            pattern="[0-9]*" required data-validate-length-range="0,5"
                                            style="padding: 0.25rem 0.2rem;" value="{{  rcti.waitingTimeTotal  }}"
                                            id="waitingTimeTotal" {% if rcti %} readonly {% endif  %}>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <label for="standByPerHalfHourCost">Stand by per half hour cost :<span
                                            class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control" required type="number" name="standByPerHalfHourCost"
                                            pattern="[0-9]*" required data-validate-length-range="0,5"
                                            style="padding: 0.25rem 0.2rem;" value="{{  rcti.standByPerHalfHourCost  }}"
                                            id="standByPerHalfHourCost" {% if rcti %} readonly {% endif  %}>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-3">
                                    <label for="standByPerHalfHourDuration">Stand by per half hour duration :<span
                                            class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control" required type="number" name="standByPerHalfHourDuration"
                                            pattern="[0-9]*" required data-validate-length-range="0,5" style="padding: 0.25rem 0.2rem;"
                                            value="{{  rcti.standByPerHalfHourDuration  }}" id="standByPerHalfHourDuration" {% if rcti %} readonly {% endif  %}>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <label for="standByUnit">Stand by unit :<span class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control" required type="text" name="standByUnit" required
                                            style="padding: 0.25rem 0.2rem;"
                                            value="{{  rcti.standByUnit  }}" id="standByUnit" {% if rcti %} readonly {% endif  %}>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <label for="standByGSTPayable">Stand by GST payable :<span class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control" required type="number" name="standByGSTPayable" pattern="[0-9]*"
                                            required data-validate-length-range="0,5" style="padding: 0.25rem 0.2rem;"
                                            value="{{  rcti.standByGSTPayable  }}" id="standByGSTPayable" {% if rcti %} readonly {% endif  %}>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <label for="standByTotalExGST">Stand by total exclude GST :<span class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control" required type="number" name="standByTotalExGST" pattern="[0-9]*"
                                            required data-validate-length-range="0,5" style="padding: 0.25rem 0.2rem;"
                                            value="{{  rcti.standByTotalExGST  }}" id="standByTotalExGST" {% if rcti %} readonly {% endif  %}>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <label for="standByTotal">Stand by total :<span class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control" required type="number" name="standByTotal" pattern="[0-9]*" required
                                            data-validate-length-range="0,5" style="padding: 0.25rem 0.2rem;"
                                            value="{{  rcti.standByTotal  }}" id="standByTotal" {% if rcti %} readonly {% endif  %}>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <label for="minimumLoad">Minimum load :<span class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control" required type="number" name="minimumLoad" pattern="[0-9]*" required
                                            data-validate-length-range="0,5" style="padding: 0.25rem 0.2rem;"
                                            value="{{  rcti.minimumLoad  }}" id="minimumLoad" {% if rcti %} readonly {% endif  %}>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <label for="loadCost">Load cost :<span class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control" required type="number" name="loadCost" pattern="[0-9]*" required
                                            data-validate-length-range="0,5" style="padding: 0.25rem 0.2rem;"
                                            value="{{  rcti.loadCost  }}" id="loadCost" {% if rcti %} readonly {% endif  %}>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <label for="minimumLoadGSTPayable">Minimum load GST payable :<span class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control" required type="number" name="minimumLoadGSTPayable" pattern="[0-9]*"
                                            required data-validate-length-range="0,5" style="padding: 0.25rem 0.2rem;"
                                            value="{{  rcti.minimumLoadGSTPayable  }}" id="minimumLoadGSTPayable" {% if rcti %} readonly {% endif  %}>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <label for="minimumLoadTotalExGST">Minimum load total exclude GST :<span
                                            class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control" required type="number" name="minimumLoadTotalExGST" pattern="[0-9]*"
                                            required data-validate-length-range="0,5" style="padding: 0.25rem 0.2rem;"
                                            value="{{  rcti.minimumLoadTotalExGST  }}" id="minimumLoadTotalExGST" {% if rcti %} readonly {% endif  %}>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <label for="minimumLoadTotal">Minimum load total :<span class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control" required type="number" name="minimumLoadTotal" pattern="[0-9]*"
                                            required data-validate-length-range="0,5" style="padding: 0.25rem 0.2rem;"
                                            value="{{  rcti.minimumLoadTotal  }}" id="minimumLoadTotal" {% if rcti %} readonly {% endif  %}>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <label for="surcharge_fixed_normal">Surcharge fixed normal :<span class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control" required type="number" name="surcharge_fixed_normal"
                                            pattern="[0-9]*" required data-validate-length-range="0,5" style="padding: 0.25rem 0.2rem;"
                                            value="{{  rcti.surcharge_fixed_normal  }}" id="surcharge_fixed_normal" {% if rcti %} readonly {% endif  %}>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <label for="surcharge_fixed_sunday">Surcharge fixed sunday :<span class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control" required type="number" name="surcharge_fixed_sunday"
                                            pattern="[0-9]*" required data-validate-length-range="0,5" style="padding: 0.25rem 0.2rem;"
                                            value="{{  rcti.surcharge_fixed_sunday  }}" id="surcharge_fixed_sunday" {% if rcti %} readonly {% endif  %}>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <label for="surcharge_fixed_public_holiday">Surcharge fixed public holiday :<span
                                            class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control" required type="number" name="surcharge_fixed_public_holiday"
                                            pattern="[0-9]*" required data-validate-length-range="0,5" style="padding: 0.25rem 0.2rem;"
                                            value="{{  rcti.surcharge_fixed_public_holiday  }}" id="surcharge_fixed_public_holiday"
                                            {% if rcti %} readonly {% endif  %}>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <label for="surcharge_per_cubic_meters_normal">Surcharge per cubic meters normal :<span
                                            class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control" required type="number" name="surcharge_per_cubic_meters_normal"
                                            pattern="[0-9]*" required data-validate-length-range="0,5" style="padding: 0.25rem 0.2rem;"
                                            value="{{  rcti.surcharge_per_cubic_meters_normal  }}"
                                            id="surcharge_per_cubic_meters_normal" {% if rcti %} readonly {% endif  %}>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <label for="surcharge_per_cubic_meters_sunday">Surcharge per cubic meters sunday :<span
                                            class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control" required type="number" name="surcharge_per_cubic_meters_sunday"
                                            pattern="[0-9]*" required data-validate-length-range="0,5" style="padding: 0.25rem 0.2rem;"
                                            value="{{  rcti.surcharge_per_cubic_meters_sunday  }}"
                                            id="surcharge_per_cubic_meters_sunday" {% if rcti %} readonly {% endif  %}>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <label for="surcharge_per_cubic_meters_public_holiday">Surcharge per cubic meters public holiday
                                        :<span class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control" required type="number"
                                            name="surcharge_per_cubic_meters_public_holiday" pattern="[0-9]*" required
                                            data-validate-length-range="0,5" style="padding: 0.25rem 0.2rem;"
                                            value="{{  rcti.surcharge_per_cubic_meters_public_holiday  }}"
                                            id="surcharge_per_cubic_meters_public_holiday" {% if rcti %} readonly {% endif  %}>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <label for="surcharge_duration">Surcharge duration :<span class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control" required type="number" name="surcharge_duration" pattern="[0-9]*"
                                            required data-validate-length-range="0,5" style="padding: 0.25rem 0.2rem;"
                                            value="{{  rcti.surcharge_duration  }}" id="surcharge_duration" {% if rcti %} readonly {% endif  %}>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <label for="surchargeUnit">Surcharge unit :<span class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control" required type="text" name="surchargeUnit"
                                            required style="padding: 0.25rem 0.2rem;"
                                            value="{{  rcti.surchargeUnit  }}" id="surchargeUnit" {% if rcti %} readonly {% endif  %}>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <label for="surchargeGSTPayable">Surcharge GST payable :<span class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control" required type="number" name="surchargeGSTPayable" pattern="[0-9]*"
                                            required data-validate-length-range="0,5" style="padding: 0.25rem 0.2rem;"
                                            value="{{  rcti.surchargeGSTPayable  }}" id="surchargeGSTPayable" {% if rcti %} readonly {% endif  %}>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <label for="surchargeTotalExGST">Surcharge total exclude GST :<span
                                            class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control" required type="number" name="surchargeTotalExGST" pattern="[0-9]*"
                                            required data-validate-length-range="0,5" style="padding: 0.25rem 0.2rem;"
                                            value="{{  rcti.surchargeTotalExGST  }}" id="surchargeTotalExGST" {% if rcti %} readonly {% endif  %}>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <label for="surchargeTotal">Surcharge total :<span class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control" required type="number" name="surchargeTotal" pattern="[0-9]*"
                                            required data-validate-length-range="0,5" style="padding: 0.25rem 0.2rem;"
                                            value="{{  rcti.surchargeTotal  }}" id="surchargeTotal" {% if rcti %} readonly {% endif  %}>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <label for="others">Others :<span class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control" required type="number" name="others" pattern="[0-9]*" required
                                            data-validate-length-range="0,5" style="padding: 0.25rem 0.2rem;"
                                            value="{{  rcti.others  }}" id="others" {% if rcti %} readonly {% endif  %}>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <label for="othersCost">Others cost :<span class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control" required type="number" name="othersCost" pattern="[0-9]*" required
                                            data-validate-length-range="0,5" style="padding: 0.25rem 0.2rem;"
                                            value="{{  rcti.othersCost  }}" id="othersCost" {% if rcti %} readonly {% endif  %}>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <label for="othersGSTPayable">Others GST payable :<span class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control" required type="number" name="othersGSTPayable" pattern="[0-9]*"
                                            required data-validate-length-range="0,5" style="padding: 0.25rem 0.2rem;"
                                            value="{{  rcti.othersGSTPayable  }}" id="othersGSTPayable" {% if rcti %} readonly {% endif  %}>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <label for="othersTotalExGST">Others total exclude GST :<span class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control" required type="number" name="othersTotalExGST" pattern="[0-9]*"
                                            required data-validate-length-range="0,5" style="padding: 0.25rem 0.2rem;"
                                            value="{{  rcti.othersTotalExGST  }}" id="othersTotalExGST" {% if rcti %} readonly {% endif  %}>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <label for="othersTotal">Others total :<span class="required">*</span></label>
                                    <div class="field item form-group">
                                        <input class="form-control" required type="number" name="othersTotal" pattern="[0-9]*" required
                                            data-validate-length-range="0,5" style="padding: 0.25rem 0.2rem;"
                                            value="{{  rcti.othersTotal  }}" id="othersTotal" {% if rcti %} readonly {% endif  %}>
                                    </div>
                                </div>
                            </div>
                            <input type="submit" value="Save" class="btn btn-default float-right">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

</div>

</div>

{% endblock %}



{% block footerStyle %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{% static 'Dashboard/vendors/validator/multifield.js' %}"></script>
<script src="{% static 'Dashboard/vendors/validator/validator.js' %}"></script>

<script src="{% static 'js/reconciliation_analysis.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"
    integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>

    var validator = new FormValidator({
        "events": ['blur', 'input', 'change']
    }, document.forms[0]);
    // on form "submit" event
    document.forms[0].onsubmit = function (e) {

        var submit = true,
            validatorResult = validator.checkAll(this);
        console.log(validatorResult);

        return !!validatorResult.valid;
    };
    // on form "reset" event
    document.forms[0].onreset = function (e) {
        validator.reset();
    };
    // stuff related ONLY for this demo page:
    $('.toggleValidationTooltips').change(function () {
        validator.settings.alerts = !this.checked;
        if (this.checked)
            $('form .alert').remove();
    }).prop('checked', false);

</script>

{% endblock %}
